[data-mbx-id="psw"] {
  display: flex;
  flex-direction: row;
  width: fit-content;
  border-radius: 5px;
  --mbx-defbg: var(--mbx-password-background);
  --mbx-deftxt: var(--mbx-password-text);
  --mbx-txt-l: var(--mbx-password-text-light);
  --mbx-bg-l: var(--mbx-password-background-light);
  --mbx-txt-d: var(--mbx-password-text-dark);
  --mbx-bg-d: var(--mbx-password-background-dark);
  --mbx-pswt: var(--mbx-txt);
  --mbx-pswbg: var(--mbx-bg);
}

[data-mbx-id="psw"] > [data-mbx-id="inp"] {
  border-bottom-right-radius: 0%;
  border-top-right-radius: 0%;
  --mbx-sh-def: none;
  --mbx-deftxth: var(--mbx-pswt);
  --mbx-defbgh: var(--mbx-password-background-hover);
  --mbx-inputbox-text-light: var(--mbx-pswt);
  --mbx-inputbox-text-dark: var(--mbx-pswt);
  --mbx-inputbox-background-light: var(--mbx-pswbg);
  --mbx-inputbox-background-dark: var(--mbx-pswbg);
  --mbx-inputbox-background-hover-light: var(
    --mbx-password-background-hover-light
  );
  --mbx-inputbox-background-hover-dark: var(
    --mbx-password-background-hover-dark
  );
}

[data-mbx-id="psw"] > [data-mbx-id="icb"] {
  margin: auto 0.5rem;
  --mbx-trdur: 0.1s;
  width: fit-content;
}

[data-mbx-id="psw"] > [data-mbx-id="icb"] > [data-mbx-img] {
  --mbx-defic: var(--mbx-password-icon, var(--mbx-pswt));
  --mbx-defich: var(--mbx-password-icon-hover, var(--mbx-pswt));
  --mbx-icn-l: var(--mbx-password-icon-light);
  --mbx-icn-d: var(--mbx-password-icon-dark);
  --mbx-icn-hv-l: var(--mbx-password-icon-hover-light);
  --mbx-icn-hv-d: var(--mbx-password-icon-hover-dark);
}
