[data-mbx-id="selector"] {
  padding: 0.2rem;
  background: var(--mbx-c-sel-bg);
  color: var(--mbx-c-sel-txt);
  border: 0;
  border-radius: 6px;
}

[data-mbx-id="selector"] [data-mbx-class="selector-option"] {
  background-color: var(--mbx-c-sel-bg);
  color: var(--mbx-c-sel-txt);
  padding: 1rem;
}


