[data-mbx-id="date-picker"] {
  border-radius: 0.375rem;
  color: var(--mbx-text-color);
  padding: 0.3rem 0.5rem;
  width: max-content;
  background: var(--mbx-c-dtp-bg);
  color: var(--mbx-c-dtp-txt);
}

[data-mbx-id="date-picker"] [data-mbx-id="calendar"] {
  margin: auto;
  max-width: 80%;
}

[data-mbx-id="date-picker"] [data-mbx-scl*="dpick-el"] {
  vertical-align: middle;
  display: inline-block;
  margin-right: 0.3rem;
}

[data-mbx-id="date-picker"] [data-mbx-class="calendar-icon"] path {
  fill: var(--mbx-c-dtp-ic);
}

@media (hover) {
  [data-mbx-id="date-picker"]:not([data-mbx-atts*="dsb"])
    [data-mbx-class="calendar-icon"]:hover
    path {
    fill: var(--mbx-c-dtp-ic-h);
  }
}

@media (max-width: 600px) {
  [data-mbx-id="date-picker"] [data-mbx-id="calendar"] {
    max-width: 90%;
  }
}

@media (max-width: 500px) {
  [data-mbx-id="date-picker"] [data-mbx-id="calendar"] {
    max-width: 95%;
  }
}

@media (max-width: 400px) {
  [data-mbx-id="date-picker"] [data-mbx-id="calendar"] {
    max-width: 100%;
  }
}

@media (max-width: 300px) {
  [data-mbx-id="date-picker"] {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 260px) {
  [data-mbx-id="date-picker"] [data-mbx-scl*="date-s"] {
    flex-direction: column;
    align-items: center;
  }
}
