[data-mbx-id="dpick"] {
  --mbx-dtp-bg: var(
    --mbx-datepicker-background-light,
    var(--mbx-datepicker-background, var(--mbx-c-bg))
  );
  --mbx-dtp-txt: var(
    --mbx-datepicker-text-color-light,
    var(--mbx-datepicker-text-color, var(--mbx-c-txt))
  );
  --mbx-calendar-background-light: var(
    --mbx-datepicker-calendar-background-light,
    var(--mbx-datepicker-calendar-background)
  );
  --mbx-calendar-text-color-light: var(
    --mbx-datepicker-calendar-text-color-light,
    var(--mbx-datepicker-text-color)
  );
  --mbx-calendar-arrow-light: var(
    --mbx-datepicker-calendar-arrow-light,
    var(--mbx-datepicker-calendar-arrow, white)
  );
  --mbx-calendar-background-hover-light: var(
    --mbx-datepicker-calendar-background-hover-light,
    var(--mbx-datepicker-calendar-background-hover)
  );
  --mbx-calendar-text-color-hover-light: var(
    --mbx-datepicker-calendar-text-color-hover-light,
    var(--mbx-datepicker-calendar-text-color-hover)
  );
  --mbx-calendar-arrow-hover-light: var(
    --mbx-datepicker-calendar-arrow-hover-light,
    var(--mbx-datepicker-calendar-arrow-hover)
  );
  --mbx-calendar-selected-background-light: var(
    --mbx-datepicker-calendar-background-selected-light,
    var(--mbx-datepicker-calendar-background-selected)
  );
  --mbx-calendar-selected-text-color-light: var(
    --mbx-datepicker-calendar-text-color-selected-light,
    var(--mbx-datepicker-calendar-text-color-selected)
  );
  --mbx-modal-background-light: var(
    --mbx-datepicker-modal-background-light,
    var(--mbx-datepicker-modal-background)
  );
  --mbx-modal-x-color-light: var(
    --mbx-datepicker-modal-x-color-light,
    var(--mbx-datepicker-modal-x-color)
  );
  --mbx-modal-x-color-hover-light: var(
    --mbx-datepicker-modal-x-color-hover-light,
    var(--mbx-datepicker-modal-x-color-hover)
  );
  --mbx-calendar-today-light: var(
    --mbx-datepicker-calendar-today-light,
    var(--mbx-datepicker-calendar-today)
  );
  --mbx-calendar-background-dark: var(
    --mbx-datepicker-calendar-background-dark,
    var(--mbx-datepicker-calendar-background)
  );
  --mbx-calendar-text-color-dark: var(
    --mbx-datepicker-calendar-text-color-dark,
    var(--mbx-datepicker-text-color)
  );
  --mbx-calendar-arrow-dark: var(
    --mbx-datepicker-calendar-arrow-dark,
    var(--mbx-datepicker-calendar-arrow, white)
  );
  --mbx-calendar-arrow-hover-dark: var(
    --mbx-datepicker-calendar-arrow-hover-dark,
    var(--mbx-datepicker-calendar-arrow-hover)
  );
  --mbx-calendar-selected-background-dark: var(
    --mbx-datepicker-calendar-background-selected-dark,
    var(--mbx-datepicker-calendar-background-selected)
  );
  --mbx-calendar-selected-text-color-dark: var(
    --mbx-datepicker-calendar-text-color-selected-dark,
    var(--mbx-datepicker-calendar-text-color-selected)
  );
  --mbx-modal-background-dark: var(
    --mbx-datepicker-modal-background-dark,
    var(--mbx-modal-background)
  );
  --mbx-modal-x-color-dark: var(
    --mbx-datepicker-modal-x-color-dark,
    var(--mbx-datepicker-modal-x-color)
  );
  --mbx-modal-x-color-hover-dark: var(
    --mbx-datepicker-modal-x-color-hover-dark,
    var(--mbx-datepicker-modal-x-color-hover)
  );
  --mbx-calendar-background-hover-dark: var(
    --mbx-datepicker-calendar-background-hover-dark,
    var(--mbx-datepicker-calendar-background-hover)
  );
  --mbx-calendar-text-color-hover-dark: var(
    --mbx-datepicker-calendar-text-color-hover-dark,
    var(--mbx-datepicker-calendar-text-color-hover)
  );
  --mbx-calendar-today-dark: var(
    --mbx-datepicker-calendar-today-dark,
    var(--mbx-datepicker-calendar-today)
  );
  border-radius: 0.375rem;
  padding: 0.3rem 0.5rem;
  width: max-content;
  display: flex;
  flex-direction: row;
  background: var(--mbx-dtp-bg);
  color: var(--mbx-dtp-txt);
}

[data-mbx-id="dpick"][data-mbx-dk] {
  --mbx-dtp-bg: var(
    --mbx-datepicker-background-dark,
    var(--mbx-datepicker-background, var(--mbx-c-bg))
  );
  --mbx-dtp-txt: var(
    --mbx-datepicker-text-color-dark,
    var(--mbx-datepicker-text-color, var(--mbx-c-txt))
  );
}

[data-mbx-id="dpick"] > [data-mbx-date-s] {
  display: flex;
  flex-direction: row;
}

[data-mbx-id="dpick"] > [data-mbx-id="icb"] {
  --mbx-icon-light: var(
    --mbx-datepicker-icon-light,
    var(--mbx-datepicker-icon, var(--mbx-dtp-txt))
  );
  --mbx-icon-hover-light: var(
    --mbx-datepicker-icon-hover-light,
    var(--mbx-datepicker-icon-hover, var(--mbx-c-fc))
  );
  --mbx-icon-dark: var(
    --mbx-datepicker-icon-dark,
    var(--mbx-datepicker-icon, var(--mbx-dtp-txt))
  );
  --mbx-icon-hover-dark: var(
    --mbx-datepicker-icon-hover-dark,
    var(--mbx-datepicker-icon-hover, var(--mbx-c-fc))
  );
}

[data-mbx-id="dpick"] [data-mbx-id="cal"] {
  max-width: 80%;
  margin: auto;
}

[data-mbx-id="dpick"] > [data-mbx-date-s] > [data-mbx-id="label"] {
  vertical-align: middle;
  display: inline-block;
  margin-right: 0.3rem;
  --mbx-label-text-color: var(--mbx-dtp-txt);
}

@media (max-width: 600px) {
  [data-mbx-id="dpick"] [data-mbx-id="cal"] {
    max-width: 90%;
  }
}

@media (max-width: 500px) {
  [data-mbx-id="dpick"] [data-mbx-id="cal"] {
    max-width: 95%;
  }
}

@media (max-width: 400px) {
  [data-mbx-id="dpick"] [data-mbx-id="cal"] {
    max-width: 100%;
  }
}

@media (max-width: 300px) {
  [data-mbx-id="dpick"] {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 260px) {
  [data-mbx-id="dpick"] > [data-mbx-date-s] {
    flex-direction: column;
    align-items: center;
  }
}
