@import url("default.css");

[data-mobrix-ui-id] {
  /* Button */
  --mobrix-ui-computed-button-background-light: var(
    --mobrix-ui-button-background-light,
    var(--mobrix-ui-button-background, var(--mobrix-ui-computed-background-light))
  );

  --mobrix-ui-computed-button-background-dark: var(
    --mobrix-ui-button-background-dark,
    var(--mobrix-ui-button-background, var(--mobrix-ui-computed-background-dark))
  );

  --mobrix-ui-computed-button-text-color-light: var(
    --mobrix-ui-button-text-color-light,
    var(--mobrix-ui-computed-text-color-light)
  );

  --mobrix-ui-computed-button-text-color-dark: var(
    --mobrix-ui-button-text-color-dark,
    var(--mobrix-ui-computed-text-color-dark)
  );

  --mobrix-ui-computed-button-background-hover: var(
    --mobrix-ui-button-background-hover,
    var(--mobrix-ui-button-background)
  );

  --mobrix-ui-computed-button-background-hover-light: var(
    --mobrix-ui-button-background-hover-light,
    var(--mobrix-ui-default-background-hover-light)
  );

  --mobrix-ui-computed-button-background-hover-dark: var(
    --mobrix-ui-button-background-hover-dark,
    var(--mobrix-ui-background-hover-dark)
  );

  --mobrix-ui-computed-button-text-color-hover-light: var(
    --mobrix-ui-button-text-color-hover-light,
    var(--mobrix-ui-text-color-hover-light)
  );

  --mobrix-ui-computed-button-text-color-hover-dark: var(
    --mobrix-ui-button-text-color-hover-dark,
    var(--mobrix-ui-text-color-hover-dark)
  );

  /* Checkbox */
  --mobrix-ui-computed-checkbox-background-hover: var(
    --mobrix-ui-checkbox-background-hover,
    var(--mobrix-ui-checkbox-background)
  );

  --mobrix-ui-computed-checkbox-background-light: var(
    --mobrix-ui-checkbox-background-light,
    var(
      --mobrix-ui-checkbox-background,
      var(--mobrix-ui-background-color-light)
    )
  );

  --mobrix-ui-computed-checkbox-background-dark: var(
    --mobrix-ui-checkbox-background-dark,
    var(--mobrix-ui-checkbox-background, var(--mobrix-ui-background-color-dark))
  );

  --mobrix-ui-computed-checkbox-background-hover-light: var(
    --mobrix-ui-checkbox-background-hover-light,
    var(
      --mobrix-ui-computed-checkbox-background-hover,
      var(--mobrix-ui-background-color-hover-light)
    )
  );

  --mobrix-ui-computed-checkbox-background-hover-dark: var(
    --mobrix-ui-checkbox-background-hover-dark,
    var(
      --mobrix-ui-computed-checkbox-background-hover,
      var(--mobrix-ui-background-color-hover-dark)
    )
  );

  --mobrix-ui-computed-checkbox-tick-color-light: var(
    --mobrix-ui-checkbox-tick-color-light,
    var(
      --mobrix-ui-checkbox-tick-color,
      var(--mobrix-ui-default-checkbox-tick-color-light)
    )
  );

  --mobrix-ui-computed-checkbox-tick-color-dark: var(
    --mobrix-ui-checkbox-tick-color-dark,
    var(
      --mobrix-ui-checkbox-tick-color,
      var(--mobrix-ui-default-checkbox-tick-color-dark)
    )
  );

  /** Codebox **/
  --mobrix-ui-computed-codebox-background-light: var(
    --mobrix-ui-codebox-background-light,
    var(--mobrix-ui-codebox-background, var(--mobrix-ui-background-color-light))
  );

  --mobrix-ui-computed-codebox-text-color-light: var(
    --mobrix-ui-codebox-text-color-light,
    var(--mobrix-ui-codebox-text-color, var(--mobrix-ui-computed-text-color-light))
  );

  --mobrix-ui-computed-codebox-background-dark: var(
    --mobrix-ui-codebox-background-dark,
    var(--mobrix-ui-codebox-background, var(--mobrix-ui-background-color-dark))
  );

  --mobrix-ui-computed-codebox-text-color-dark: var(
    --mobrix-ui-codebox-text-color-dark,
    var(--mobrix-ui-codebox-text-color, var(--mobrix-ui-computed-text-color-dark))
  );

  /** Counter **/
  --mobrix-ui-computed-counterbox-background-hover: var(
    --mobrix-ui-checkbox-background-hover,
    var(--mobrix-ui-counterbox-background)
  );

  --mobrix-ui-computed-counterbox-background-light: var(
    --mobrix-ui-counterbox-background-light,
    var(
      --mobrix-ui-counterbox-background,
      var(--mobrix-ui-background-color-light)
    )
  );

  --mobrix-ui-computed-counterbox-background-dark: var(
    --mobrix-ui-counterbox-background-dark,
    var(
      --mobrix-ui-counterbox-background,
      var(--mobrix-ui-background-color-dark)
    )
  );

  --mobrix-ui-computed-counterbox-text-color-light: var(
    --mobrix-ui-counterbox-text-color-light,
    var(--mobrix-ui-counterbox-text-color, var(--mobrix-ui-computed-text-color-light))
  );

  --mobrix-ui-computed-counterbox-text-color-dark: var(
    --mobrix-ui-counterbox-text-color-dark,
    var(--mobrix-ui-counterbox-text-color, var(--mobrix-ui-computed-text-color-dark))
  );

  --mobrix-ui-computed-counterbox-background-hover-light: var(
    --mobrix-ui-counterbox-background-hover-light,
    var(
      --mobrix-ui-computed-counterbox-background-hover,
      var(--mobrix-ui-default-background-color-hover-light)
    )
  );

  --mobrix-ui-computed-counterbox-background-hover-dark: var(
    --mobrix-ui-counterbox-background-hover-dark,
    var(
      --mobrix-ui-computed-counterbox-background-hover,
      var(--mobrix-ui-default-background-color-hover-dark)
    )
  );

  --mobrix-ui-computed-counterbox-text-color-hover-light: var(
    --mobrix-ui-counterbox-text-color-hover-light,
    var(
      --mobrix-ui-counterbox-text-color-hover,
      var(
        --mobrix-ui-counterbox-text-color,
        var(--mobrix-ui-default-text-color-hover-light)
      )
    )
  );

  --mobrix-ui-computed-counterbox-text-color-hover-dark: var(
    --mobrix-ui-counterbox-text-color-hover-dark,
    var(
      --mobrix-ui-counterbox-text-color-hover,
      var(
        --mobrix-ui-counterbox-text-color,
        var(--mobrix-ui-default-text-color-hover-dark)
      )
    )
  );

  /** Divider **/
  --mobrix-ui-computed-divider-color-light: var(
    --mobrix-ui-divider-color-light,
    var(--mobrix-ui-divider-color, var(--mobrix-ui-computed-text-color-light))
  );

  --mobrix-ui-computed-divider-color-dark: var(
    --mobrix-ui-divider-color-dark,
    var(--mobrix-ui-divider-color, var(--mobrix-ui-computed-text-color-dark))
  );

  /** Input **/
  --mobrix-ui-computed-inputbox-background-hover: var(
    --mobrix-ui-inputbox-background-hover,
    var(--mobrix-ui-inputbox-background)
  );

  --mobrix-ui-computed-inputbox-background-light: var(
    --mobrix-ui-inputbox-background-light,
    var(
      --mobrix-ui-inputbox-background,
      var(--mobrix-ui-background-color-light)
    )
  );

  --mobrix-ui-computed-inputbox-background-dark: var(
    --mobrix-ui-inputbox-background-dark,
    var(--mobrix-ui-inputbox-background, var(--mobrix-ui-background-color-dark))
  );

  --mobrix-ui-computed-inputbox-text-color-light: var(
    --mobrix-ui-inputbox-text-color-light,
    var(--mobrix-ui-inputbox-text-color, var(--mobrix-ui-computed-text-color-light))
  );

  --mobrix-ui-computed-inputbox-text-color-dark: var(
    --mobrix-ui-inputbox-text-color-dark,
    var(--mobrix-ui-inputbox-text-color, var(--mobrix-ui-computed-text-color-dark))
  );

  --mobrix-ui-computed-inputbox-background-hover-light: var(
    --mobrix-ui-inputbox-background-hover-light,
    var(
      --mobrix-ui-inputbox-background-hover,
      var(--mobrix-ui-default-background-color-hover-light)
    )
  );

  --mobrix-ui-computed-inputbox-background-hover-dark: var(
    --mobrix-ui-inputbox-background-hover-dark,
    var(
      --mobrix-ui-inputbox-background-hover,
      var(--mobrix-ui-default-background-color-hover-dark)
    )
  );

  --mobrix-ui-computed-inputbox-text-color-hover-light: var(
    --mobrix-ui-inputbox-text-color-hover-light,
    var(
      --mobrix-ui-inputbox-text-color-hover,
      var(
        --mobrix-ui-inputbox-text-color,
        var(--mobrix-ui-default-text-color-hover-light)
      )
    )
  );

  --mobrix-ui-computed-inputbox-text-color-hover-dark: var(
    --mobrix-ui-inputbox-text-color-hover-dark,
    var(
      --mobrix-ui-inputbox-text-color-hover,
      var(
        --mobrix-ui-inputbox-text-color,
        var(--mobrix-ui-default-text-color-hover-dark)
      )
    )
  );

  /** Label **/
  --mobrix-ui-computed-label-text-color-light: var(
    --mobrix-ui-label-text-color-light,
    var(--mobrix-ui-label-text-color, var(--mobrix-ui-computed-text-color-light))
  );

  --mobrix-ui-computed-label-text-color-dark: var(
    --mobrix-ui-label-text-color-dark,
    var(--mobrix-ui-label-text-color, var(--mobrix-ui-computed-text-color-dark))
  );

  /* Link */
  --mobrix-ui-computed-link-color-light: var(
    --mobrix-ui-link-color-light,
    var(--mobrix-ui-link-color, var(--mobrix-ui-computed-text-color-light))
  );

  --mobrix-ui-computed-link-color-dark: var(
    --mobrix-ui-link-color-dark,
    var(--mobrix-ui-link-color, var(--mobrix-ui-computed-text-color-dark))
  );

  --mobrix-ui-computed-link-color-hover: var(
    --mobrix-ui-link-text-color-hover,
    var(--mobrix-ui-custom-link-text-color)
  );

  --mobrix-ui-computed-link-color-hover-light: var(
    --mobrix-ui-link-color-hover-light,
    var(
      --mobrix-ui-computed-link-color-hover,
      var(--mobrix-ui-text-color-hover-light)
    )
  );

  --mobrix-ui-computed-link-color-hover-dark: var(
    --mobrix-ui-link-color-hover-dark,
    var(
      --mobrix-ui-computed-link-color-hover,
      var(--mobrix-ui-text-color-hover-dark)
    )
  );

  /* Radio Button */
  --mobrix-ui-computed-radio-background-light: var(
    --mobrix-ui-radio-background-light,
    var(
      --mobrix-ui-radio-background,
      var(--mobrix-ui-default-radio-background-light)
    )
  );

  --mobrix-ui-computed-radio-background-dark: var(
    --mobrix-ui-radio-background-dark,
    var(
      --mobrix-ui-radio-background,
      var(--mobrix-ui-default-radio-background-dark)
    )
  );

  --mobrix-ui-computed-radio-background-hover-light: var(
    --mobrix-ui-radio-background-hover-light,
    var(
      --mobrix-ui-radio-background-hover,
      var(--mobrix-ui-default-radio-background-hover-light)
    )
  );

  --mobrix-ui-computed-radio-background-hover-dark: var(
    --mobrix-ui-radio-background-hover-dark,
    var(
      --mobrix-ui-radio-background-hover,
      var(--mobrix-ui-default-radio-background-hover-dark)
    )
  );

  --mobrix-ui-computed-radio-icon-background-light: var(
    --mobrix-ui-radio-icon-background-light,
    var(
      --mobrix-ui-radio-icon-background,
      var(--mobrix-ui-default-radio-icon-background-light)
    )
  );

  --mobrix-ui-computed-radio-icon-background-dark: var(
    --mobrix-ui-radio-icon-background-dark,
    var(
      --mobrix-ui-radio-icon-background,
      var(--mobrix-ui-default-radio-icon-background-dark)
    )
  );

  /** Rater **/
  --mobrix-ui-computed-rater-background-light: var(
    --mobrix-ui-rater-background-light,
    var(--mobrix-ui-rater-background, var(--mobrix-ui-computed-background-light))
  );

  --mobrix-ui-computed-rater-background-dark: var(
    --mobrix-ui-rater-background-dark,
    var(--mobrix-ui-rater-background, var(--mobrix-ui-computed-background-dark))
  );

  /** Selector **/
  --mobrix-ui-computed-selector-background-light: var(
    --mobrix-ui-selector-background-light,
    var(
      --mobrix-ui-selector-background,
      var(--mobrix-ui-background-color-light)
    )
  );

  --mobrix-ui-computed-selector-background-dark: var(
    --mobrix-ui-selector-background-dark,
    var(--mobrix-ui-selector-background, var(--mobrix-ui-background-color-dark))
  );

  --mobrix-ui-computed-selector-background-hover-light: var(
    --mobrix-ui-selector-background-hover-light,
    var(
      --mobrix-ui-selector-background-hover,
      var(--mobrix-ui-background-hover-light)
    )
  );

  --mobrix-ui-computed-selector-background-hover-dark: var(
    --mobrix-ui-selector-background-hover-dark,
    var(
      --mobrix-ui-selector-background-hover,
      var(--mobrix-ui-background-hover-dark)
    )
  );

  --mobrix-ui-computed-selector-text-color-light: var(
    --mobrix-ui-selector-text-color-light,
    var(--mobrix-ui-computed-text-color-light)
  );

  --mobrix-ui-computed-selector-text-color-dark: var(
    --mobrix-ui-selector-text-color-dark,
    var(--mobrix-ui-computed-text-color-dark)
  );

  --mobrix-ui-computed-selector-text-color-hover-light: var(
    --mobrix-ui-selector-text-color-hover-light,
    var(
      --mobrix-ui-selector-text-color-hover,
      var(--mobrix-ui-text-color-hover-light)
    )
  );

  --mobrix-ui-computed-selector-text-color-hover-dark: var(
    --mobrix-ui-selector-text-color-hover-dark,
    var(
      --mobrix-ui-selector-text-color-hover,
      var(--mobrix-ui-text-color-hover-dark)
    )
  );

  /* Slider */
  --mobrix-ui-computed-slider-thumb-color-light: var(
    --mobrix-ui-slider-thumb-color-light,
    var(
      --mobrix-ui-slider-thumb-color,
      var(--mobrix-ui-default-slider-thumb-color-light)
    )
  );

  --mobrix-ui-computed-slider-thumb-color-dark: var(
    --mobrix-ui-slider-thumb-color-dark,
    var(
      --mobrix-ui-slider-thumb-color,
      var(--mobrix-ui-default-slider-thumb-color-dark)
    )
  );

  --mobrix-ui-computed-internal-slider-thumb-color-hover: var(
    --mobrix-ui-slider-thumb-color-hover,
    var(--mobrix-ui-slider-thumb-color)
  );

  --mobrix-ui-computed-slider-thumb-color-hover-light: var(
    --mobrix-ui-slider-thumb-color-hover-light,
    var(
      --mobrix-ui-computed-internal-slider-thumb-color-hover,
      var(--mobrix-ui-default-slider-thumb-color-hover-light)
    )
  );

  --mobrix-ui-computed-slider-thumb-color-hover-dark: var(
    --mobrix-ui-slider-thumb-color-dark,
    var(
      --mobrix-ui-computed-internal-slider-thumb-color-hover,
      var(--mobrix-ui-default-slider-thumb-color-hover-dark)
    )
  );

  --mobrix-ui-computed-slider-background-light: var(
    --mobrix-ui-slider-background-light,
    var(--mobrix-ui-slider-background, var(--mobrix-ui-computed-background-light))
  );

  --mobrix-ui-computed-slider-background-dark: var(
    --mobrix-ui-slider-background-dark,
    var(--mobrix-ui-slider-background, var(--mobrix-ui-computed-background-dark))
  );

  /** Spinner **/
  --mobrix-ui-computed-spinner-success-color-light: var(
    --mobrix-ui-spinner-success-color-light,
    var(
      --mobrix-ui-spinner-success-color,
      var(--mobrix-ui-default-spinner-success-color)
    )
  );
  --mobrix-ui-computed-spinner-error-color-light: var(
    --mobrix-ui-spinner-error-color-light,
    var(
      --mobrix-ui-spinner-error-color,
      var(--mobrix-ui-default-spinner-error-color)
    )
  );
  --mobrix-ui-computed-spinner-loading-color-light: var(
    --mobrix-ui-spinner-loading-color-light,
    var(
      --mobrix-ui-spinner-loading-color,
      var(--mobrix-ui-default-spinner-loading-color)
    )
  );

  --mobrix-ui-computed-spinner-success-color-dark: var(
    --mobrix-ui-spinner-success-color-dark,
    var(
      --mobrix-ui-spinner-success-color,
      var(--mobrix-ui-default-spinner-success-color)
    )
  );
  --mobrix-ui-computed-spinner-error-color-dark: var(
    --mobrix-ui-spinner-error-color-dark,
    var(
      --mobrix-ui-spinner-error-color,
      var(--mobrix-ui-default-spinner-error-color)
    )
  );
  --mobrix-ui-computed-spinner-loading-color-dark: var(
    --mobrix-ui-spinner-loading-color-dark,
    var(
      --mobrix-ui-spinner-loading-color,
      var(--mobrix-ui-default-spinner-loading-color)
    )
  );

  /** Toggle **/
  --mobrix-ui-computed-toggle-background-light: var(
    --mobrix-ui-toggle-background-light,
    var(--mobrix-ui-toggle-background, var(--mobrix-ui-computed-background-light))
  );

  --mobrix-ui-computed-toggle-background-dark: var(
    --mobrix-ui-toggle-background-dark,
    var(--mobrix-ui-toggle-background, var(--mobrix-ui-computed-background-dark))
  );

  --mobrix-ui-computed-toggle-icon-on-internal-color-light: var(
    --mobrix-ui-toggle-icon-on-internal-color-light,
    var(
      --mobrix-ui-toggle-icon-on-internal-color,
      var(--mobrix-ui-default-toggle-icon-on-internal-color-light)
    )
  );
  --mobrix-ui-computed-toggle-icon-on-external-color-light: var(
    --mobrix-ui-toggle-icon-on-external-color-light,
    var(
      --mobrix-ui-toggle-icon-on-external-color,
      var(--mobrix-ui-default-toggle-icon-on-external-color-light)
    )
  );
  --mobrix-ui-computed-toggle-icon-on-internal-color-dark: var(
    --mobrix-ui-toggle-icon-on-internal-color-dark,
    var(
      --mobrix-ui-toggle-icon-on-internal-color,
      var(--mobrix-ui-default-toggle-icon-on-internal-color-dark)
    )
  );
  --mobrix-ui-computed-toggle-icon-on-external-color-dark: var(
    --mobrix-ui-toggle-icon-on-external-color-light,
    var(
      --mobrix-ui-toggle-icon-on-external-color,
      var(--mobrix-ui-default-toggle-icon-on-external-color-dark)
    )
  );
  --mobrix-ui-computed-toggle-icon-off-internal-color-light: var(
    --mobrix-ui-toggle-icon-off-internal-color-light,
    var(
      --mobrix-ui-toggle-icon-off-internal-color,
      var(--mobrix-ui-default-toggle-icon-off-internal-color-light)
    )
  );
  --mobrix-ui-computed-toggle-icon-off-external-color-light: var(
    --mobrix-ui-toggle-icon-off-external-color-light,
    var(
      --mobrix-ui-toggle-icon-off-external-color,
      var(--mobrix-ui-default-toggle-icon-off-external-color-light)
    )
  );
  --mobrix-ui-computed-toggle-icon-off-internal-color-dark: var(
    --mobrix-ui-toggle-icon-off-internal-color-dark,
    var(
      --mobrix-ui-toggle-icon-off-internal-color,
      var(--mobrix-ui-default-toggle-icon-off-internal-color-dark)
    )
  );
  --mobrix-ui-computed-toggle-icon-off-external-color-dark: var(
    --mobrix-ui-toggle-icon-off-external-color-light,
    var(
      --mobrix-ui-toggle-icon-off-external-color,
      var(--mobrix-ui-default-toggle-icon-off-external-color-dark)
    )
  );
}
