@import url("default.css");

[data-mbx-id] {
  /* Button */
  --mbx-c-btn-bg-l: var(
    --mbx-button-background-light,
    var(--mbx-button-background, var(--mbx-c-bg-l))
  );

  --mbx-c-btn-bg-d: var(
    --mbx-button-background-dark,
    var(--mbx-button-background, var(--mbx-c-bg-d))
  );

  --mbx-c-btn-txt-l: var(
    --mbx-button-text-color-light,
    var(--mbx-button-text-color, var(--mbx-c-txt-l))
  );

  --mbx-c-btn-txt-d: var(
    --mbx-button-text-color-dark,
    var(--mbx-button-text-color, var(--mbx-c-txt-d))
  );

  --mbx-c-btn-bg-h-l: var(
    --mbx-button-background-hover-light,
    var(--mbx-button-background-hover, var(--mbx-d-bg-h-l))
  );

  --mbx-c-btn-bg-h-d: var(
    --mbx-button-background-hover-dark,
    var(--mbx-button-background-hover, var(--mbx-d-bg-h-d))
  );

  --mbx-c-btn-txt-h-l: var(
    --mbx-button-text-color-hover-light,
    var(--mbx-button-text-color-hover, var(--mbx-c-txt-h-l))
  );

  --mbx-c-btn-txt-h-d: var(
    --mbx-button-text-color-hover-dark,
    var(--mbx-button-text-color-hover, var(--mbx-c-txt-h-d))
  );

  /* Checkbox */
  --mbx-c-chk-bg-l: var(
    --mbx-checkbox-background-light,
    var(--mbx-checkbox-background, var(--mbx-c-bgc-l))
  );

  --mbx-c-chk-bg-d: var(
    --mbx-checkbox-background-dark,
    var(--mbx-checkbox-background, var(--mbx-c-bgc-d))
  );

  --mbx-c-chk-bg-h-l: var(
    --mbx-checkbox-background-hover-light,
    var(--mbx-checkbox-background-hover, var(--mbx-c-bgc-h-l))
  );

  --mbx-c-chk-bg-h-d: var(
    --mbx-checkbox-background-hover-dark,
    var(--mbx-checkbox-background-hover, var(--mbx-c-bgc-h-d))
  );

  --mbx-c-chk-tk-l: var(
    --mbx-checkbox-tick-color-light,
    var(--mbx-checkbox-tick-color, var(--mbx-d-chk-tk-l))
  );

  --mbx-c-chk-tk-d: var(
    --mbx-checkbox-tick-color-dark,
    var(--mbx-checkbox-tick-color, var(--mbx-d-chk-tk-d))
  );

  /** Codebox **/
  --mbx-c-cdb-bg-l: var(
    --mbx-codebox-background-light,
    var(--mbx-codebox-background, var(--mbx-c-bgc-l))
  );

  --mbx-c-cdb-txt-l: var(
    --mbx-codebox-text-color-light,
    var(--mbx-codebox-text-color, var(--mbx-c-txt-l))
  );

  --mbx-c-cdb-bg-d: var(
    --mbx-codebox-background-dark,
    var(--mbx-codebox-background, var(--mbx-c-bgc-d))
  );

  --mbx-c-cdb-txt-d: var(
    --mbx-codebox-text-color-dark,
    var(--mbx-codebox-text-color, var(--mbx-c-txt-d))
  );

  /** Counter **/
  --mbx-c-cnt-bgc-l: var(
    --mbx-counterbox-background-light,
    var(--mbx-counterbox-background, var(--mbx-c-bgc-l))
  );

  --mbx-c-cnt-bgc-d: var(
    --mbx-counterbox-background-dark,
    var(--mbx-counterbox-background, var(--mbx-c-bgc-d))
  );

  --mbx-c-cnt-txt-l: var(
    --mbx-counterbox-text-color-light,
    var(--mbx-counterbox-text-color, var(--mbx-c-txt-l))
  );

  --mbx-c-cnt-txt-d: var(
    --mbx-counterbox-text-color-dark,
    var(--mbx-counterbox-text-color, var(--mbx-c-txt-d))
  );

  --mbx-c-cnt-bgc-h-l: var(
    --mbx-counterbox-background-hover-light,
    var(--mbx-counterbox-background-hover, var(--mbx-c-bgc-h-l))
  );

  --mbx-c-cnt-bgc-h-d: var(
    --mbx-counterbox-background-hover-dark,
    var(--mbx-counterbox-background-hover, var(--mbx-c-bgc-h-d))
  );

  --mbx-c-cnt-txt-h-l: var(
    --mbx-counterbox-text-color-hover-light,
    var(--mbx-counterbox-text-color-hover, var(--mbx-c-txt-h-l))
  );

  --mbx-c-cnt-txt-h-d: var(
    --mbx-counterbox-text-color-hover-dark,
    var(--mbx-counterbox-text-color-hover, var(--mbx-c-txt-h-d))
  );

  /** Divider **/
  --mbx-c-dv-bgc-l: var(
    --mbx-divider-color-light,
    var(--mbx-divider-color, var(--mbx-c-txt-l))
  );

  --mbx-c-dv-bgc-d: var(
    --mbx-divider-color-dark,
    var(--mbx-divider-color, var(--mbx-c-txt-d))
  );

  /** Input **/
  --mbx-c-inb-bgc-l: var(
    --mbx-inputbox-background-light,
    var(--mbx-inputbox-background, var(--mbx-c-bgc-l))
  );

  --mbx-c-inb-bgc-d: var(
    --mbx-inputbox-background-dark,
    var(--mbx-inputbox-background, var(--mbx-c-bgc-d))
  );

  --mbx-c-inb-txt-l: var(
    --mbx-inputbox-text-color-light,
    var(--mbx-inputbox-text-color, var(--mbx-c-txt-l))
  );

  --mbx-c-inb-txt-d: var(
    --mbx-inputbox-text-color-dark,
    var(--mbx-inputbox-text-color, var(--mbx-c-txt-d))
  );

  --mbx-c-inb-bgc-h-l: var(
    --mbx-inputbox-background-hover-light,
    var(--mbx-inputbox-background-hover, var(--mbx-d-bgc-h-l))
  );

  --mbx-c-inb-bgc-h-d: var(
    --mbx-inputbox-background-hover-dark,
    var(--mbx-inputbox-background-hover, var(--mbx-d-bgc-h-d))
  );

  --mbx-c-inb-txt-h-l: var(
    --mbx-inputbox-text-color-hover-light,
    var(--mbx-inputbox-text-color-hover, var(--mbx-d-txt-h-l))
  );

  --mbx-c-inb-txt-h-d: var(
    --mbx-inputbox-text-color-hover-dark,
    var(--mbx-inputbox-text-color-hover, var(--mbx-d-txt-h-d))
  );

  /** Label **/
  --mbx-c-lab-txt-l: var(
    --mbx-label-text-color-light,
    var(--mbx-label-text-color, var(--mbx-c-txt-l))
  );

  --mbx-c-lab-txt-d: var(
    --mbx-label-text-color-dark,
    var(--mbx-label-text-color, var(--mbx-c-txt-d))
  );

  /* Link */
  --mbx-c-link-txt-l: var(
    --mbx-link-color-light,
    var(--mbx-link-color, var(--mbx-c-txt-l))
  );

  --mbx-c-link-txt-d: var(
    --mbx-link-color-dark,
    var(--mbx-link-color, var(--mbx-c-txt-d))
  );

  --mbx-c-link-txt-h-l: var(
    --mbx-link-color-hover-light,
    var(--mbx-link-color-hover, var(--mbx-c-link-txt-l))
  );

  --mbx-c-link-txt-h-d: var(
    --mbx-link-color-hover-dark,
    var(--mbx-link-color-hover, var(--mbx-c-link-txt-d))
  );

  /* Radio Button */
  --mbx-c-rad-bg-l: var(
    --mbx-radio-background-light,
    var(--mbx-radio-background, var(--mbx-d-rad-bg-l))
  );

  --mbx-c-rad-bg-d: var(
    --mbx-radio-background-dark,
    var(--mbx-radio-background, var(--mbx-d-rad-bg-d))
  );

  --mbx-c-rad-bg-h-l: var(
    --mbx-radio-background-hover-light,
    var(--mbx-radio-background-hover, var(--mbx-c-rad-bg-l))
  );

  --mbx-c-rad-bg-h-d: var(
    --mbx-radio-background-hover-dark,
    var(--mbx-radio-background-hover, var(--mbx-c-rad-bg-d))
  );

  --mbx-c-rad-ic-bg-l: var(
    --mbx-radio-icon-background-light,
    var(--mbx-radio-icon-background, var(--mbx-d-rad-ic-bg-l))
  );

  --mbx-c-rad-ic-bg-d: var(
    --mbx-radio-icon-background-dark,
    var(--mbx-radio-icon-background, var(--mbx-d-rad-ic-bg-d))
  );

  /** Rater **/
  --mbx-c-rat-bg-l: var(
    --mbx-rater-background-light,
    var(--mbx-rater-background, var(--mbx-c-bg-l))
  );
  --mbx-c-rat-bg-d: var(
    --mbx-rater-background-dark,
    var(--mbx-rater-background, var(--mbx-c-bg-d))
  );

  /** Selector **/
  --mbx-c-sel-bg-l: var(
    --mbx-selector-background-light,
    var(--mbx-selector-background, var(--mbx-c-bgc-l))
  );

  --mbx-c-sel-bg-d: var(
    --mbx-selector-background-dark,
    var(--mbx-selector-background, var(--mbx-c-bgc-d))
  );

  --mbx-c-sel-bg-h-l: var(
    --mbx-selector-background-hover-light,
    var(--mbx-selector-background-hover, var(--mbx-c-bg-h-l))
  );

  --mbx-c-sel-bg-h-d: var(
    --mbx-selector-background-hover-dark,
    var(--mbx-selector-background-hover, var(--mbx-c-bg-h-d))
  );

  --mbx-c-sel-txt-l: var(
    --mbx-selector-text-color-light,
    var(--mbx-selector-text-color, var(--mbx-c-txt-l))
  );

  --mbx-c-sel-txt-d: var(
    --mbx-selector-text-color-dark,
    var(--mbx-selector-text-color, var(--mbx-c-txt-d))
  );
  --mbx-c-sel-txt-h-l: var(
    --mbx-selector-text-color-hover-light,
    var(--mbx-selector-text-color-hover, var(--mbx-c-txt-h-l))
  );
  --mbx-c-sel-txt-h-d: var(
    --mbx-selector-text-color-hover-dark,
    var(--mbx-selector-text-color-hover, var(--mbx-c-txt-h-d))
  );

  /* Slider */
  --mbx-c-sld-tb-l: var(
    --mbx-slider-thumb-color-light,
    var(--mbx-slider-thumb-color, var(--mbx-d-sld-tb-l))
  );
  --mbx-c-sld-tb-d: var(
    --mbx-slider-thumb-color-dark,
    var(--mbx-slider-thumb-color, var(--mbx-d-sld-tb-d))
  );
  --mbx-c-sld-tb-h-l: var(
    --mbx-slider-thumb-color-hover-light,
    var(--mbx-slider-thumb-color-hover, var(--mbx-c-sld-tb-l))
  );
  --mbx-c-sld-tb-h-d: var(
    --mbx-slider-thumb-color-hover-dark,
    var(--mbx-slider-thumb-color-hover, var(--mbx-c-sld-tb-d))
  );
  --mbx-c-sld-bg-l: var(
    --mbx-slider-background-light,
    var(--mbx-slider-background, var(--mbx-c-bg-l))
  );
  --mbx-c-sld-bg-d: var(
    --mbx-slider-background-dark,
    var(--mbx-slider-background, var(--mbx-c-bg-d))
  );

  /** Spinner **/
  --mbx-c-spn-suc-l: var(
    --mbx-spinner-success-color-light,
    var(--mbx-spinner-success-color, var(--mbx-d-spn-suc))
  );
  --mbx-c-spn-err-l: var(
    --mbx-spinner-error-color-light,
    var(--mbx-spinner-error-color, var(--mbx-d-spn-err))
  );
  --mbx-c-spn-load-l: var(
    --mbx-spinner-loading-color-light,
    var(--mbx-spinner-loading-color, var(--mbx-d-spn-load))
  );
  --mbx-c-spn-suc-d: var(
    --mbx-spinner-success-color-dark,
    var(--mbx-spinner-success-color, var(--mbx-d-spn-suc))
  );
  --mbx-c-spn-err-d: var(
    --mbx-spinner-error-color-dark,
    var(--mbx-spinner-error-color, var(--mbx-d-spn-err))
  );
  --mbx-c-spn-load-d: var(
    --mbx-spinner-loading-color-dark,
    var(--mbx-spinner-loading-color, var(--mbx-d-spn-load))
  );

  /** Toggle **/
  --mbx-c-tog-bg-l: var(
    --mbx-toggle-background-light,
    var(--mbx-toggle-background, var(--mbx-c-bg-l))
  );
  --mbx-c-tog-bg-d: var(
    --mbx-toggle-background-dark,
    var(--mbx-toggle-background, var(--mbx-c-bg-d))
  );
  --mbx-c-tog-ic-on-int-l: var(
    --mbx-toggle-icon-on-internal-color-light,
    var(--mbx-toggle-icon-on-internal-color, var(--mbx-d-tog-ic-on-int-l))
  );
  --mbx-c-tog-ic-on-ext-l: var(
    --mbx-toggle-icon-on-external-color-light,
    var(--mbx-toggle-icon-on-external-color, var(--mbx-d-tog-ic-on-ext-l))
  );
  --mbx-c-tog-ic-on-int-d: var(
    --mbx-toggle-icon-on-internal-color-dark,
    var(--mbx-toggle-icon-on-internal-color, var(--mbx-d-tog-ic-on-int-d))
  );
  --mbx-c-tog-ic-on-ext-d: var(
    --mbx-toggle-icon-on-external-color-light,
    var(--mbx-toggle-icon-on-external-color, var(--mbx-d-tog-ic-on-ext-d))
  );
  --mbx-c-tog-ic-off-int-l: var(
    --mbx-toggle-icon-off-internal-color-light,
    var(--mbx-toggle-icon-off-internal-color, var(--mbx-d-tog-ic-off-int-l))
  );
  --mbx-c-tog-ic-off-ext-l: var(
    --mbx-toggle-icon-off-external-color-light,
    var(--mbx-toggle-icon-off-external-color, var(--mbx-d-tog-ic-off-ext-l))
  );
  --mbx-c-tog-ic-off-int-d: var(
    --mbx-toggle-icon-off-internal-color-dark,
    var(--mbx-toggle-icon-off-internal-color, var(--mbx-d-tog-ic-off-int-d))
  );
  --mbx-c-tog-ic-off-ext-d: var(
    --mbx-toggle-icon-off-external-color-light,
    var(--mbx-toggle-icon-off-external-color, var(--mbx-d-tog-ic-off-ext-d))
  );
}
