[data-mbx-id] {
  /** Checkbox **/
  --mbx-d-chk-tk-l: rgb(37, 99, 235);

  --mbx-d-chk-tk-d: white;

  /* Radio Button */
  --mbx-d-rad-bg-l: radial-gradient(
    #f1f1f1 20%,
    #e4e4e4 30%,
    #bebebe 55%,
    #f0f0f0 20%
  );

  --mbx-d-rad-bg-d: radial-gradient(
    closest-side,
    #2d3748 20%,
    #232b38 30%,
    #1d1f44 55%,
    #191f29 20%
  );

  --mbx-d-rad-ic-bg-d: radial-gradient(
    circle at 23px 23px,
    #dbe0e6,
    #949494
  );

  --mbx-d-rad-ic-bg-l: radial-gradient(
    circle at 23px 23px,
    #2d3748,
    #191f29
  );

  --mbx-d-rad-bg-h-l: radial-gradient(
    #f1f1f1 20%,
    #cfcfcf 30%,
    #a7a7a7 55%,
    #f0f0f0 20%
  );

  --mbx-d-rad-bg-h-d: radial-gradient(
    #354155 20%,
    #2d3747 30%,
    #2b2e5f 55%,
    #323f55 20%
  );

  /* Slider */
  --mbx-d-sld-tb-l: radial-gradient(
    #2d3748,
    #1d232e
  );

  --mbx-d-sld-tb-d: radial-gradient(
    #e3e4e9,
    #9b9999
  );

  --mbx-d-sld-tb-h-l: radial-gradient(
    #364257,
    #2a3444
  );

  --mbx-d-sld-tb-h-d: radial-gradient(
    #e8e9f0,
    #adabab
  );

  /** Spinner **/
  --mbx-d-spn-suc: #05bc29;
  --mbx-d-spn-err: #ff0000;
  --mbx-d-spn-load: #202020;

  /** Toggle **/
  --mbx-d-tog-ic-on-int-l: #ffffff;
  --mbx-d-tog-ic-on-ext-l: #adadad;
  --mbx-d-tog-ic-on-int-d: #ffffff;
  --mbx-d-tog-ic-on-ext-d: #adadad;

  --mbx-d-tog-ic-off-int-l: #a5a5a5;
  --mbx-d-tog-ic-off-ext-l: #7a7878;
  --mbx-d-tog-ic-off-int-d: #636363;
  --mbx-d-tog-ic-off-ext-d: #a7a3a3;
}
