@import url("default.css");

[data-mobrix-ui-id] {
  --mobrix-ui-computed-focus-color-light: var(
    --mobrix-ui-focus-color-light,
    var(--mobrix-ui-focus-color, var(--mobrix-ui-default-focus-color-light))
  );

  --mobrix-ui-computed-focus-color-dark: var(
    --mobrix-ui-focus-color-dark,
    var(--mobrix-ui-focus-color, var(--mobrix-ui-default-focus-color-dark))
  );

  --mobrix-ui-computed-background-light: var(
    --mobrix-ui-background-light,
    var(--mobrix-ui-background, var(--mobrix-ui-default-background-light))
  );

  --mobrix-ui-computed-background-dark: var(
    --mobrix-ui-background-dark,
    var(--mobrix-ui-background, var(--mobrix-ui-default-background-dark))
  );

  --mobrix-ui-computed-text-color-light: var(
    --mobrix-ui-text-color-light,
    var(--mobrix-ui-text-color, var(--mobrix-ui-default-text-color-light))
  );

  --mobrix-ui-computed-text-color-dark: var(
    --mobrix-ui-text-color-dark,
    var(--mobrix-ui-text-color, var(--mobrix-ui-default-text-color-dark))
  );

  --mobrix-ui-computed-background-color-light: var(
    --mobrix-ui-background-color-light,
    var(
      --mobrix-ui-background-color,
      var(--mobrix-ui-default-background-color-light)
    )
  );

  --mobrix-ui-computed-background-color-dark: var(
    --mobrix-ui-background-color-dark,
    var(
      --mobrix-ui-background-color,
      var(--mobrix-ui-default-background-color-dark)
    )
  );

  --mobrix-ui-computed-text-color-hover-light: var(
    --mobrix-ui-text-color-hover-light,
    var(
      --mobrix-ui-text-color-hover,
      var(--mobrix-ui-default-text-color-hover-light)
    )
  );

  --mobrix-ui-computed-text-color-hover-dark: var(
    --mobrix-ui-text-color-hover-dark,
    var(
      --mobrix-ui-text-color-hover,
      var(--mobrix-ui-default-text-color-hover-dark)
    )
  );

  --mobrix-ui-computed-background-color-hover-light: var(
    --mobrix-ui-background-color-hover-light,
    var(
      --mobrix-ui-background-color-hover,
      var(--mobrix-ui-default-background-color-hover-light)
    )
  );

  --mobrix-ui-computed-background-color-hover-dark: var(
    --mobrix-ui-background-color-hover-dark,
    var(
      --mobrix-ui-background-color-hover,
      var(--mobrix-ui-default-background-color-hover-dark)
    )
  );

  --mobrix-ui-computed-background-hover-dark: var(
    --mobrix-ui-background-hover-dark,
    var(
      --mobrix-ui-background-hover,
      var(--mobrix-ui-default-background-hover-dark)
    )
  );

  --mobrix-ui-computed-background-hover-light: var(
    --mobrix-ui-background-hover-light,
    var(
      --mobrix-ui-background-hover,
      var(--mobrix-ui-default-background-hover-light)
    )
  );
}
