@import url("default.css");

[data-mobrix-ui-id] {
  --mobrix-ui-background-color-light: #f5f5f5;
  --mobrix-ui-background-color-dark: #1d232e;
  --mobrix-ui-text-color-light: #1b1b1b;
  --mobrix-ui-text-color-dark: white;
  --mobrix-ui-text-color-hover-light: var(
    --mobrix-ui-custom-text-color-hover-light,
    var(
      --mobrix-ui-custom-text-color-hover,
      var(--mobrix-ui-default-text-color-hover-light)
    )
  );
  --mobrix-ui-text-color-hover-dark: var(
    --mobrix-ui-custom-text-color-hover-dark,
    var(
      --mobrix-ui-custom-text-color-hover,
      var(--mobrix-ui-default-text-color-hover-dark)
    )
  );
  --mobrix-ui-focus-color-light: #7785ff;
  --mobrix-ui-focus-color-dark: #fb7a10;
  --mobrix-ui-background-dark: linear-gradient(to right, #2d3748, #1d232e);
  --mobrix-ui-background-light: linear-gradient(
    to right,
    #fff,
    #ededee,
    #e6e7e7
  );

  --mobrix-ui-background-color-hover-dark: var(
    --mobrix-ui-default-background-color-hover-dark
  );
  --mobrix-ui-background-color-hover-light: var(
    --mobrix-ui-default-background-color-hover-light
  );

  --mobrix-ui-background-hover-dark: linear-gradient(
    to right,
    #364257,
    #252d3b
  );
  --mobrix-ui-background-hover-light: linear-gradient(
    to right,
    #ececec,
    #e1e1e6,
    #dbdddd
  );
}
