[data-mbx-id] {
  --mbx-d-bg-h-d: linear-gradient(to right, #364257, #252d3b);
  --mbx-d-bg-h-l: linear-gradient(to right, #ececec, #e1e1e6, #dbdddd);
  --mbx-d-bgc-h-l: #dfeaf8;
  --mbx-d-bgc-h-d: #3a3552;
  --mbx-d-txt-h-d: #dfeaf8;
  --mbx-d-txt-h-l: #413c5c;
  --mbx-d-bgc-l: #e9e9e9;
  --mbx-d-bgc-d: #1d232e;
  --mbx-d-txt-l: #1b1b1b;
  --mbx-d-txt-d: white;
  --mbx-d-fc-l: #7785ff;
  --mbx-d-fc-d: #fb7a10;
  --mbx-d-bg-d: linear-gradient(to right, #2d3748, #1d232e);
  --mbx-d-bg-l: linear-gradient(to right, #fff, #ededee, #e6e7e7);
  --mbx-d-sh: #464545;
}
