[data-mobrix-ui-id] {
  --mobrix-ui-default-background-hover-dark: linear-gradient(
    to right,
    #364257,
    #252d3b
  );
  --mobrix-ui-default-background-hover-light: linear-gradient(
    to right,
    #ececec,
    #e1e1e6,
    #dbdddd
  );
  --mobrix-ui-default-background-color-hover-light: #dfeaf8;
  --mobrix-ui-default-background-color-hover-dark: #3a3552;
  --mobrix-ui-default-text-color-hover-dark: #dfeaf8;
  --mobrix-ui-default-text-color-hover-light: #3a3552;
  --mobrix-ui-default-background-color-light: #e9e9e9;
  --mobrix-ui-default-background-color-dark: #1d232e;
  --mobrix-ui-default-text-color-light: #1b1b1b;
  --mobrix-ui-default-text-color-dark: white;
  --mobrix-ui-default-focus-color-light: #7785ff;
  --mobrix-ui-default-focus-color-dark: #fb7a10;
  --mobrix-ui-default-background-dark: linear-gradient(
    to right,
    #2d3748,
    #1d232e
  );
  --mobrix-ui-default-background-light: linear-gradient(
    to right,
    #fff,
    #ededee,
    #e6e7e7
  );
}
