[data-mbx-id="form"] {
  --mbx-bg-l: var(--mbx-form-background-light, var(--mbx-form-background));
  --mbx-txt-l: var(--mbx-form-text-light, var(--mbx-form-text));
  --mbx-bg-d: var(--mbx-form-background-dark, var(--mbx-form-background));
  --mbx-txt-d: var(--mbx-form-text-dark, var(--mbx-form-text));
  padding: 0.75rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  border-color: transparent;
  --mbx-dttxt: var(--mbx-txt);
}

[data-mbx-id="form"] > div {
  --mbx-field-background-light: var(
    --mbx-form-field-background-light,
    var(--mbx-form-field-background)
  );
  --mbx-field-background-dark: var(
    --mbx-form-field-background-dark,
    var(--mbx-form-field-background)
  );
  --mbx-field-text-light: var(
    --mbx-form-field-text-light,
    var(--mbx-form-field-text, var(--mbx-dttxt))
  );
  --mbx-field-text-dark: var(
    --mbx-form-field-text-dark,
    var(--mbx-form-field-text, var(--mbx-dttxt))
  );
  --mbx-field-background-hover-light: var(
    --mbx-form-field-background-hover-light,
    var(--mbx-form-field-background-hover)
  );
  --mbx-field-background-hover-dark: var(
    --mbx-form-field-background-hover-dark,
    var(--mbx-form-field-background-hover)
  );
  --mbx-field-text-hover-light: var(
    --mbx-form-field-text-hover-light,
    var(--mbx-form-field-text-hover)
  );
  --mbx-field-text-hover-dark: var(
    --mbx-form-field-text-hover-dark,
    var(--mbx-form-field-text-hover)
  );
  margin: 0.7rem 0;
}

[data-mbx-id="form"] > [data-mbx-ftitle] {
  margin-bottom: 0.9rem;
  font-size: 1.35rem;
  line-height: 1.75rem;
  --mbx-label-text: var(--mbx-dttxt);
}

[data-mbx-id="form"] > [data-mbx-sbt] {
  margin-top: 0.9rem;
  --mbx-button-background-light: var(
    --mbx-form-submit-background-light,
    var(--mbx-form-submit-background)
  );
  --mbx-button-text-light: var(
    --mbx-form-submit-text-light,
    var(--mbx-form-submit-text)
  );
  --mbx-button-background-dark: var(
    --mbx-form-submit-background-dark,
    var(--mbx-form-submit-background)
  );
  --mbx-button-text-dark: var(
    --mbx-form-submit-text-dark,
    var(--mbx-form-submit-text)
  );
}

[data-mbx-id="form"] > [data-mbx-ftitle],
[data-mbx-id="form"] > [data-mbx-sbt],
[data-mbx-id="form"] > div > [data-mbx-id="field"][data-mbx-ftype="boolean"],
[data-mbx-id="form"] > div > [data-mbx-id="field"][data-mbx-ftype="checkbox"],
[data-mbx-id="form"] > div > [data-mbx-id="field"][data-mbx-ftype="radio"] {
  margin: 0 auto;
}

@media (max-width: 330px) {
  [data-mbx-id="form"] {
    max-width: 75%;
    min-width: 3%;
  }

  [data-mbx-id="form"] [data-mbx-id*="box"] {
    max-width: 85%;
  }
}

@media (max-width: 250px) {
  [data-mbx-id="form"] {
    max-width: 55%;
    min-width: 3%;
  }

  [data-mbx-id="form"] > div {
    max-width: 65%;
  }
}
