[data-mbx-id="form"] {
  padding: 0.75rem;
  border-radius: 0.7rem;
  background: var(--mbx-c-form-bg);
  color: var(--mbx-c-form-txt);
}

[data-mbx-id="form"] [data-mbx-cls="title"] {
  margin-bottom: 0.9rem;
  font-size: 1.35rem;
  line-height: 1.75rem;
  --mbx-label-text-color: var(--mbx-c-form-txt);
}

[data-mbx-id="form"] [data-mbx-cls="f-field"] {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

@media (max-width: 330px) {
  [data-mbx-id="form"] {
    max-width: 75%;
    min-width: 3%;
  }

  [data-mbx-id="form"] [data-mbx-id*="box"] {
    max-width: 85%;
  }
}

@media (max-width: 250px) {
  [data-mbx-id="form"] {
    max-width: 55%;
    min-width: 3%;
  }

  [data-mbx-id="form"] [data-mbx-cls="f-field"] {
    max-width: 65%;
  }
}

[data-mbx-id="form"] [data-mbx-cls="s-bt"] {
  margin-top: 0.9rem;
  --mbx-button-text-color: var(--mbx-c-form-sub-txt);
  --mbx-button-background: var(--mbx-c-form-sub-bg);
}
