[data-mobrix-ui-id="spinner"],
[data-mobrix-ui-id="spinner"] svg {
  background: transparent;
  min-width: 4rem;
}

[data-mobrix-ui-id="spinner"] [data-mobrix-ui-class="rotating"] {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
