[data-mbx-id="spinner"],
[data-mbx-id="spinner"] svg {
  background: transparent;
  min-width: 4rem;
}

[data-mbx-id="spinner"][data-mbx-enabled="true"]
  [data-mbx-class="rotating"] {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
