#mobrix-ui-slider {
  appearance: none;
  width: 100%;
  border-radius: 12px;
  background: var(--mobrix-ui-background);
  -webkit-appearance: none;

  --mobrix-ui-slider-thumb-color: radial-gradient(#0e123d, #0412ad);
}

#mobrix-ui-slider.dark {
  --mobrix-ui-slider-thumb-color: radial-gradient(#9b9999, #e3e4e9);
}

#mobrix-ui-slider::-webkit-slider-thumb {
  appearance: none;

  -webkit-appearance: none;
}

#mobrix-ui-slider::-ms-track {
  width: 100%;
  cursor: pointer;
  background: var(--mobrix-ui-slider-thumb-color);
  border-color: transparent;
  color: transparent;
}

#mobrix-ui-slider.styled::-moz-range-thumb {
  border-color: transparent;
  color: transparent;
  border-radius: 50%;
  appearance: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: var(--mobrix-ui-slider-thumb-color);
}

#mobrix-ui-slider.styled::-webkit-slider-thumb {
  border-radius: 50%;
  appearance: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: var(--mobrix-ui-slider-thumb-color);

  -webkit-appearance: none;
}

#mobrix-ui-slider.styled.shadowed::-webkit-slider-thumb {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
