[data-mobrix-ui-id="slider"] {
  appearance: none;
  width: 100%;
  border-radius: 12px;
  background: var(--mobrix-ui-slider-background);
  -webkit-appearance: none;
}

[data-mobrix-ui-id="slider"]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
}

[data-mobrix-ui-id="slider"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: var(--mobrix-ui-slider-thumb-color);
  border-color: transparent;
  color: transparent;
}

[data-mobrix-ui-id="slider"][data-mobrix-ui-styled="true"]::-moz-range-thumb {
  border-color: transparent;
  color: transparent;
  border-radius: 50%;
  appearance: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: var(--mobrix-ui-slider-thumb-color);
}

[data-mobrix-ui-id="slider"][data-mobrix-ui-styled="true"]::-webkit-slider-thumb {
  border-radius: 50%;
  appearance: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: var(--mobrix-ui-slider-thumb-color);
  -webkit-appearance: none;
}

[data-mobrix-ui-id="slider"][data-mobrix-ui-styled="true"][data-mobrix-ui-shadow="true"]::-webkit-slider-thumb {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
