[data-mbx-id="slider"] {
  appearance: none;
  border-radius: 12px;
  background: var(--mbx-c-sld-bg);
  -webkit-appearance: none;
}

[data-mbx-id="slider"]::-webkit-slider-thumb {
  border-radius: 50%;
  appearance: none;
  width: 30px;
  height: 30px;
  background: var(--mbx-c-sld-tb);
  -webkit-appearance: none;
}

[data-mbx-id="slider"]::-ms-track {
  width: 100%;
  background: var(--mbx-c-sld-tb);
  border-color: transparent;
  color: transparent;
}

[data-mbx-id="slider"]::-moz-range-thumb {
  border-color: transparent;
  color: transparent;
  border-radius: 50%;
  appearance: none;
  width: 30px;
  height: 30px;
  background: var(--mbx-c-sld-tb);
}

[data-mbx-id="slider"][data-mbx-atts*="sh"]::-webkit-slider-thumb {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (hover) {
  [data-mbx-id="slider"][data-mbx-atts*="hv"]::-ms-track:hover {
    width: 100%;
    background: var(--mbx-c-sld-tb-h);
    border-color: transparent;
    color: transparent;
    opacity: 0.8;
  }

  [data-mbx-id="slider"][data-mbx-atts*="hv"]::-moz-range-thumb:hover {
    border-color: transparent;
    color: transparent;
    border-radius: 50%;
    appearance: none;
    width: 30px;
    height: 30px;
    opacity: 0.8;
    background: var(--mbx-c-sld-tb-h);
  }

  [data-mbx-id="slider"][data-mbx-atts*="hv"]::-webkit-slider-thumb:hover {
    border-radius: 50%;
    appearance: none;
    width: 30px;
    height: 30px;
    background: var(--mbx-c-sld-tb-h);
    -webkit-appearance: none;
    opacity: 0.8;
  }
}

[data-mbx-id="slider"][data-mbx-atts*="hv"]::-moz-range-thumb:active,
[data-mbx-id="slider"][data-mbx-atts*="hv"]::-webkit-slider-thumb:active {
  opacity: 0.6;
}
