[data-mbx-id="sld"] {
  appearance: none;
  border-radius: 12px;
  background: var(--mbx-c-sld-bg);
  -webkit-appearance: none;
}

[data-mbx-id="sld"]::-webkit-slider-thumb {
  border-radius: 50%;
  appearance: none;
  width: 30px;
  height: 30px;
  background: var(--mbx-c-sld-tb);
  -webkit-appearance: none;
  opacity: var(--mbx-op);
}

[data-mbx-id="sld"]::-ms-track {
  width: 100%;
  background: var(--mbx-c-sld-tb);
  border-color: transparent;
  color: transparent;
}

[data-mbx-id="sld"]::-moz-range-thumb {
  border-color: transparent;
  color: transparent;
  border-radius: 50%;
  appearance: none;
  width: 30px;
  height: 30px;
  background: var(--mbx-c-sld-tb);
  opacity: var(--mbx-op);
}

[data-mbx-id="sld"]::-webkit-slider-thumb {
  box-shadow: var(--mbx-sh);
  opacity: var(--mbx-op);
}

@media (hover) {
  [data-mbx-id="sld"]::-ms-track:hover {
    background: var(--mbx-sld-bg-h, var(--mbx-c-sld-tb));
    opacity: var(--mbx-sld-op, var(--mbx-op));
  }

  [data-mbx-id="sld"]::-moz-range-thumb:hover {
    opacity: var(--mbx-sld-op-hov, var(--mbx-op));
    background: var(--mbx-sld-bg-h, var(--mbx-c-sld-tb));
  }

  [data-mbx-id="sld"]::-webkit-slider-thumb:hover {
    background: var(--mbx-sld-bg-h, var(--mbx-c-sld-tb));
    opacity: var(--mbx-sld-op-hov, var(--mbx-op));
  }
}

[data-mbx-id="sld"]::-moz-range-thumb:active {
  opacity: var(--mbx-sld-op-act, var(--mbx-op));
}

[data-mbx-id="sld"]::-webkit-slider-thumb:active {
  opacity: var(--mbx-sld-op-act, var(--mbx-op));
}
