[data-mbx-id="list"] {
  background: transparent;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

[data-mbx-id="list"] > [data-mbx-id="cn"] {
  margin-top: 0.2rem;
  display: flex;
  flex-direction: row;
}

[data-mbx-id="list"] > [data-mbx-id="cn"] > svg {
  display: block;
  margin: auto 0.3rem auto 0;
  width: 6px;
  height: 6px;
  fill: var(--mbx-con-txt);
}

[data-mbx-id="list"] > [data-mbx-id="cn"] {
  --mbx-ovcontxt: var(--mbx-list-text);
  --mbx-ovcontxth: var(--mbx-list-text-hover);
  --mbx-ovcontxtl: var(--mbx-list-text-light);
  --mbx-ovcontxthd: var(--mbx-list-text-hover-dark);
  --mbx-ovcontxthl: var(--mbx-list-text-hover-light);
  --mbx-ovcontxtd: var(--mbx-list-text-dark);
}
