[data-mbx-id="list"] {
  display: flex;
  flex-direction: column;
  background: transparent;
  padding: 0.6rem;
}

[data-mbx-id="list"] [data-mbx-list-element] {
  display: flex;
  flex-direction: row;
  color: var(--mbx-c-lst-txt);
  outline: none;
  margin-top: 0.2rem;
}

[data-mbx-id="list"][data-mbx-attributes*="a11y"]
  [data-mbx-list-element]:focus-visible {
  color: var(--mbx-c-fc);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

[data-mbx-id="list"] [data-mbx-list-element] [data-mbx-class="dot"] {
  width: 6px;
  height: 6px;
  fill: var(--mbx-c-lst-txt);
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0.3rem;
  display: block;
}

@media (hover) {
  [data-mbx-id="list"][data-mbx-attributes*="hover"]
    [data-mbx-list-element="clickable"]:hover {
    cursor: pointer;
  }
}
