[data-mbx-id*="card"] {
  padding: 0 0.1rem;
}

[data-mbx-id*="card"] [data-mbx-scl*="cardc-"] {
  padding: 0.5rem 0.3rem;
  word-wrap: break-word;
  word-break: break-word;
}

[data-mbx-id*="card"] [data-mbx-scl*="cardc-body"] {
  padding: 0.7rem 0.3rem;
}
