[data-mbx-id="crsel"] {
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
  --mbx-align: center;
  --mbx-bg-l: var(
    --mbx-carousel-background-light,
    var(--mbx-carousel-background)
  );
  --mbx-bg-d: var(
    --mbx-carousel-background-dark,
    var(--mbx-carousel-background)
  );
}

[data-mbx-id="crsel"] > [data-mbx-car-els] > [data-mbx-id="cont"] {
  position: relative;
  -webkit-animation: var(--mbx-car-an) 0.3s forwards;
  animation: var(--mbx-car-an) 0.3s forwards;
  -moz-animation: var(--mbx-car-an) 0.3s forwards;
  -ms-animation: var(--mbx-car-an) 0.3s forwards;
  -o-animation: var(--mbx-car-an) 0.3s forwards;
}

[data-mbx-id="crsel"] > [data-mbx-car-els] > [data-mbx-id="icb"] {
  margin: auto 0.6rem;
  --mbx-icon-light: var(
    --mbx-carousel-arrow-color-light,
    var(--mbx-carousel-arrow-color, var(--mbx-c-txt))
  );
  --mbx-icon-dark: var(
    --mbx-carousel-arrow-color-dark,
    var(--mbx-carousel-arrow-color, var(--mbx-c-txt))
  );
  --mbx-icon-hover-light: var(
    --mbx-carousel-arrow-color-hover-light,
    var(--mbx-carousel-arrow-color-hover, #287dfd)
  );
  --mbx-icon-hover-dark: var(
    --mbx-carousel-arrow-color-hover-dark,
    var(--mbx-carousel-arrow-color-hover, #ff8007)
  );
}

[data-mbx-id="crsel"] > div {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
}

[data-mbx-id="crsel"] > [data-mbx-cdots] {
  overflow: hidden;
}

[data-mbx-id="crsel"] > [data-mbx-cdots] > [data-mbx-id="icb"] {
  --mbx-def-bg: radial-gradient(
    #000000,
    #181818,
    #282828,
    #3a3a3a,
    #4c4c4c,
    #6b6a6a,
    #858383
  );
  --mbx-def-bgh: linear-gradient(
    to top,
    #ff8007,
    #fd8616,
    #fd9b3f,
    #fd9c40,
    #fcbb7f,
    #fad6b4
  );
  --mbx-bgh-d: var(
    --mbx-carousel-dot-full-background-dark,
    var(--mbx-carousel-dot-full-background)
  );
  --mbx-bg-d: var(
    --mbx-carousel-dot-empty-background-dark,
    var(--mbx-carousel-dot-empty-background)
  );
  --mbx-bgh-l: var(
    --mbx-carousel-dot-full-background-light,
    var(--mbx-carousel-dot-full-background)
  );
  --mbx-bg-l: var(
    --mbx-carousel-dot-empty-background-light,
    var(--mbx-carousel-dot-empty-background)
  );
  margin: 0 0.3rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: transparent;
}
