[data-mbx-id="crsel"] {
  background: var(--mbx-c-car-bg);
  padding: 0.4rem;
  --mbx-arr: var(--mbx-c-car-arr);
}

[data-mbx-id="crsel"] [data-mbx-cls="el"] {
  position: relative;
  -webkit-animation: var(--mbx-car-an) 0.3s forwards;
  animation: var(--mbx-car-an) 0.3s forwards;
  -moz-animation: var(--mbx-car-an) 0.3s forwards;
  -ms-animation: var(--mbx-car-an) 0.3s forwards;
  -o-animation: var(--mbx-car-an) 0.3s forwards;
}

[data-mbx-id="crsel"] [data-mbx-cls="aprev"] {
  margin-right: 0.6rem;
}

[data-mbx-id="crsel"] [data-mbx-cls="anext"] {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-left: 0.6rem;
}

[data-mbx-id="crsel"] [data-mbx-cls="car-els"],
[data-mbx-id="crsel"] [data-mbx-cls="cdots"] {
  padding: 0.5rem;
}

[data-mbx-id="crsel"] [data-mbx-cls="csdot"] {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
