[data-mbx-id="carousel"] {
  color: var(--mbx-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  background: var(--mbx-c-car-bg);
  padding: 0.4rem;
}

[data-mbx-id="carousel"] [data-mbx-animation="from-left"] {
  --mbx-carousel-animation: slideLeft 0.3s forwards;
}

[data-mbx-id="carousel"] [data-mbx-animation="from-right"] {
  --mbx-carousel-animation: slideRight 0.3s forwards;
}

[data-mbx-id="carousel"] [data-mbx-class="element"] {
  position: relative;
  -webkit-animation: var(--mbx-carousel-animation);
  animation: var(--mbx-carousel-animation);
  -moz-animation: var(--mbx-carousel-animation);
  -ms-animation: var(--mbx-carousel-animation);
  -o-animation: var(--mbx-carousel-animation);
}

[data-mbx-id="carousel"] [data-mbx-arrow] svg {
  fill: var(--mbx-c-car-arr);
}

[data-mbx-id="carousel"] [data-mbx-arrow][data-mbx-attributes*="disabled"] svg,
[data-mbx-id="carousel"] [data-mbx-arrow][data-mbx-attributes*="disabled"]:hover svg {
  fill: none;
}

[data-mbx-id="carousel"] [data-mbx-arrow="prev"] {
  margin-right: 0.6rem;
}

[data-mbx-id="carousel"] [data-mbx-arrow="next"] {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-left: 0.6rem;
}

[data-mbx-id="carousel"] [data-mbx-class="elements"],
[data-mbx-id="carousel"] [data-mbx-class="dots"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  padding: 0.5rem;
}

[data-mbx-id="carousel"] [data-mbx-class="dots"] {
  justify-content: center;
}

[data-mbx-id="carousel"] [data-mbx-class="dots"] [data-mbx-class="dot"] {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

[data-mbx-id="carousel"]
  [data-mbx-class="dots"]
  [data-mbx-class="dot"]
  [data-mbx-class="carousel-dot-icon"] {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: transparent;
}

[data-mbx-id="carousel"]
  [data-mbx-class="dots"]
  [data-mbx-class="dot"]
  [data-mbx-class="carousel-dot-icon"][data-mbx-icon-full="true"] {
  background: var(--mbx-c-car-dot-f);
}

[data-mbx-id="carousel"]
  [data-mbx-class="dots"]
  [data-mbx-class="dot"]
  [data-mbx-class="carousel-dot-icon"][data-mbx-icon-full="false"] {
  background: var(--mbx-c-car-dot-e);
}


