[data-mobrix-ui-id="carousel"] {
  color: var(--mobrix-ui-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

[data-mobrix-ui-id="carousel"][data-mobrix-ui-styled="true"] {
  background-image: var(--mobrix-ui-computed-carousel-background);
  padding: 0.4rem;
}

[data-mobrix-ui-id="carousel"] [data-mobrix-ui-animation="from-left"] {
  --mobrix-ui-carousel-animation: slideLeft 0.3s forwards;
}

[data-mobrix-ui-id="carousel"] [data-mobrix-ui-animation="from-right"] {
  --mobrix-ui-carousel-animation: slideRight 0.3s forwards;
}

[data-mobrix-ui-id="carousel"] [data-mobrix-ui-class="element"] {
  position: relative;
  -webkit-animation: var(--mobrix-ui-carousel-animation);
  animation: var(--mobrix-ui-carousel-animation);
  -moz-animation: var(--mobrix-ui-carousel-animation);
  -ms-animation: var(--mobrix-ui-carousel-animation);
  -o-animation: var(--mobrix-ui-carousel-animation);
}

[data-mobrix-ui-id="carousel"] [data-mobrix-ui-arrow] svg {
  fill: var(--mobrix-ui-computed-carousel-arrow-color);
}

@media (hover) {
  [data-mobrix-ui-id="carousel"][data-mobrix-ui-styled="true"][data-mobrix-ui-hover="true"]
    [data-mobrix-ui-arrow]:hover
    svg {
    fill: var(--mobrix-ui-computed-carousel-arrow-color-hover);
  }
}

[data-mobrix-ui-id="carousel"][data-mobrix-ui-styled="true"]
  [data-mobrix-ui-arrow][data-mobrix-ui-enabled="false"]
  svg,
[data-mobrix-ui-id="carousel"][data-mobrix-ui-styled="true"]
  [data-mobrix-ui-arrow][data-mobrix-ui-enabled="false"]:hover
  svg {
  fill: none;
}

[data-mobrix-ui-id="carousel"] [data-mobrix-ui-arrow="prev"] {
  margin-right: 0.6rem;
}

[data-mobrix-ui-id="carousel"] [data-mobrix-ui-arrow="next"] {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-left: 0.6rem;
}

[data-mobrix-ui-id="carousel"] [data-mobrix-ui-class="elements"],
[data-mobrix-ui-id="carousel"] [data-mobrix-ui-class="dots"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  padding: 0.5rem;
}

[data-mobrix-ui-id="carousel"] [data-mobrix-ui-class="dots"] {
  justify-content: center;
}

[data-mobrix-ui-id="carousel"]
  [data-mobrix-ui-class="dots"]
  [data-mobrix-ui-class="dot"] {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

[data-mobrix-ui-id="carousel"]
  [data-mobrix-ui-class="dots"]
  [data-mobrix-ui-class="dot"]
  [data-mobrix-ui-class="carousel-dot-icon"] {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: transparent;
}

[data-mobrix-ui-id="carousel"]
  [data-mobrix-ui-class="dots"]
  [data-mobrix-ui-class="dot"]
  [data-mobrix-ui-class="carousel-dot-icon"][data-mobrix-ui-icon-full="true"] {
  background: var(--mobrix-ui-computed-carousel-dot-full-background);
}

[data-mobrix-ui-id="carousel"]
  [data-mobrix-ui-class="dots"]
  [data-mobrix-ui-class="dot"]
  [data-mobrix-ui-class="carousel-dot-icon"][data-mobrix-ui-icon-full="false"] {
  background: var(--mobrix-ui-computed-carousel-dot-empty-background);
}
