[data-mbx-id="count"]:not([data-mbx-atts*="bg"]),
[data-mbx-id="count"]:not([data-mbx-atts*="bg"]):hover {
  --mbx-c-cnt-bg: transparent !important;
}

[data-mbx-id="inp"]:not([data-mbx-atts*="bg"]),
[data-mbx-id="inp"]:not([data-mbx-atts*="bg"]):hover {
  --mbx-c-in-bgc: transparent !important;
}

[data-mbx-id="radio"]:not([data-mbx-atts*="bg"]),
[data-mbx-id="radio"]:not([data-mbx-atts*="bg"]):hover {
  --mbx-c-rad-bg: transparent !important;
}

[data-mbx-id="rat"]:not([data-mbx-atts*="bg"]),
[data-mbx-id="rat"]:not([data-mbx-atts*="bg"]):hover {
  --mbx-c-rat-bg: transparent !important;
}

[data-mbx-id="selt"]:not([data-mbx-atts*="bg"]),
[data-mbx-id="selt"]:not([data-mbx-atts*="bg"]):hover {
  --mbx-c-sel-bg: transparent !important;
  --mbx-c-sel-bg-h: transparent !important;
}

[data-mbx-id="sld"]:not([data-mbx-atts*="bg"]),
[data-mbx-id="sld"]:not([data-mbx-atts*="bg"]):hover {
  --mbx-c-sld-bg: transparent !important;
}

[data-mbx-id="tgl"]:not([data-mbx-atts*="bg"]),
[data-mbx-id="tgl"]:not([data-mbx-atts*="bg"]):hover {
  --mbx-c-tog-bg: transparent !important;
}
