[data-mbx-id="cal"]:not([data-mbx-atts*="bg"]) {
  --mbx-c-cal-bg: transparent !important;
}

[data-mbx-id="dpick"]:not([data-mbx-atts*="bg"]) {
  --mbx-c-dtp-bg: transparent !important;
}

[data-mbx-id="drw"]:not([data-mbx-atts*="bg"]) {
  --mbx-c-draw-bg: transparent !important;
}

[data-mbx-id="form"]:not([data-mbx-atts*="bg"]) {
  --mbx-c-form-bg: transparent !important;
}
