#mobrix-ui-modal {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#mobrix-ui-modal.styled{
  background-color: rgba(0, 0, 0, 0.4);
  animation: fadeIn 0.2s ease-in forwards;
}

#mobrix-ui-modal .box-component {
  width: 100%;
  height: 100%;
}

#mobrix-ui-modal.styled .container {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  margin: auto;
  border-radius: 0.375rem;
  background-image: var(--mobrix-ui-background);
  color: var(--mobrix-ui-text-color);
}

#mobrix-ui-modal.styled .container .header {
  display: flex;
  flex-direction: row;
  margin: 0.25rem 0.5rem;
}

#mobrix-ui-modal.styled .container .header .title {
  margin: auto;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 0.25rem 0.9rem;
  font-weight: 700;
}

#mobrix-ui-modal.styled .container .header .close-button {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

#mobrix-ui-modal.styled .container .header .close-button:hover svg path {
  fill: rgba(185, 28, 28, 1);
}

#mobrix-ui-modal.styled .container .header .close-button,
#mobrix-ui-modal.styled .container .header .close-button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

#mobrix-ui-modal.styled .container .content {
  padding: 1rem;
}
