[data-mbx-id="mod"] {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0.1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  --mbx-md-an-in: fade-in 0.3s forwards;
  --mbx-md-an-out: fade-out 0.3s forwards;
  animation: var(--mbx-md-an);
  -moz-animation: var(--mbx-md-an);
  -ms-animation: var(--mbx-md-an);
  -o-animation: var(--mbx-md-an);
  --mbx-defbg: var(--mbx-modal-background, rgba(0, 0, 0, 0.8));
  --mbx-bg-l: var(--mbx-modal-background-light);
  --mbx-bg-d: var(--mbx-modal-background-dark);
}

[data-mbx-id="mod"] > [data-mbx-id="dis-card"] > [data-mbx-cbody] {
  align-items: center;
  margin: 0;
  display: flex;
  flex-direction: column;
}

[data-mbx-id="mod"] > [data-mbx-id*="card"] {
  height: 100%;
  width: 100%;
  --mbx-def-modx: white;
  --mbx-dismissablecard-x: var(--mbx-modal-x, var(--mbx-def-modx));
  --mbx-dismissablecard-x-hover: var(--mbx-modal-x-hover);
  --mbx-dismissablecard-x-light: var(--mbx-modal-x-light);
  --mbx-dismissablecard-x-hover-light: var(--mbx-modal-x-hover-light);
  --mbx-dismissablecard-x-dark: var(--mbx-modal-x-dark);
  --mbx-dismissablecard-x-hover-dark: var(--mbx-modal-x-hover-dark);
  --mbx-sh-def: none;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  [data-mbx-id="mod"] {
    -webkit-backdrop-filter: blur(2.5em);
    backdrop-filter: blur(2.5em);
  }
}
