[data-mobrix-ui-id="modal"] {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  [data-mobrix-ui-id="modal"] {
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(2em);
    backdrop-filter: blur(2em);
  }
}

[data-mobrix-ui-id="modal"] > .modal-window {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

[data-mobrix-ui-id="modal"] > .modal-window > .content {
  margin: auto;
}

[data-mobrix-ui-id="modal"][data-mobrix-ui-styled="true"] > .modal-window > .content {
  padding: 1rem;
}
