[data-mbx-id="mod"] {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  height: 100%;
  --mbx-mod-bg: var(
    --mbx-modal-background-light,
    var(--mbx-modal-background, rgba(0, 0, 0, 0.8))
  );
  padding: 0.1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  --mbx-md-an-in: fade-in 0.3s forwards;
  --mbx-md-an-out: fade-out 0.3s forwards;
  animation: var(--mbx-md-an);
  -moz-animation: var(--mbx-md-an);
  -ms-animation: var(--mbx-md-an);
  -o-animation: var(--mbx-md-an);
  background-color: var(--mbx-mod-bg);
}

[data-mbx-id="mod"][data-mbx-dk] {
  --mbx-mod-bg: var(
    --mbx-modal-background-dark,
    var(--mbx-modal-background, rgba(0, 0, 0, 0.8))
  );
}

[data-mbx-id="mod"] > [data-mbx-id="dis-card"] > [data-mbx-cbody] {
  align-items: center;
  margin: 0;
  display: flex;
  flex-direction: column;
}

[data-mbx-id="mod"] > [data-mbx-id="dis-card"] > [data-mbx-dchead] {
  --mbx-dismissablecard-x-color-light: var(
    --mbx-modal-x-color-light,
    var(--mbx-modal-x-color, white)
  );
  --mbx-dismissablecard-x-color-hover-light: var(
    --mbx-modal-x-color-hover-light,
    var(--mbx-modal-x-color-hover)
  );
  --mbx-dismissablecard-x-color-dark: var(
    --mbx-modal-x-color-dark,
    var(--mbx-modal-x-color, white)
  );
  --mbx-dismissablecard-x-color-hover-dark: var(
    --mbx-modal-x-color-hover-dark,
    var(--mbx-modal-x-color-hover)
  );
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  [data-mbx-id="mod"] {
    -webkit-backdrop-filter: blur(2.5em);
    backdrop-filter: blur(2.5em);
  }
}
