[data-mbx-id="modal"] {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--mbx-c-mod-bg);
  padding: 0.1rem;
}

[data-mbx-id="modal"][data-mbx-attributes*="animated"] {
  --mbx-modal-animation-in: fadein 0.3s forwards;
  --mbx-modal-animation-out: fadeOut 0.3s forwards;
  animation: var(--mbx-modal-animation);
  -moz-animation: var(--mbx-modal-animation);
  -ms-animation: var(--mbx-modal-animation);
  -o-animation: var(--mbx-modal-animation);
}

[data-mbx-id="modal"][data-mbx-attributes*="animated"][data-mbx-modal-animation="ease-in"] {
  --mbx-modal-animation: var(--mbx-modal-animation-in);
}

[data-mbx-id="modal"][data-mbx-attributes*="animated"][data-mbx-modal-animation="ease-in"] {
  --mbx-modal-animation: var(--mbx-modal-animation-in);
}

[data-mbx-id="modal"][data-mbx-attributes*="animated"][data-mbx-modal-animation="ease-out"] {
  --mbx-modal-animation: var(--mbx-modal-animation-out);
}

[data-mbx-id="modal"] > [data-mbx-class="modal-window"] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

[data-mbx-id="modal"]
  > [data-mbx-class="modal-window"]
  [data-mbx-class="body"] {
  margin: 0;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  [data-mbx-id="modal"] {
    -webkit-backdrop-filter: blur(2.5em);
    backdrop-filter: blur(2.5em);
  }
}
