@import url("computed.css");

[data-mbx-id]:not([data-mbx-attributes*="dark"]) {
  /** Button */
  --mbx-c-btn-bg-h: var(--mbx-c-btn-bg-h-l);

  --mbx-c-btn-txt-h: var(--mbx-c-btn-txt-h-l);

  /** CheckBox */

  --mbx-c-chk-bg-h: var(--mbx-c-chk-bg-h-l);

  /** Counter */

  --mbx-c-cnt-bg-h: var(--mbx-c-cnt-bgc-h-l);

  --mbx-c-cnt-txt-h: var(--mbx-c-cnt-txt-h-l);

  /** Input */

  --mbx-c-in-bgc-h: var(--mbx-c-in-bgc-h-l);

  --mbx-c-in-txt-h: var(--mbx-c-in-txt-h-l);

  /** Link */

  --mbx-c-link-txt-h: var(--mbx-c-link-txt-h-l);

  /** PackageVersion */

  --mbx-c-pkgv-txt: var(--mbx-c-pkgv-txt-l);

  /* Radio Button */

  --mbx-c-rad-bg-h: var(--mbx-c-rad-bg-h-l);

  /** Selector **/

  --mbx-c-sel-bg-h: var(--mbx-c-sel-bg-h-l);
  --mbx-c-sel-txt-h: var(--mbx-c-sel-txt-h-l);
}

[data-mbx-id][data-mbx-attributes*="dark"] {
  /** Button */
  --mbx-c-btn-bg-h: var(--mbx-c-btn-bg-h-d);

  --mbx-c-btn-txt-h: var(--mbx-c-btn-txt-h-d);

  /** CheckBox */

  --mbx-c-chk-bg-h: var(--mbx-c-chk-bg-h-d);

  /** Counter */

  --mbx-c-cnt-bg-h: var(--mbx-c-cnt-bgc-h-d);

  --mbx-c-cnt-txt-h: var(--mbx-c-cnt-txt-h-d);

  /** Input */

  --mbx-c-in-bgc-h: var(--mbx-c-in-bgc-h-d);

  --mbx-c-in-txt-h: var(--mbx-c-in-txt-h-d);

  /** Link */

  --mbx-c-link-txt-h: var(--mbx-c-link-txt-h-d);

  /** PackageVersion */

  --mbx-c-pkgv-txt: var(--mbx-c-pkgv-txt-d);

  /* Radio Button */

  --mbx-c-rad-bg-h: var(--mbx-c-rad-bg-h-d);

  /** Selector **/

  --mbx-c-sel-bg-h: var(--mbx-c-sel-bg-h-d);
  --mbx-c-sel-txt-h: var(--mbx-c-sel-txt-h-d);
}
