[data-mbx-id]:not([data-mbx-atts*="dk"]) {
  /** Button */
  --mbx-c-btn-bg-h: var(
    --mbx-button-background-hover-light,
    var(--mbx-checkbox-background-hover, var(--mbx-c-bg-h))
  );
  --mbx-c-btn-txt-h: var(
    --mbx-button-text-color-hover-light,
    var(--mbx-button-text-color-hover, var(--mbx-c-txt-l))
  );

  /** CheckBox */
  --mbx-c-chk-bg-h: var(
    --mbx-checkbox-background-hover-light,
    var(--mbx-checkbox-background-hover, var(--mbx-c-bg-h))
  );

  /** Counter */
  --mbx-c-cnt-bg-h: var(
    --mbx-counterbox-background-hover-light,
    var(--mbx-counterbox-background-hover, var(--mbx-c-bgc-h))
  );
  --mbx-c-cnt-txt-h: var(
    --mbx-counterbox-text-color-hover-light,
    var(--mbx-counterbox-text-color-hover, var(--mbx-c-txt-h))
  );

  /** Input */
  --mbx-c-in-bgc-h: var(
    --mbx-inputbox-background-hover-light,
    var(--mbx-inputbox-background-hover, var(--mbx-c-bgc-h))
  );
  --mbx-c-in-txt-h: var(
    --mbx-inputbox-text-color-hover-light,
    var(--mbx-inputbox-text-color-hover, var(--mbx-c-txt-h))
  );

  /** Link */
  --mbx-c-link-txt-h: var(
    --mbx-link-color-hover-light,
    var(--mbx-link-color-hover, var(--mbx-c-link-txt-l))
  );

  /* Radio Button */
  --mbx-c-rad-bg-h: var(
    --mbx-radio-background-hover-light,
    var(--mbx-radio-background-hover)
  );

  /** Selector **/
  --mbx-c-sel-bg-h: var(
    --mbx-selector-background-hover-light,
    var(--mbx-selector-background-hover)
  );
  --mbx-c-sel-txt-h: var(
    --mbx-selector-text-color-hover-light,
    var(--mbx-selector-text-color-hover)
  );
}

[data-mbx-id][data-mbx-atts*="dk"] {
  /** Button */
  --mbx-c-btn-bg-h: var(
    --mbx-button-background-hover-dark,
    var(--mbx-button-background-hover, var(--mbx-c-bg-d))
  );

  --mbx-c-btn-txt-h: var(
    --mbx-button-text-color-hover-dark,
    var(--mbx-button-text-color-hover, var(--mbx-c-txt-d))
  );

  /** CheckBox */
  --mbx-c-chk-bg-h: var(
    --mbx-checkbox-background-hover-dark,
    var(--mbx-checkbox-background-hover, var(--mbx-c-bg-h))
  );

  /** Counter */
  --mbx-c-cnt-bg-h: var(
    --mbx-counterbox-background-hover-dark,
    var(--mbx-counterbox-background-hover, var(--mbx-c-bgc-h))
  );
  --mbx-c-cnt-txt-h: var(
    --mbx-counterbox-text-color-hover-dark,
    var(--mbx-counterbox-text-color-hover, var(--mbx-c-txt-h))
  );

  /** Input */
  --mbx-c-in-bgc-h: var(
    --mbx-inputbox-background-hover-dark,
    var(--mbx-inputbox-background-hover, var(--mbx-c-bgc-h))
  );
  --mbx-c-in-txt-h: var(
    --mbx-inputbox-text-color-hover-dark,
    var(--mbx-inputbox-text-color-hover, var(--mbx-c-txt-h))
  );

  /** Link */
  --mbx-c-link-txt-h: var(
    --mbx-link-color-hover-dark,
    var(--mbx-link-color-hover, var(--mbx-c-link-txt-d))
  );

  /* Radio Button */
  --mbx-c-rad-bg-h: var(
    --mbx-radio-background-hover-dark,
    var(--mbx-radio-background-hover)
  );

  /** Selector **/
  --mbx-c-sel-bg-h: var(
    --mbx-selector-background-hover-dark,
    var(--mbx-selector-background-hover)
  );
  --mbx-c-sel-txt-h: var(
    --mbx-selector-text-color-hover-dark,
    var(--mbx-selector-text-color-hover)
  );
}
