[data-mbx-id] {
  /** Button */

  --mbx-c-btn-bg-h-l: var(
    --mbx-button-background-hover-light,
    var(--mbx-button-background-hover, var(--mbx-d-bg-l))
  );

  --mbx-c-btn-bg-h-d: var(
    --mbx-button-background-hover-dark,
    var(--mbx-button-background-hover, var(--mbx-d-bg-d))
  );

  --mbx-c-btn-txt-h-l: var(
    --mbx-button-text-color-hover-light,
    var(--mbx-button-text-color-hover, var(--mbx-c-txt-l))
  );

  --mbx-c-btn-txt-h-d: var(
    --mbx-button-text-color-hover-dark,
    var(--mbx-button-text-color-hover, var(--mbx-c-txt-d))
  );

  /** CheckBox */

  --mbx-c-chk-bg-h-l: var(
    --mbx-checkbox-background-hover-light,
    var(--mbx-checkbox-background-hover, var(--mbx-c-bg-h-l))
  );

  --mbx-c-chk-bg-h-d: var(
    --mbx-checkbox-background-hover-dark,
    var(--mbx-checkbox-background-hover, var(--mbx-c-bg-h-d))
  );

  /** Counter */

  --mbx-c-cnt-bgc-h-l: var(
    --mbx-counterbox-background-hover-light,
    var(--mbx-counterbox-background-hover, var(--mbx-c-bgc-h-l))
  );

  --mbx-c-cnt-bgc-h-d: var(
    --mbx-counterbox-background-hover-dark,
    var(--mbx-counterbox-background-hover, var(--mbx-c-bgc-h-d))
  );

  --mbx-c-cnt-txt-h-l: var(
    --mbx-counterbox-text-color-hover-light,
    var(--mbx-counterbox-text-color-hover, var(--mbx-c-txt-h-l))
  );

  --mbx-c-cnt-txt-h-d: var(
    --mbx-counterbox-text-color-hover-dark,
    var(--mbx-counterbox-text-color-hover, var(--mbx-c-txt-h-d))
  );

  /** Input */
  --mbx-c-in-bgc-h-l: var(
    --mbx-inputbox-background-hover-light,
    var(--mbx-inputbox-background-hover, var(--mbx-d-bgc-h-l))
  );

  --mbx-c-in-bgc-h-d: var(
    --mbx-inputbox-background-hover-dark,
    var(--mbx-inputbox-background-hover, var(--mbx-d-bgc-h-d))
  );

  --mbx-c-in-txt-h-l: var(
    --mbx-inputbox-text-color-hover-light,
    var(--mbx-inputbox-text-color-hover, var(--mbx-d-txt-h-l))
  );

  --mbx-c-in-txt-h-d: var(
    --mbx-inputbox-text-color-hover-dark,
    var(--mbx-inputbox-text-color-hover, var(--mbx-d-txt-h-d))
  );

  /** Link */

  --mbx-c-link-txt-h-l: var(
    --mbx-link-color-hover-light,
    var(--mbx-link-color-hover, var(--mbx-c-link-txt-l))
  );

  --mbx-c-link-txt-h-d: var(
    --mbx-link-color-hover-dark,
    var(--mbx-link-color-hover, var(--mbx-c-link-txt-d))
  );

  /* Radio Button */

  --mbx-c-rad-bg-h-l: var(
    --mbx-radio-background-hover-light,
    var(--mbx-radio-background-hover, var(--mbx-c-rad-bg-l))
  );

  --mbx-c-rad-bg-h-d: var(
    --mbx-radio-background-hover-dark,
    var(--mbx-radio-background-hover, var(--mbx-c-rad-bg-d))
  );

  /** Selector **/

  --mbx-c-sel-bg-h-l: var(
    --mbx-selector-background-hover-light,
    var(--mbx-selector-background-hover, var(--mbx-c-bg-h-l))
  );

  --mbx-c-sel-bg-h-d: var(
    --mbx-selector-background-hover-dark,
    var(--mbx-selector-background-hover, var(--mbx-c-bg-h-d))
  );
  --mbx-c-sel-txt-h-l: var(
    --mbx-selector-text-color-hover-light,
    var(--mbx-selector-text-color-hover, var(--mbx-c-txt-h-l))
  );
  --mbx-c-sel-txt-h-d: var(
    --mbx-selector-text-color-hover-dark,
    var(--mbx-selector-text-color-hover, var(--mbx-c-txt-h-d))
  );
}
