@media (hover) {
  [data-mbx-id="btn"]:hover {
    --mbx-btn-bg: var(--mbx-btn-bg-h, var(--mbx-c-btn-bg));
    --mbx-btn-txt: var(--mbx-btn-txt-h, var(--mbx-c-btn-txt));
    transform: var(--mbx-btn-scale);
  }

  [data-mbx-id="check"]:hover {
    --mbx-chk-bg: var(--mbx-chk-bg-h, var(--mbx-c-chk-bg));
  }

  [data-mbx-id="count"]:hover {
    --mbx-cnt-bg: var(--mbx-cnt-bg-h, var(--mbx-c-cnt-bg));
    --mbx-cnt-txt: var(--mbx-cnt-txt-h, var(--mbx-c-cnt-txt));
  }

  [data-mbx-id="link"]:hover {
    --mbx-lnk-txt: var(--mbx-lnk-txt-h, var(--mbx-c-link-txt));
  }

  [data-mbx-id="inp"]:hover {
    --mbx-inp-bg: var(--mbx-inp-bg-h, var(--mbx-c-in-bg));
    --mbx-inp-txt: var(--mbx-inp-txt-h, var(--mbx-c-in-txt));
  }

  [data-mbx-id="radio"]:hover {
    --mbx-rd-bg: var(--mbx-rd-bg-h, var(--mbx-c-rad-bg));
  }

  [data-mbx-id="selt"]:hover,
  [data-mbx-id="selt"] > option:hover {
    --mbx-sel-bg: var(--mbx-sel-bg-h, var(--mbx-c-sel-bg));
    --mbx-sel-txt: var(--mbx-sel-txt-h, var(--mbx-c-sel-txt));
  }

  [data-mbx-id="sld"]::-moz-range-thumb:hover {
    opacity: var(--mbx-sld-op-hov, var(--mbx-op));
    --mbx-sld-tb: var(--mbx-sld-tb-h, var(--mbx-c-sld-tb));
  }

  [data-mbx-id="sld"]::-webkit-slider-thumb:hover {
    --mbx-sld-tb: var(--mbx-sld-bg-h, var(--mbx-c-sld-tb));
    opacity: var(--mbx-sld-op-hov, var(--mbx-op));
  }

  [data-mbx-id="sld"]::-ms-thumb:hover {
    --mbx-sld-tb: var(--mbx-sld-bg-h, var(--mbx-c-sld-tb));
    opacity: var(--mbx-sld-op-hov, var(--mbx-op));
  }
}
