@media (hover) {
  [data-mbx-id][data-mbx-hover="true"][data-mbx-background="true"][data-mbx-enabled="true"]:hover {
    /** Button **/
    --mbx-c-btn-bg: var(--mbx-c-btn-bg-h);

    /** Checkbox **/
    --mbx-c-chk-bg: var(--mbx-c-chk-bg-h);

    /** RadioButton **/
    --mbx-c-rad-bg: var(--mbx-c-rad-bg-h);
  }

  [data-mbx-id][data-mbx-hover="true"][data-mbx-enabled="true"]:hover {
    /** Button **/
    --mbx-c-btn-txt: var(--mbx-c-btn-txt-h);

    /** Link **/
    --mbx-c-link-txt: var(--mbx-c-link-txt-h);
  }

  [data-mbx-id][data-mbx-hover="true"][data-mbx-background="true"][data-mbx-enabled="true"]:hover:not(
      :focus-visible
    ) {
    /** Counter **/
    --mbx-c-cnt-bg: var(--mbx-c-cnt-bg-h);
    --mbx-c-cnt-txt: var(--mbx-c-cnt-txt-h);

    /** Inputbox **/
    --mbx-c-in-bgc: var(--mbx-c-in-bgc-h);

    --mbx-c-in-txt: var(--mbx-c-in-txt-h);
  }

  [data-mbx-id="selector"][data-mbx-hover="true"]:hover,
  [data-mbx-id="selector"] [data-mbx-class="selector-option"]:hover {
    background: var(--mbx-c-sel-bg-h);
    color: var(--mbx-c-sel-txt-h);
  }
}
