@import url("default.css");

[data-mbx-id] {
  /* Calendar */
  --mbx-c-cal-bg-l: var(
    --mobrix-ui-calendar-background-light,
    var(--mobrix-ui-calendar-background, var(--mbx-c-bg-l))
  );
  --mbx-c-cal-bg-d: var(
    --mobrix-ui-calendar-background-dark,
    var(--mobrix-ui-calendar-background, var(--mbx-c-bg-d))
  );

  --mbx-c-cal-txt-l: var(
    --mobrix-ui-calendar-text-color-light,
    var(--mobrix-ui-calendar-text-color, var(--mbx-c-txt-l))
  );
  --mbx-c-cal-txt-d: var(
    --mobrix-ui-calendar-text-color-dark,
    var(--mobrix-ui-calendar-text-color, var(--mbx-c-txt-d))
  );

  --mbx-c-cal-bg-s-l: var(
    --mobrix-ui-calendar-background-selected-light,
    var(--mobrix-ui-calendar-background-selected, var(--mbx-c-cal-bg-d))
  );

  --mbx-c-cal-bg-s-d: var(
    --mobrix-ui-calendar-background-selected-dark,
    var(--mobrix-ui-calendar-background-selected, var(--mbx-c-cal-bg-l))
  );

  --mbx-c-cal-txt-s-l: var(
    --mobrix-ui-calendar-text-color-selected-light,
    var(--mobrix-ui-calendar-text-color-selected, var(--mbx-c-cal-txt-d))
  );

  --mbx-c-cal-txt-s-d: var(
    --mobrix-ui-calendar-text-color-selected-dark,
    var(--mobrix-ui-calendar-text-color-selected, var(--mbx-c-cal-txt-l))
  );

  --mbx-c-cal-t-l: var(
    --mobrix-ui-calendar-today-color-light,
    var(--mobrix-ui-calendar-today, var(--mbx-d-cal-tod))
  );
  --mbx-c-cal-t-d: var(
    --mobrix-ui-calendar-today-color-dark,
    var(--mobrix-ui-calendar-today, var(--mbx-d-cal-tod))
  );

  --mbx-c-cal-bg-h-l: var(
    --mobrix-ui-calendar-background-hover-light,
    var(--mobrix-ui-calendar-background-hover, var(--mbx-c-cal-bg-s-l))
  );

  --mbx-c-cal-bg-h-d: var(
    --mobrix-ui-calendar-background-hover-dark,
    var(--mobrix-ui-calendar-background-hover, var(--mbx-c-cal-bg-s-d))
  );

  --mbx-c-cal-txt-h-l: var(
    --mobrix-ui-calendar-text-color-hover-light,
    var(--mobrix-ui-calendar-text-color-hover, var(--mbx-c-cal-txt-s-l))
  );

  --mbx-c-cal-txt-h-d: var(
    --mobrix-ui-calendar-text-color-hover-dark,
    var(--mobrix-ui-calendar-text-color-hover, var(--mbx-c-cal-txt-s-d))
  );

  --mbx-c-cal-arr-l: var(
    --mobrix-ui-calendar-arrow-light,
    var(--mobrix-ui-calendar-arrow, var(--mbx-c-cal-txt-l))
  );

  --mbx-c-cal-arr-d: var(
    --mobrix-ui-calendar-arrow-dark,
    var(--mobrix-ui-calendar-arrow, var(--mbx-c-cal-txt-d))
  );

  --mbx-c-cal-arr-h-l: var(
    --mobrix-ui-calendar-arrow-hover-light,
    var(--mobrix-ui-calendar-arrow-hover, var(--mbx-c-txt-h-l))
  );

  --mbx-c-cal-arr-h-d: var(
    --mobrix-ui-calendar-arrow-hover-dark,
    var(--mobrix-ui-calendar-text-color-hover, var(--mbx-c-txt-h-d))
  );

  /** DatePicker **/
  --mbx-c-dtp-bg-l: var(
    --mobrix-ui-datepicker-background-light,
    var(--mobrix-ui-datepicker-background, var(--mbx-c-bg-l))
  );
  --mbx-c-dtp-bg-d: var(
    --mobrix-ui-datepicker-background-dark,
    var(--mobrix-ui-datepicker-background, var(--mbx-c-bg-d))
  );
  --mbx-c-dtp-txt-l: var(
    --mobrix-ui-datepicker-text-color-light,
    var(--mobrix-ui-datepicker-text-color, var(--mbx-c-txt-l))
  );
  --mbx-c-dtp-txt-d: var(
    --mobrix-ui-datepicker-text-color-dark,
    var(--mobrix-ui-datepicker-text-color, var(--mbx-c-txt-d))
  );
  --mbx-c-dtp-cal-txt-l: var(
    --mobrix-ui-datepicker-calendar-text-color-light,
    var(--mobrix-ui-datepicker-text-color)
  );
  --mbx-c-dtp-cal-txt-d: var(
    --mobrix-ui-datepicker-calendar-text-color-dark,
    var(--mobrix-ui-datepicker-text-color)
  );
  --mbx-c-dtp-cal-s-bg-l: var(
    --mobrix-ui-datepicker-calendar-background-selected-light,
    var(--mobrix-ui-datepicker-calendar-background-selected)
  );
  --mbx-c-dtp-cal-s-bg-d: var(
    --mobrix-ui-datepicker-calendar-background-selected-dark,
    var(--mobrix-ui-datepicker-calendar-background-selected)
  );
  --mbx-c-dtp-cal-bg-l: var(
    --mobrix-ui-datepicker-calendar-background-light,
    var(--mobrix-ui-datepicker-calendar-background)
  );
  --mbx-c-dtp-cal-bg-d: var(
    --mobrix-ui-datepicker-calendar-background-dark,
    var(--mobrix-ui-datepicker-calendar-background)
  );
  --mbx-c-dtp-cal-s-txt-l: var(
    --mobrix-ui-datepicker-calendar-text-color-selected-light,
    var(--mobrix-ui-datepicker-calendar-text-color-selected)
  );
  --mbx-c-dtp-cal-s-txt-d: var(
    --mobrix-ui-datepicker-calendar-text-color-selected-dark,
    var(--mobrix-ui-datepicker-calendar-text-color-selected)
  );
  --mbx-c-dtp-cal-bg-h-l: var(
    --mobrix-ui-datepicker-calendar-background-hover-light,
    var(--mobrix-ui-datepicker-calendar-background-hover)
  );
  --mbx-c-dtp-cal-bg-h-d: var(
    --mobrix-ui-datepicker-calendar-background-hover-dark,
    var(--mobrix-ui-datepicker-calendar-background-hover)
  );
  --mbx-c-dtp-cal-txt-h-l: var(
    --mobrix-ui-datepicker-calendar-text-color-hover-light,
    var(--mobrix-ui-datepicker-calendar-text-color-hover)
  );
  --mbx-c-dtp-cal-txt-h-d: var(
    --mobrix-ui-datepicker-calendar-text-color-hover-dark,
    var(--mobrix-ui-datepicker-calendar-text-color-hover)
  );

  --mbx-c-dtp-cal-arr-h-l: var(
    --mobrix-ui-datepicker-calendar-arrow-hover-light,
    var(--mobrix-ui-datepicker-calendar-arrow-hover)
  );
  --mbx-c-dtp-cal-arr-h-d: var(
    --mobrix-ui-datepicker-calendar-arrow-hover-dark,
    var(--mobrix-ui-datepicker-calendar-arrow-hover)
  );
  --mbx-c-dtp-cal-t-l: var(
    --mobrix-ui-datepicker-calendar-today-light,
    var(--mobrix-ui-datepicker-calendar-today)
  );
  --mbx-c-dtp-cal-t-d: var(
    --mobrix-ui-datepicker-calendar-today-dark,
    var(--mobrix-ui-datepicker-calendar-today)
  );

  ---mbx-c-dtp-ic-l: var(
    --mobrix-ui-datepicker-icon-light,
    var(--mobrix-ui-datepicker-icon, var(--mbx-c-dtp-txt-l))
  );
  ---mbx-c-dtp-ic-d: var(
    --mobrix-ui-datepicker-icon-dark,
    var(--mobrix-ui-datepicker-icon, var(--mbx-c-dtp-txt-d))
  );

  --mbx-c-dtp-ic-h-l: var(
    --mobrix-ui-datepicker-icon-hover-light,
    var(--mobrix-ui-datepicker-icon-hover, var(--mbx-d-dtp-ic-h-l))
  );
  --mbx-c-dtp-ic-h-d: var(
    --mobrix-ui-datepicker-icon-hover-dark,
    var(--mobrix-ui-datepicker-icon-hover, var(--mbx-d-dtp-ic-h-d))
  );

  /** Drawer **/

  --mbx-c-draw-bg-l: var(
    --mobrix-ui-drawer-background-light,
    var(--mobrix-ui-drawer-background)
  );
  --mbx-c-draw-bg-d: var(
    --mobrix-ui-drawer-background-dark,
    var(--mobrix-ui-drawer-background)
  );
  --mbx-c-draw-txt-l: var(
    --mobrix-ui-drawer-text-color-light,
    var(--mobrix-ui-drawer-text-color, var(--mbx-c-txt-l))
  );
  --mbx-c-draw-txt-d: var(
    --mobrix-ui-drawer-text-color-light,
    var(--mobrix-ui-drawer-text-color, var(--mbx-c-txt-d))
  );

  --mbx-c-draw-arr-l: var(
    --mobrix-ui-drawer-arrow-light,
    var(--mobrix-ui-drawer-arrow, var(--mbx-c-draw-txt-l))
  );
  --mbx-c-draw-arr-d: var(
    --mobrix-ui-drawer-arrow-dark,
    var(--mobrix-ui-drawer-arrow, var(--mbx-c-draw-txt-d))
  );
  --mbx-c-draw-arr-h-l: var(
    --mobrix-ui-drawer-arrow-light,
    var(--mobrix-ui-drawer-arrow, var(--mbx-d-draw-arr-h))
  );
  --mbx-c-draw-arr-h-d: var(
    --mobrix-ui-drawer-arrow-dark,
    var(--mobrix-ui-drawer-arrow, var(--mbx-d-draw-arr-h))
  );

  /** Form **/
  --mbx-c-form-bg-l: var(
    --mobrix-ui-form-background-light,
    var(--mobrix-ui-form-background, var(--mbx-c-bg-l))
  );
  --mbx-c-form-bg-d: var(
    --mobrix-ui-form-background-dark,
    var(--mobrix-ui-form-background, var(--mbx-c-bg-d))
  );
  --mbx-c-form-sub-bg-l: var(
    --mobrix-ui-form-submit-background-light,
    var(--mobrix-ui-form-submit-background)
  );
  --mbx-c-form-sub-bg-d: var(
    --mobrix-ui-form-submit-background-dark,
    var(--mobrix-ui-form-submit-background)
  );

  --mbx-c-form-txt-l: var(
    --mobrix-ui-form-text-color-light,
    var(--mobrix-ui-form-text-color)
  );
  --mbx-c-form-txt-d: var(
    --mobrix-ui-form-text-color-dark,
    var(--mobrix-ui-form-text-color)
  );
  --mbx-c-form-sub-txt-l: var(
    --mobrix-ui-form-submit-text-color-light,
    var(--mobrix-ui-form-submit-text-color)
  );
  --mbx-c-form-sub-txt-d: var(
    --mobrix-ui-form-submit-text-color-dark,
    var(--mobrix-ui-form-submit-text-color)
  );

  --mbx-c-form-field-bg-l: var(
    --mobrix-ui-form-formfield-background-light,
    var(--mobrix-ui-form-formfield-background)
  );
  --mbx-c-form-field-bg-d: var(
    --mobrix-ui-form-formfield-background-dark,
    var(--mobrix-ui-form-formfield-background)
  );

  --mbx-c-form-field-txt-l: var(
    --mobrix-ui-form-formfield-text-color-light,
    var(--mobrix-ui-form-formfield-text-color)
  );
  --mbx-c-form-field-txt-d: var(
    --mobrix-ui-form-formfield-text-color-dark,
    var(--mobrix-ui-form-formfield-text-color)
  );

  --mbx-c-form-field-bg-h-l: var(
    --mobrix-ui-form-formfield-background-hover-light,
    var(--mobrix-ui-form-formfield-background-hover)
  );
  --mbx-c-form-field-bg-h-d: var(
    --mobrix-ui-form-formfield-background-hover-dark,
    var(--mobrix-ui-form-formfield-background-hover)
  );

  --mbx-c-form-field-txt-h-l: var(
    --mobrix-ui-form-formfield-text-color-hover-light,
    var(--mobrix-ui-form-formfield-text-color-hover)
  );
  --mbx-c-form-field-txt-h-d: var(
    --mobrix-ui-form-formfield-text-color-dark-hover,
    var(--mobrix-ui-form-formfield-text-color-hover)
  );
}
