[data-mobrix-ui-id="radio-button"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: var(--mobrix-ui-radio-background)
}

[data-mobrix-ui-id="radio-button"][data-mobrix-ui-styled="true"] {
  padding: 0.2rem;
  border-color: transparent;
  border-width: 1px;
}

@media (hover: none) {
  [data-mobrix-ui-id="radio-button"][data-mobrix-ui-styled="true"] {
    background: var(--mobrix-ui-radio-background);
  }
}

[data-mobrix-ui-id="radio-button"] [data-mobrix-ui-class="icon"] {
  border-radius: 100%;
  margin: auto;
  width: 18px;
  height: 18px;
  background: var(--mobrix-ui-radio-background-dark);
}

[data-mobrix-ui-id="radio-button"][data-mobrix-ui-dark="true"] [data-mobrix-ui-class="icon"] {
  background: var(--mobrix-ui-radio-background-light);
}
