[data-mbx-id="radio-button"] {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 0.1rem;
  border-color: transparent;
  border-style: hidden;
  background: var(--mbx-c-rad-bg);
}

[data-mbx-id="radio-button"] [data-mbx-class="icon"] {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border-color: transparent;
  margin: auto;
  width: 22px;
  height: 22px;
  background: var(--mbx-c-rad-ic-bg);
}
