#mobrix-ui-radio-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9999px;
  width: 30px;
  height: 30px;
  background: transparent;
  padding: 0.2rem;
  background: var(--mobrix-ui-background);
}

#mobrix-ui-radio-button .icon {
  border-radius: 9999px;
  margin: auto;
  background: var(--mobrix-ui-background-dark);
  width: 17px;
  height: 17px;
}

#mobrix-ui-radio-button.dark .icon {
  background: var(--mobrix-ui-background-light);
}
