[data-mbx-id="dropdown"] {
  width: fit-content;
  border-radius: 0.375rem;
  border-color: var(--mbx-c-drop-txt);
}

[data-mbx-id="dropdown"][data-mbx-attributes*="background"] {
  color: var(--mbx-text-color);
  background-image: var(--mbx-c-drop-bg);
}

[data-mbx-id="dropdown"] [data-mbx-class="options"] {
  font-size: 1rem;
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 12rem;
  scrollbar-width: thin;
  scrollbar-color: var(--mbx-c-drop-txt);
}

[data-mbx-id="dropdown"]
  [data-mbx-class="options"]
  [data-mbx-class="popup-content"] {
  width: 100%;
  align-items: center;
}

[data-mbx-id="dropdown"] [data-mbx-class="options"]::-webkit-scrollbar {
  width: 12px;
}

[data-mbx-id="dropdown"] [data-mbx-class="options"]::-webkit-scrollbar-track {
  background: var(--mbx-c-drop-bg);
}

[data-mbx-id="dropdown"] [data-mbx-class="options"]::-webkit-scrollbar-thumb {
  background-color: var(--mbx-c-drop-txt);
  border-radius: 20px;
  border: 3px solid transparent;
}

[data-mbx-id="dropdown"] [data-mbx-class="button"] {
  padding: 0;
  outline: none;
  font-size: 1.125rem;
  line-height: 1.75rem;
  display: inline-flex;
  flex-direction: row;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  font-weight: 500;
  border-radius: 0.375rem;
}

[data-mbx-id="dropdown"] [data-mbx-class="button"] {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  outline: none;
}

[data-mbx-id="dropdown"] [data-mbx-class="options"] [data-mbx-class="option"] {
  background: transparent;
  color: var(--mbx-c-drop-txt);
}

[data-mbx-id="dropdown"] [data-mbx-class="dropdown-selected-element"] {
  padding-right: 0.25rem;
  display: flex;
  flex-direction: row;
  outline: none;
  margin: auto;
  color: var(--mbx-c-drop-txt);
}

[data-mbx-id="dropdown"] [data-mbx-class="icon"] {
  margin: auto 0.25rem;
  outline: none;
}

[data-mbx-id="dropdown"] [data-mbx-class="arrow-icon"] {
  border: solid;
  border-width: 0 3px 3px 0;
  display: block;
  padding: 3px;
  outline: none;
  transition-duration: 0.2s;
  transition-property: transform;
  transform: rotate(45deg);
  border-color: var(--mbx-c-drop-arr);
  -webkit-transform: rotate(45deg);
}

[data-mbx-id="dropdown"] [data-mbx-class="icon"][data-mbx-rotate="true"] {
  transition: transform 0.3s ease-in-out;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -ms-transition: -ms-transform 0.3s ease-in-out;
}

[data-mbx-id="dropdown"] [data-mbx-class="icon"][data-mbx-rotate="false"] {
  transition: transform 0.3s ease-in-out;
  transform: rotate(360deg);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -ms-transition: -ms-transform 0.3s ease-in-out;
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

[data-mbx-id="dropdown"] [data-mbx-class="regular"] {
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: var(--mbx-c-drop-txt);
  width: 100%;
}

[data-mbx-id="dropdown"]
  [data-mbx-class="regular"]
  [data-mbx-class="dropdown-element"] {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: auto;
  color: var(--mbx-c-drop-txt);
}

[data-mbx-id="dropdown"] [data-mbx-last="true"] {
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

[data-mbx-id="dropdown"] [data-mbx-first="true"] {
  border-top-right-radius: 0.375rem;
  border-top-left-radius: 0.375rem;
}

@media (hover) {
  [data-mbx-id="dropdown"]:not(
      [data-mbx-attributes*="disabled"]
    )[data-mbx-attributes*="hover"]
    [data-mbx-class="button"]:not([data-mbx-attributes*="disabled"]):hover,
  [data-mbx-id="dropdown"][data-mbx-attributes*="hover"]:not(
      [data-mbx-attributes*="disabled"]
    )[data-mbx-attributes*="hover"]
    [data-mbx-class="regular"]:hover {
    color: var(--mbx-c-drop-txt-h);
  }

  [data-mbx-id="dropdown"]:not(
      [data-mbx-attributes*="disabled"]
    )[data-mbx-attributes*="background"][data-mbx-attributes*="hover"]
    [data-mbx-class="button"]:not([data-mbx-attributes*="disabled"]):hover,
  [data-mbx-id="dropdown"][data-mbx-attributes*="hover"]:not(
      [data-mbx-attributes*="disabled"]
    )[data-mbx-attributes*="background"][data-mbx-attributes*="hover"]
    [data-mbx-class="regular"]:hover {
    background: var(--mbx-c-drop-bg-h);
  }

  [data-mbx-id="dropdown"]:not(
      [data-mbx-attributes*="disabled"]
    )[data-mbx-attributes*="hover"]
    [data-mbx-class="arrow-icon"]:not([data-mbx-attributes*="disabled"]):hover {
    border-color: var(--mbx-c-drop-arr-h);
    opacity: 0.5;
  }
}

[data-mbx-id="dropdown"][data-mbx-attributes*="hover"]:not(
    [data-mbx-attributes*="disabled"]
  )[data-mbx-attributes*="background"]
  [data-mbx-class="regular"]:focus-visible {
  background: var(--mbx-c-drop-bg-h);
}
