[data-mbx-id="dd"] {
  --mbx-trdur: 0.1s;
  border-radius: 0.375rem;
  width: fit-content;
  --mbx-dd-bg: var(
    --mbx-dropdown-background-light,
    var(--mbx-dropdown-background)
  );
  --mbx-dd-txt: var(
    --mbx-dropdown-text-color-light,
    var(--mbx-dropdown-text-color)
  );
  background: var(--mbx-dd-bg, var(--mbx-c-bg));
  color: var(--mbx-dd-txt, var(--mbx-c-txt));
  --mbx-trdur: 0.1s;
}

[data-mbx-id="dd"][data-mbx-dk] {
  --mbx-dd-txt: var(
    --mbx-dropdown-text-color-dark,
    var(--mbx-dropdown-text-color)
  );
  --mbx-dd-bg: var(
    --mbx-dropdown-background-dark,
    var(--mbx-dropdown-background)
  );
}

[data-mbx-id="dd"] > [data-mbx-id="popup"] {
  font-size: 1rem;
  line-height: 1.5rem;
  max-height: 12rem;
  scrollbar-width: thin;
  scrollbar-color: var(--mbx-dd-txt);
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  --mbx-popup-text-color: var(--mbx-dd-txt);
  --mbx-popup-background: var(--mbx-dd-bg);
}

[data-mbx-id="dd"] > [data-mbx-id="popup"]::-webkit-scrollbar {
  width: 12px;
}

[data-mbx-id="dd"] > [data-mbx-id="popup"]::-webkit-scrollbar-track {
  background: var(--mbx-dd-bg);
}

[data-mbx-id="dd"] > [data-mbx-id="popup"]::-webkit-scrollbar-thumb {
  background-color: var(--mbx-dd-txt);
  border-radius: 20px;
  border: 3px solid transparent;
}

[data-mbx-id="dd"] > [data-mbx-id="cont"] {
  font-size: 1.125rem;
  line-height: 1.75rem;
  display: inline-flex;
  flex-direction: row;
  vertical-align: middle;
  height: 100%;
  font-weight: 500;
  border-radius: 0.375rem;
  padding: 0 0.4rem;
  width: 100%;
}

[data-mbx-id="dd"] > [data-mbx-id="popup"] > [data-mbx-id="cont"] {
  width: 100%;
}

[data-mbx-id="dd"] > [data-mbx-id="cont"] > [data-mbx-id="icb"] > div {
  padding-right: 0.25rem;
  color: var(--mbx-dd-txt);
  display: flex;
  flex-direction: row;
  margin: auto;
  outline: none;
}

[data-mbx-id="dd"]
  > [data-mbx-id="cont"]
  > [data-mbx-id="icb"]
  > [data-mbx-img="arr"] {
  margin: auto 0.15rem;
  --mbx-icon-light: var(
    --mbx-dropdown-arrow-color-light,
    var(--mbx-dropdown-arrow-color, var(--mbx-dd-txt))
  );
  --mbx-icon-dark: var(
    --mbx-dropdown-arrow-color-dark,
    var(--mbx-dropdown-arrow-color, var(--mbx-dd-txt))
  );
  --mbx-icon-hover-light: var(
    --mbx-dropdown-arrow-color-hover-light,
    var(--mbx-dropdown-arrow-color-hover)
  );
  --mbx-icon-hover-dark: var(
    --mbx-dropdown-arrow-color-hover-dark,
    var(--mbx-dropdown-arrow-color-hover)
  );
}

[data-mbx-id="dd"][data-mbx-hv] {
  --mbx-dd-bg-h: var(
    --mbx-dropdown-background-hover-light,
    var(--mbx-dropdown-background-hover, var(--mbx-c-bg-h))
  );
  --mbx-dd-txt-h: var(
    --mbx-dropdown-text-color-hover-light,
    var(--mbx-dropdown-text-color-hover, var(--mbx-c-txt-h))
  );
}

[data-mbx-id="dd"][data-mbx-dk][data-mbx-hv] {
  --mbx-dd-bg-h: var(
    --mbx-dropdown-background-hover-dark,
    var(--mbx-dropdown-background-hover, var(--mbx-c-bg-h))
  );
  --mbx-dd-txt-h: var(
    --mbx-dropdown-text-color-hover-dark,
    var(--mbx-dropdown-text-color-hover, var(--mbx-c-txt-h))
  );
}

[data-mbx-id="dd"]
  > [data-mbx-id="popup"]
  > [data-mbx-id="cont"]
  > [data-mbx-id="btn"] {
  --mbx-button-text-color: var(--mbx-dd-txt);
  --mbx-button-text-color-hover: var(--mbx-dd-txt-h);
  --mbx-button-background-hover: var(--mbx-dd-bg-h);
  --mbx-button-background: transparent;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (hover) {
  [data-mbx-id="dd"]:hover {
    background: var(--mbx-dd-bg-h, var(--mbx-dd-bg, var(--mbx-c-bg)));
    color: var(--mbx-dd-txt-h, var(--mbx-dd-txt, var(--mbx-c-txt)));
  }
}
