@import url("constants/computed.css");
@import url("on-hover.css");

[data-mobrix-ui-id][data-mobrix-ui-dark="false"] {
  /** Button **/
  --mobrix-ui-button-background: var(--mobrix-ui-button-background-light);

  --mobrix-ui-button-text-color: var(--mobrix-ui-button-text-color-light);

  /** Checkbox **/
  --mobrix-ui-checkbox-background: var(--mobrix-ui-checkbox-background-light);

  --mobrix-ui-checkbox-tick-color: var(--mobrix-ui-checkbox-tick-color-light);

  /** Codebox **/
  --mobrix-ui-codebox-background: var(--mobrix-ui-codebox-background-light);

  --mobrix-ui-codebox-text-color: var(--mobrix-ui-codebox-text-color-light);

  /** Counter **/
  --mobrix-ui-counterbox-background: var(
    --mobrix-ui-counterbox-background-light
  );

  --mobrix-ui-counterbox-text-color: var(
    --mobrix-ui-counterbox-text-color-light
  );

  /** Divider **/
  --mobrix-ui-divider-color: var(--mobrix-ui-divider-color-light);

  /** Input **/
  --mobrix-ui-inputbox-background: var(--mobrix-ui-inputbox-background-light);

  --mobrix-ui-inputbox-text-color: var(--mobrix-ui-inputbox-text-color-light);

  /** Label **/
  --mobrix-ui-label-text-color: var(--mobrix-ui-custom-label-text-color-light);

  /** Link **/
  --mobrix-ui-link-color: var(
    --mobrix-ui-custom-link-color-light,
    var(--mobrix-ui-link-color-light)
  );

  /** Radio Button **/
  --mobrix-ui-radio-background: var(--mobrix-ui-radio-background-light);

  /** Rater **/
  --mobrix-ui-rater-background: var(
    --mobrix-ui-custom-rater-background-light,
    var(--mobrix-ui-background-light)
  );

  /** Selector **/
  --mobrix-ui-selector-background: var(
    --mobrix-ui-custom-selector-background-light,
    var(--mobrix-ui-background-color-light)
  );

  --mobrix-ui-selector-text-color: var(
    --mobrix-ui-custom-selector-text-color-light,
    var(--mobrix-ui-text-color-light)
  );

  /** Slider **/
  --mobrix-ui-slider-background: var(
    --mobrix-ui-custom-slider-background-light,
    var(--mobrix-ui-background-light)
  );

  --mobrix-ui-slider-thumb-color: var(
    --mobrix-ui-custom-slider-thumb-color-light,
    var(--mobrix-ui-slider-thumb-color-light)
  );

  /** Toggle **/
  --mobrix-ui-toggle-background: var(
    --mobrix-ui-custom-toggle-background-light,
    var(--mobrix-ui-background-light)
  );

  /** Dropdown **/
  --mobrix-ui-dropdown-arrow-color: var(
    --mobrix-ui-custom-dropdown-arrow-color-light,
    var(--mobrix-ui-dropdown-arrow-color-light)
  );

  --mobrix-ui-dropdown-arrow-color-hover: var(
    --mobrix-ui-custom-dropdown-arrow-color-hover-light,
    var(--mobrix-ui-dropdown-arrow-color-hover-light)
  );

  /** Table **/
  --mobrix-ui-table-header-background: var(
    --mobrix-ui-table-header-background-light
  );

  --mobrix-ui-table-header-text-color: var(
    --mobrix-ui-table-header-text-color-light
  );

  --mobrix-ui-tab-viewer-background: var(
    --mobrix-ui-tab-viewer-background-light
  );
}

[data-mobrix-ui-id][data-mobrix-ui-dark="true"] {
  /** Button **/
  --mobrix-ui-button-background: var(--mobrix-ui-button-background-dark);

  --mobrix-ui-button-text-color: var(--mobrix-ui-button-text-color-dark);

  /** Radio Button **/
  --mobrix-ui-radio-background: var(--mobrix-ui-radio-background-dark);

  /** Table **/
  --mobrix-ui-table-header-background: var(
    --mobrix-ui-table-header-background-dark
  );

  --mobrix-ui-table-header-text-color: var(
    --mobrix-ui-table-header-text-color-dark
  );

  --mobrix-ui-tab-viewer-background: var(
    --mobrix-ui-tab-viewer-background-dark
  );

  /** Checkbox **/
  --mobrix-ui-checkbox-background: var(--mobrix-ui-checkbox-background-dark);

  --mobrix-ui-checkbox-tick-color: var(--mobrix-ui-checkbox-tick-color-dark);

  /** Codebox **/
  --mobrix-ui-codebox-background: var(--mobrix-ui-codebox-background-dark);

  --mobrix-ui-codebox-text-color: var(--mobrix-ui-codebox-text-color-dark);

  /** Counter **/
  --mobrix-ui-counterbox-background: var(
    --mobrix-ui-counterbox-background-dark
  );

  --mobrix-ui-counterbox-text-color: var(
    --mobrix-ui-counterbox-text-color-dark
  );

  /** Divider **/
  --mobrix-ui-divider-color: var(--mobrix-ui-divider-color-dark);

  /** Input **/
  --mobrix-ui-inputbox-background: var(--mobrix-ui-inputbox-background-dark);

  --mobrix-ui-inputbox-text-color: var(--mobrix-ui-inputbox-text-color-dark);

  /** Label **/
  --mobrix-ui-label-text-color: var(--mobrix-ui-custom-label-text-color-dark);

  /** Link **/
  --mobrix-ui-link-color: var(
    --mobrix-ui-custom-link-color-dark,
    var(--mobrix-ui-link-color-dark)
  );

  /** Rater **/
  --mobrix-ui-rater-background: var(
    --mobrix-ui-custom-rater-background-dark,
    var(--mobrix-ui-background-dark)
  );

  /** Selector **/
  --mobrix-ui-selector-background: var(
    --mobrix-ui-custom-selector-background-dark,
    var(--mobrix-ui-background-color-dark)
  );

  --mobrix-ui-selector-text-color: var(
    --mobrix-ui-custom-selector-text-color-dark,
    var(--mobrix-ui-text-color-dark)
  );

  /** Slider **/
  --mobrix-ui-slider-background: var(
    --mobrix-ui-custom-slider-background-dark,
    var(--mobrix-ui-background-dark)
  );

  /** Toggle **/
  --mobrix-ui-toggle-background: var(
    --mobrix-ui-custom-toggle-background-dark,
    var(--mobrix-ui-background-dark)
  );

  --mobrix-ui-slider-thumb-color: var(
    --mobrix-ui-custom-slider-thumb-color-dark,
    var(--mobrix-ui-slider-thumb-color-dark)
  );

  /** Dropdown **/
  --mobrix-ui-dropdown-arrow-color: var(
    --mobrix-ui-custom-dropdown-arrow-color-dark,
    var(--mobrix-ui-dropdown-arrow-color-dark)
  );

  --mobrix-ui-dropdown-arrow-color-hover: var(
    --mobrix-ui-custom-dropdown-arrow-color-hover-dark,
    var(--mobrix-ui-dropdown-arrow-color-hover-dark)
  );
}

[data-mobrix-ui-id][data-mobrix-ui-a11y="true"]:focus-visible {
  --mobrix-ui-link-color: rgb(37, 99, 235);
}

[data-mobrix-ui-id][data-mobrix-ui-a11y="true"][data-mobrix-ui-a11y-dark="true"]:focus-visible {
  --mobrix-ui-link-color: orange;
}

[data-mobrix-ui-id][data-mobrix-ui-background="false"],
[data-mobrix-ui-id][data-mobrix-ui-background="false"]:hover,
[data-mobrix-ui-id][data-mobrix-ui-styled="false"],
[data-mobrix-ui-id][data-mobrix-ui-styled="false"]:hover {
  --mobrix-ui-button-background: transparent;
  --mobrix-ui-checkbox-background: transparent;
  --mobrix-ui-codebox-background: transparent;
  --mobrix-ui-counterbox-background: transparent;
  --mobrix-ui-inputbox-background: transparent;
  --mobrix-ui-rater-background: transparent;
  --mobrix-ui-slider-background: transparent;
}
