@media (hover) {
  [data-mobrix-ui-id][data-mobrix-ui-styled="true"][data-mobrix-ui-hover="true"][data-mobrix-ui-dark="false"][data-mobrix-ui-background="true"]:hover {
    --mobrix-ui-button-background: var(
      --mobrix-ui-button-background-hover-light
    );

    --mobrix-ui-checkbox-background: var(
      --mobrix-ui-checkbox-background-hover-light
    );

    --mobrix-ui-radio-background: var(--mobrix-ui-radio-background-hover-light);
  }

  [data-mobrix-ui-id][data-mobrix-ui-styled="true"][data-mobrix-ui-hover="true"][data-mobrix-ui-dark="true"][data-mobrix-ui-background="true"]:hover {
    --mobrix-ui-button-background: var(
      --mobrix-ui-button-background-hover-dark
    );

    --mobrix-ui-checkbox-background: var(
      --mobrix-ui-checkbox-background-hover-dark
    );

    --mobrix-ui-radio-background: var(--mobrix-ui-radio-background-hover-dark);
  }

  [data-mobrix-ui-id][data-mobrix-ui-styled="true"][data-mobrix-ui-hover="true"][data-mobrix-ui-dark="false"]:hover {
    --mobrix-ui-button-text-color: var(
      --mobrix-ui-button-text-color-hover-light
    );

    /** Link **/
    --mobrix-ui-link-color: var(
      --mobrix-ui-custom-link-color-hover-light,
      var(--mobrix-ui-link-color-hover-light)
    );
  }

  [data-mobrix-ui-id][data-mobrix-ui-styled="true"][data-mobrix-ui-hover="true"][data-mobrix-ui-dark="true"]:hover {
    /** Button **/
    --mobrix-ui-button-text-color: var(
      --mobrix-ui-button-text-color-hover-dark
    );

    /** Link **/
    --mobrix-ui-link-color: var(
      --mobrix-ui-custom-link-color-hover-dark,
      var(--mobrix-ui-link-color-hover-dark)
    );
  }

  [data-mobrix-ui-id][data-mobrix-ui-styled="true"][data-mobrix-ui-hover="true"][data-mobrix-ui-dark="false"]:hover:not(
      :focus-visible
    ) {
    /** Counter **/
    --mobrix-ui-counterbox-background: var(
      --mobrix-ui-counterbox-background-hover-light
    );

    --mobrix-ui-counterbox-text-color: var(
      --mobrix-ui-counterbox-text-color-hover-light
    );

    /** Inputbox **/
    --mobrix-ui-inputbox-background: var(
      --mobrix-ui-inputbox-background-hover-light
    );

    --mobrix-ui-inputbox-text-color: var(
      --mobrix-ui-inputbox-text-color-hover-light
    );
  }

  [data-mobrix-ui-id][data-mobrix-ui-styled="true"][data-mobrix-ui-hover="true"][data-mobrix-ui-dark="true"]:hover:not(
      :focus-visible
    ) {
    /** Counter **/
    --mobrix-ui-counterbox-background: var(
      --mobrix-ui-counterbox-background-hover-dark
    );

    --mobrix-ui-counterbox-text-color: var(
      --mobrix-ui-counterbox-text-color-hover-dark
    );

    /** Inputbox **/
    --mobrix-ui-inputbox-background: var(
      --mobrix-ui-inputbox-background-hover-dark
    );

    --mobrix-ui-inputbox-text-color: var(
      --mobrix-ui-inputbox-text-color-hover-dark
    );
  }
}
