@import url("constants/computed.css");

[data-mbx-id]:not([data-mbx-atts*="dk"]) {
  /** Calendar **/
  --mbx-c-cal-bg: var(--mbx-c-cal-bg-l);
  --mbx-c-cal-txt: var(--mbx-c-cal-txt-l);
  --mbx-c-cal-bg-s: var(
    --mbx-calendar-selected-background-light,
    var(--mbx-calendar-selected-background, var(--mbx-c-cal-bg-d))
  );
  --mbx-c-cal-txt-s: var(
    --mbx-calendar-selected-text-color-light,
    var(--mbx-calendar-selected-text-color, var(--mbx-c-cal-txt-d))
  );
  --mbx-c-cal-bg-h: var(
    --mbx-calendar-background-hover-light,
    var(--mbx-calendar-background-hover, var(--mbx-c-cal-bg-s))
  );
  --mbx-c-cal-txt-h: var(
    --mbx-calendar-text-color-hover-light,
    var(--mbx-calendar-text-color-hover, var(--mbx-c-cal-txt-s))
  );
  --mbx-c-cal-arr: var(
    --mbx-calendar-arrow-light,
    var(--mbx-calendar-arrow, var(--mbx-c-cal-txt))
  );
  --mbx-c-cal-arr-h: var(
    --mbx-calendar-arrow-hover-light,
    var(--mbx-calendar-arrow-hover, var(--mbx-c-cal-arr))
  );
  --mbx-c-cal-t: var(
    --mbx-calendar-today-color-light,
    var(--mbx-calendar-today-color, red)
  );

  /** DatePicker **/
  --mbx-c-dtp-bg: var(
    --mbx-datepicker-background-light,
    var(--mbx-datepicker-background, var(--mbx-c-bg))
  );
  --mbx-c-dtp-txt: var(
    --mbx-datepicker-text-color-light,
    var(--mbx-datepicker-text-color, var(--mbx-c-txt))
  );
  --mbx-c-dtp-ic: var(
    --mbx-datepicker-icon-light,
    var(--mbx-datepicker-icon, var(--mbx-c-dtp-txt))
  );
  --mbx-c-dtp-ic-h: var(
    --mbx-datepicker-icon-hover-light,
    var(--mbx-datepicker-icon-hover, var(--mbx-c-fc))
  );

  /** Drawer **/
  --mbx-c-draw-bg: var(
    --mbx-drawer-background-light,
    var(--mbx-drawer-background, var(--mbx-c-bg))
  );
  --mbx-c-draw-txt: var(
    --mbx-drawer-text-color-light,
    var(--mbx-drawer-text-color, var(--mbx-c-txt))
  );
  --mbx-c-draw-arr: var(
    --mbx-drawer-arrow-light,
    var(--mbx-drawer-arrow, var(--mbx-c-draw-txt))
  );
  --mbx-c-draw-arr-h: var(
    --mbx-drawer-arrow-hover-light,
    var(--mbx-drawer-arrow-hover, var(--mbx-c-draw-arr))
  );

  /** Form **/
  --mbx-c-form-bg: var(
    --mbx-form-background-light,
    var(--mbx-form-background, var(--mbx-c-bg))
  );
  --mbx-c-form-txt: var(
    --mbx-form-text-color-light,
    var(--mbx-form-text-color)
  );
  --mbx-c-form-sub-bg: var(
    --mbx-form-submit-background-light,
    var(--mbx-form-submit-background)
  );
  --mbx-c-form-sub-txt: var(
    --mbx-form-submit-text-color-light,
    var(--mbx-form-submit-text-color)
  );
}

[data-mbx-id][data-mbx-atts*="dk"] {
  /** Calendar **/
  --mbx-c-cal-bg: var(--mbx-c-cal-bg-d);
  --mbx-c-cal-txt: var(--mbx-c-cal-txt-d);
  --mbx-c-cal-bg-s: var(
    --mbx-calendar-selected-background-dark,
    var(--mbx-calendar-selected-background, var(--mbx-c-cal-bg-l))
  );
  --mbx-c-cal-txt-s: var(
    --mbx-calendar-selected-text-color-dark,
    var(--mbx-calendar-selected-text-color, var(--mbx-c-cal-txt-l))
  );
  --mbx-c-cal-bg-h: var(
    --mbx-calendar-background-hover-dark,
    var(--mbx-calendar-background-hover, var(--mbx-c-cal-bg-s))
  );
  --mbx-c-cal-txt-h: var(
    --mbx-calendar-text-color-hover-dark,
    var(--mbx-calendar-text-color-hover, var(--mbx-c-cal-txt-s))
  );
  --mbx-c-cal-arr: var(
    --mbx-calendar-arrow-dark,
    var(--mbx-calendar-arrow, var(--mbx-c-cal-txt))
  );
  --mbx-c-cal-arr-h: var(
    --mbx-calendar-arrow-hover-dark,
    var(--mbx-calendar-arrow-hover, var(--mbx-c-cal-arr))
  );
  --mbx-c-cal-t: var(
    --mbx-calendar-today-color-dark,
    var(--mbx-calendar-today-color, red)
  );

  /** DatePicker **/
  --mbx-c-dtp-bg: var(
    --mbx-datepicker-background-dark,
    var(--mbx-datepicker-background, var(--mbx-c-bg))
  );
  --mbx-c-dtp-txt: var(
    --mbx-datepicker-text-color-dark,
    var(--mbx-datepicker-text-color, var(--mbx-c-txt))
  );
  --mbx-c-dtp-ic: var(
    --mbx-datepicker-icon-dark,
    var(--mbx-datepicker-icon, var(--mbx-c-dtp-txt))
  );
  --mbx-c-dtp-ic-h: var(
    --mbx-datepicker-icon-hover-dark,
    var(--mbx-datepicker-icon-hover, var(--mbx-c-fc))
  );

  /** Drawer **/
  --mbx-c-draw-bg: var(
    --mbx-drawer-background-dark,
    var(--mbx-drawer-background, var(--mbx-c-bg))
  );
  --mbx-c-draw-txt: var(
    --mbx-drawer-text-color-dark,
    var(--mbx-drawer-text-color, var(--mbx-c-txt))
  );
  --mbx-c-draw-arr: var(
    --mbx-drawer-arrow-dark,
    var(--mbx-drawer-arrow, var(--mbx-c-draw-txt))
  );
  --mbx-c-draw-arr-h: var(
    --mbx-drawer-arrow-hover-dark,
    var(--mbx-drawer-arrow-hover, var(--mbx-c-draw-arr))
  );

  /** Form **/
  --mbx-c-form-bg: var(
    --mbx-form-background-dark,
    var(--mbx-form-background, var(--mbx-c-bg))
  );
  --mbx-c-form-sub-bg: var(
    --mbx-form-submit-background-dark,
    var(--mbx-form-submit-background)
  );
  --mbx-c-form-txt: var(--mbx-form-text-color-dark, var(--mbx-form-text-color));
  --mbx-c-form-sub-txt: var(
    --mbx-form-submit-text-color-dark,
    var(--mbx-form-submit-text-color)
  );
}
