@import url("constants/computed.css");

[data-mbx-id] {
  /** Calendar **/
  --mbx-c-cal-bg: var(--mbx-c-cal-bg-l);
  --mbx-c-cal-txt: var(--mbx-c-cal-txt-l);
  --mbx-c-cal-bg-s: var(
    --mbx-calendar-selected-background-light,
    var(--mbx-calendar-selected-background, var(--mbx-c-cal-bg-d))
  );
  --mbx-c-cal-txt-s: var(
    --mbx-calendar-selected-text-color-light,
    var(--mbx-calendar-selected-text-color, var(--mbx-c-cal-txt-d))
  );
  --mbx-c-cal-bg-h: var(
    --mbx-calendar-background-hover-light,
    var(--mbx-calendar-background-hover, var(--mbx-c-cal-bg-s))
  );
  --mbx-c-cal-txt-h: var(
    --mbx-calendar-text-color-hover-light,
    var(--mbx-calendar-text-color-hover, var(--mbx-c-cal-txt-s))
  );
  --mbx-c-cal-t: var(
    --mbx-calendar-today-color-light,
    var(--mbx-calendar-today-color, red)
  );

  /** DatePicker **/
  --mbx-c-dtp-bg: var(
    --mbx-datepicker-background-light,
    var(--mbx-datepicker-background, var(--mbx-c-bg))
  );
  --mbx-c-dtp-txt: var(
    --mbx-datepicker-text-color-light,
    var(--mbx-datepicker-text-color, var(--mbx-c-txt))
  );

  /** Drawer **/
  --mbx-c-draw-bg: var(
    --mbx-drawer-background-light,
    var(--mbx-drawer-background, var(--mbx-c-bg))
  );
  --mbx-c-draw-txt: var(
    --mbx-drawer-text-color-light,
    var(--mbx-drawer-text-color, var(--mbx-c-txt))
  );

  /** Form **/
  --mbx-c-form-bg: var(
    --mbx-form-background-light,
    var(--mbx-form-background, var(--mbx-c-bg))
  );
  --mbx-c-form-txt: var(
    --mbx-form-text-color-light,
    var(--mbx-form-text-color)
  );
}

[data-mbx-id][data-mbx-dk] {
  /** Calendar **/
  --mbx-c-cal-bg: var(--mbx-c-cal-bg-d);
  --mbx-c-cal-txt: var(--mbx-c-cal-txt-d);
  --mbx-c-cal-bg-s: var(
    --mbx-calendar-selected-background-dark,
    var(--mbx-calendar-selected-background, var(--mbx-c-cal-bg-l))
  );
  --mbx-c-cal-txt-s: var(
    --mbx-calendar-selected-text-color-dark,
    var(--mbx-calendar-selected-text-color, var(--mbx-c-cal-txt-l))
  );
  --mbx-c-cal-bg-h: var(
    --mbx-calendar-background-hover-dark,
    var(--mbx-calendar-background-hover, var(--mbx-c-cal-bg-s))
  );
  --mbx-c-cal-txt-h: var(
    --mbx-calendar-text-color-hover-dark,
    var(--mbx-calendar-text-color-hover, var(--mbx-c-cal-txt-s))
  );
  --mbx-c-cal-t: var(
    --mbx-calendar-today-color-dark,
    var(--mbx-calendar-today-color, red)
  );

  /** DatePicker **/
  --mbx-c-dtp-bg: var(
    --mbx-datepicker-background-dark,
    var(--mbx-datepicker-background, var(--mbx-c-bg))
  );
  --mbx-c-dtp-txt: var(
    --mbx-datepicker-text-color-dark,
    var(--mbx-datepicker-text-color, var(--mbx-c-txt))
  );

  /** Drawer **/
  --mbx-c-draw-bg: var(
    --mbx-drawer-background-dark,
    var(--mbx-drawer-background, var(--mbx-c-bg))
  );
  --mbx-c-draw-txt: var(
    --mbx-drawer-text-color-dark,
    var(--mbx-drawer-text-color, var(--mbx-c-txt))
  );

  /** Form **/
  --mbx-c-form-bg: var(
    --mbx-form-background-dark,
    var(--mbx-form-background, var(--mbx-c-bg))
  );
  --mbx-c-form-txt: var(--mbx-form-text-color-dark, var(--mbx-form-text-color));
}
