@import url("default.css");

[data-mbx-id] {
  /* Calendar */
  --mbx-c-cal-bg-l: var(
    --mbx-calendar-background-light,
    var(--mbx-calendar-background, var(--mbx-c-bg-l))
  );
  --mbx-c-cal-bg-d: var(
    --mbx-calendar-background-dark,
    var(--mbx-calendar-background, var(--mbx-c-bg-d))
  );

  --mbx-c-cal-txt-l: var(
    --mbx-calendar-text-color-light,
    var(--mbx-calendar-text-color, var(--mbx-c-txt-l))
  );
  --mbx-c-cal-txt-d: var(
    --mbx-calendar-text-color-dark,
    var(--mbx-calendar-text-color, var(--mbx-c-txt-d))
  );

  --mbx-c-cal-bg-s-l: var(
    --mbx-calendar-selected-background-light,
    var(--mbx-calendar-selected-background, var(--mbx-c-cal-bg-d))
  );

  --mbx-c-cal-bg-s-d: var(
    --mbx-calendar-selected-background-dark,
    var(--mbx-calendar-selected-background, var(--mbx-c-cal-bg-l))
  );

  --mbx-c-cal-txt-s-l: var(
    --mbx-calendar-selected-text-color-light,
    var(--mbx-calendar-selected-text-color, var(--mbx-c-cal-txt-d))
  );

  --mbx-c-cal-txt-s-d: var(
    --mbx-calendar-selected-text-color-dark,
    var(--mbx-calendar-selected-text-color, var(--mbx-c-cal-txt-l))
  );

  --mbx-c-cal-t-l: var(
    --mbx-calendar-today-color-light,
    var(--mbx-calendar-today-color, var(--mbx-d-cal-tod))
  );
  --mbx-c-cal-t-d: var(
    --mbx-calendar-today-color-dark,
    var(--mbx-calendar-today-color, var(--mbx-d-cal-tod))
  );

  --mbx-c-cal-bg-h-l: var(
    --mbx-calendar-background-hover-light,
    var(--mbx-calendar-background-hover, var(--mbx-c-cal-bg-s-l))
  );

  --mbx-c-cal-bg-h-d: var(
    --mbx-calendar-background-hover-dark,
    var(--mbx-calendar-background-hover, var(--mbx-c-cal-bg-s-d))
  );

  --mbx-c-cal-txt-h-l: var(
    --mbx-calendar-text-color-hover-light,
    var(--mbx-calendar-text-color-hover, var(--mbx-c-cal-txt-s-l))
  );

  --mbx-c-cal-txt-h-d: var(
    --mbx-calendar-text-color-hover-dark,
    var(--mbx-calendar-text-color-hover, var(--mbx-c-cal-txt-s-d))
  );

  --mbx-c-cal-arr-l: var(
    --mbx-calendar-arrow-light,
    var(--mbx-calendar-arrow, var(--mbx-c-cal-txt-l))
  );

  --mbx-c-cal-arr-d: var(
    --mbx-calendar-arrow-dark,
    var(--mbx-calendar-arrow, var(--mbx-c-cal-txt-d))
  );

  --mbx-c-cal-arr-h-l: var(
    --mbx-calendar-arrow-hover-light,
    var(--mbx-calendar-arrow-hover, var(--mbx-c-txt-l))
  );

  --mbx-c-cal-arr-h-d: var(
    --mbx-calendar-arrow-hover-dark,
    var(--mbx-calendar-arrow-hover, var(--mbx-c-txt-d))
  );

  /** DatePicker **/
  --mbx-c-dtp-bg-l: var(
    --mbx-datepicker-background-light,
    var(--mbx-datepicker-background, var(--mbx-c-bg-l))
  );
  --mbx-c-dtp-txt-l: var(
    --mbx-datepicker-text-color-light,
    var(--mbx-datepicker-text-color, var(--mbx-c-txt-l))
  );
  ---mbx-c-dtp-ic-l: var(
    --mbx-datepicker-icon-light,
    var(--mbx-datepicker-icon, var(--mbx-c-dtp-txt-l))
  );
  --mbx-c-dtp-ic-h-l: var(
    --mbx-datepicker-icon-hover-light,
    var(--mbx-datepicker-icon-hover, blue)
  );

  --mbx-c-dtp-bg-d: var(
    --mbx-datepicker-background-dark,
    var(--mbx-datepicker-background, var(--mbx-c-bg-d))
  );
  --mbx-c-dtp-txt-d: var(
    --mbx-datepicker-text-color-dark,
    var(--mbx-datepicker-text-color, var(--mbx-c-txt-d))
  );
  ---mbx-c-dtp-ic-d: var(
    --mbx-datepicker-icon-dark,
    var(--mbx-datepicker-icon, var(--mbx-c-dtp-txt-d))
  );
  --mbx-c-dtp-ic-h-d: var(
    --mbx-datepicker-icon-hover-dark,
    var(--mbx-datepicker-icon-hover, orange)
  );

  /** Drawer **/

  --mbx-c-draw-bg-l: var(
    --mbx-drawer-background-light,
    var(--mbx-drawer-background, var(--mbx-c-bg-l))
  );
  --mbx-c-draw-bg-d: var(
    --mbx-drawer-background-dark,
    var(--mbx-drawer-background, var(--mbx-c-bg-d))
  );
  --mbx-c-draw-txt-l: var(
    --mbx-drawer-text-color-light,
    var(--mbx-drawer-text-color, var(--mbx-c-txt-l))
  );
  --mbx-c-draw-txt-d: var(
    --mbx-drawer-text-color-light,
    var(--mbx-drawer-text-color, var(--mbx-c-txt-d))
  );

  --mbx-c-draw-arr-l: var(
    --mbx-drawer-arrow-light,
    var(--mbx-drawer-arrow, var(--mbx-c-draw-txt-l))
  );
  --mbx-c-draw-arr-d: var(
    --mbx-drawer-arrow-dark,
    var(--mbx-drawer-arrow, var(--mbx-c-draw-txt-d))
  );
  --mbx-c-draw-arr-h-l: var(
    --mbx-drawer-arrow-light,
    var(--mbx-drawer-arrow, var(--mbx-c-draw-arr-l))
  );
  --mbx-c-draw-arr-h-d: var(
    --mbx-drawer-arrow-dark,
    var(--mbx-drawer-arrow, var(--mbx-c-draw-arr-d))
  );

  /** Form **/
  --mbx-c-form-bg-l: var(
    --mbx-form-background-light,
    var(--mbx-form-background, var(--mbx-c-bg-l))
  );
  --mbx-c-form-bg-d: var(
    --mbx-form-background-dark,
    var(--mbx-form-background, var(--mbx-c-bg-d))
  );
  --mbx-c-form-sub-bg-l: var(
    --mbx-form-submit-background-light,
    var(--mbx-form-submit-background)
  );
  --mbx-c-form-sub-bg-d: var(
    --mbx-form-submit-background-dark,
    var(--mbx-form-submit-background)
  );
  --mbx-c-form-txt-l: var(
    --mbx-form-text-color-light,
    var(--mbx-form-text-color)
  );
  --mbx-c-form-txt-d: var(
    --mbx-form-text-color-dark,
    var(--mbx-form-text-color)
  );
  --mbx-c-form-sub-txt-l: var(
    --mbx-form-submit-text-color-light,
    var(--mbx-form-submit-text-color)
  );
  --mbx-c-form-sub-txt-d: var(
    --mbx-form-submit-text-color-dark,
    var(--mbx-form-submit-text-color)
  );
}
