[data-mbx-id] {
  /* Calendar */
  --mbx-c-cal-bg-l: var(
    --mbx-calendar-background-light,
    var(--mbx-calendar-background, var(--mbx-c-bg-l))
  );
  --mbx-c-cal-txt-l: var(
    --mbx-calendar-text-color-light,
    var(--mbx-calendar-text-color, var(--mbx-c-txt-l))
  );
  --mbx-c-cal-bg-s-l: var(
    --mbx-calendar-selected-background-light,
    var(--mbx-calendar-selected-background, var(--mbx-c-cal-bg-d))
  );
  --mbx-c-cal-txt-s-l: var(
    --mbx-calendar-selected-text-color-light,
    var(--mbx-calendar-selected-text-color, var(--mbx-c-cal-txt-d))
  );
  --mbx-c-cal-t-l: var(
    --mbx-calendar-today-color-light,
    var(--mbx-calendar-today-color, red)
  );
  --mbx-c-cal-bg-h-l: var(
    --mbx-calendar-background-hover-light,
    var(--mbx-calendar-background-hover, var(--mbx-c-cal-bg-s-l))
  );
  --mbx-c-cal-txt-h-l: var(
    --mbx-calendar-text-color-hover-light,
    var(--mbx-calendar-text-color-hover, var(--mbx-c-cal-txt-s-l))
  );
  --mbx-c-cal-arr-l: var(
    --mbx-calendar-arrow-light,
    var(--mbx-calendar-arrow, var(--mbx-c-cal-txt-l))
  );
  --mbx-c-cal-arr-h-l: var(
    --mbx-calendar-arrow-hover-light,
    var(--mbx-calendar-arrow-hover, var(--mbx-c-txt-l))
  );

  --mbx-c-cal-bg-d: var(
    --mbx-calendar-background-dark,
    var(--mbx-calendar-background, var(--mbx-c-bg-d))
  );
  --mbx-c-cal-txt-d: var(
    --mbx-calendar-text-color-dark,
    var(--mbx-calendar-text-color, var(--mbx-c-txt-d))
  );
  --mbx-c-cal-bg-s-d: var(
    --mbx-calendar-selected-background-dark,
    var(--mbx-calendar-selected-background, var(--mbx-c-cal-bg-l))
  );
  --mbx-c-cal-txt-s-d: var(
    --mbx-calendar-selected-text-color-dark,
    var(--mbx-calendar-selected-text-color, var(--mbx-c-cal-txt-l))
  );
  --mbx-c-cal-t-d: var(
    --mbx-calendar-today-color-dark,
    var(--mbx-calendar-today-color, red)
  );
  --mbx-c-cal-bg-h-d: var(
    --mbx-calendar-background-hover-dark,
    var(--mbx-calendar-background-hover, var(--mbx-c-cal-bg-s-d))
  );
  --mbx-c-cal-txt-h-d: var(
    --mbx-calendar-text-color-hover-dark,
    var(--mbx-calendar-text-color-hover, var(--mbx-c-cal-txt-s-d))
  );
  --mbx-c-cal-arr-d: var(
    --mbx-calendar-arrow-dark,
    var(--mbx-calendar-arrow, var(--mbx-c-cal-txt-d))
  );
  --mbx-c-cal-arr-h-d: var(
    --mbx-calendar-arrow-hover-dark,
    var(--mbx-calendar-arrow-hover, var(--mbx-c-txt-d))
  );
}
