[data-mbx-id] {
  /* Calendar */
  --mbx-c-cal-bg-l: var(
    --mbx-calendar-background-light,
    var(--mbx-calendar-background, var(--mbx-c-bg-l))
  );
  --mbx-c-cal-txt-l: var(
    --mbx-calendar-text-color-light,
    var(--mbx-calendar-text-color, var(--mbx-c-txt-l))
  );

  --mbx-c-cal-bg-d: var(
    --mbx-calendar-background-dark,
    var(--mbx-calendar-background, var(--mbx-c-bg-d))
  );
  --mbx-c-cal-txt-d: var(
    --mbx-calendar-text-color-dark,
    var(--mbx-calendar-text-color, var(--mbx-c-txt-d))
  );
}
