@import url("constants/computed.css");

[data-mbx-id]:not([data-mbx-atts*="dark"]) {
  /** Button **/
  --mbx-c-btn-bg: var(--mbx-c-btn-bg-l);

  --mbx-c-btn-txt: var(--mbx-c-btn-txt-l);

  /** Checkbox **/
  --mbx-c-chk-bg: var(--mbx-c-chk-bg-l);

  --mbx-c-chk-tk: var(--mbx-c-chk-tk-l);

  /** Codebox **/
  --mbx-c-cdb-bg: var(--mbx-c-cdb-bg-l);

  --mbx-c-cdb-txt: var(--mbx-c-cdb-txt-l);

  /** Counter **/
  --mbx-c-cnt-bg: var(--mbx-c-cnt-bgc-l);

  --mbx-c-cnt-txt: var(--mbx-c-cnt-txt-l);

  /** Divider **/
  --mbx-c-dv-bgc: var(--mbx-c-dv-bgc-l);

  /** Input **/
  --mbx-c-in-bgc: var(--mbx-c-in-bgc-l);

  --mbx-c-in-txt: var(--mbx-c-in-txt-l);

  /** Label **/
  --mbx-c-lab-txt: var(--mbx-c-lab-txt-l);

  /** Link **/
  --mbx-c-link-txt: var(--mbx-c-link-txt-l);

  /** Radio Button **/
  --mbx-c-rad-bg: var(--mbx-c-rad-bg-l);
  --mbx-c-rad-ic-bg: var(--mbx-c-rad-ic-bg-l);

  /** Rater **/
  --mbx-c-rat-bg: var(--mbx-c-rat-bg-l);

  /** Selector **/
  --mbx-c-sel-bg: var(--mbx-c-sel-bg-l);
  --mbx-c-sel-txt: var(--mbx-c-sel-txt-l);

  /** Slider **/
  --mbx-c-sld-bg: var(--mbx-c-sld-bg-l);

  --mbx-c-sld-tb: var(--mbx-c-sld-tb-l);

  --mbx-c-sld-tb-h: var(--mbx-c-sld-tb-h-l);

  /** Spinner **/
  --mbx-c-spn-suc: var(--mbx-c-spn-suc-l);
  --mbx-c-spn-err: var(--mbx-c-spn-err-l);
  --mbx-c-spn-load: var(--mbx-c-spn-load-l);

  /** Toggle **/
  --mbx-c-tog-bg: var(--mbx-c-tog-bg-l);
  --mbx-c-tog-ic-on-ext: var(--mbx-c-tog-ic-on-ext-l);
  --mbx-c-tog-ic-on-int: var(--mbx-c-tog-ic-on-int-l);
  --mbx-c-tog-ic-off-ext: var(--mbx-c-tog-ic-off-ext-l);
  --mbx-c-tog-ic-off-int: var(--mbx-c-tog-ic-off-int-l);
}

[data-mbx-id][data-mbx-atts*="dark"] {
  /** Button **/
  --mbx-c-btn-bg: var(--mbx-c-btn-bg-d);

  --mbx-c-btn-txt: var(--mbx-c-btn-txt-d);

  /** Checkbox **/
  --mbx-c-chk-bg: var(--mbx-c-chk-bg-d);

  --mbx-c-chk-tk: var(--mbx-c-chk-tk-d);

  /** Codebox **/
  --mbx-c-cdb-bg: var(--mbx-c-cdb-bg-d);

  --mbx-c-cdb-txt: var(--mbx-c-cdb-txt-d);

  /** Counter **/
  --mbx-c-cnt-bg: var(--mbx-c-cnt-bgc-d);

  --mbx-c-cnt-txt: var(--mbx-c-cnt-txt-d);

  /** Divider **/
  --mbx-c-dv-bgc: var(--mbx-c-dv-bgc-d);

  /** Input **/
  --mbx-c-in-bgc: var(--mbx-c-in-bgc-d);

  --mbx-c-in-txt: var(--mbx-c-in-txt-d);

  /** Label **/
  --mbx-c-lab-txt: var(--mbx-c-lab-txt-d);

  /** Link **/
  --mbx-c-link-txt: var(--mbx-c-link-txt-d);

  /** Radio Button **/
  --mbx-c-rad-bg: var(--mbx-c-rad-bg-d);
  --mbx-c-rad-ic-bg: var(--mbx-c-rad-ic-bg-d);

  /** Rater **/
  --mbx-c-rat-bg: var(--mbx-c-rat-bg-d);

  /** Selector **/
  --mbx-c-sel-bg: var(--mbx-c-sel-bg-d);
  --mbx-c-sel-txt: var(--mbx-c-sel-txt-d);

  /** Slider **/
  --mbx-c-sld-bg: var(--mbx-c-sld-bg-d);

  --mbx-c-sld-tb: var(--mbx-c-sld-tb-d);

  --mbx-c-sld-tb-h: var(--mbx-c-sld-tb-h-d);

  /** Spinner **/
  --mbx-c-spn-suc: var(--mbx-c-spn-suc-d);
  --mbx-c-spn-err: var(--mbx-c-spn-err-d);
  --mbx-c-spn-load: var(--mbx-c-spn-load-d);

  /** Toggle **/
  --mbx-c-tog-bg: var(--mbx-c-tog-bg-d);
  --mbx-c-tog-ic-on-ext: var(--mbx-c-tog-ic-on-ext-d);
  --mbx-c-tog-ic-on-int: var(--mbx-c-tog-ic-on-int-d);
  --mbx-c-tog-ic-off-ext: var(--mbx-c-tog-ic-off-ext-d);
  --mbx-c-tog-ic-off-int: var(--mbx-c-tog-ic-off-int-d);
}
