[data-mbx-id="inp"],
[data-mbx-id="count"] {
  border-radius: 5px;
  padding: 0.5rem;
}

[data-mbx-id="check"] > [data-mbx-img="tick"] {
  --mbx-icon-light: var(
    --mbx-checkbox-tick-color-light,
    var(--mbx-checkbox-tick-color, rgb(37, 99, 235))
  );
  --mbx-icon-dark: var(
    --mbx-checkbox-tick-color-dark,
    var(--mbx-checkbox-tick-color, white)
  );
}
