#mobrix-ui-list.styled {
  display: flex;
  flex-direction: column;
  background: transparent;
  padding: 0.6rem;
}

#mobrix-ui-list .internal-list-element {
  display: flex;
  flex-direction: row;
}

#mobrix-ui-list.styled .internal-list-element {
  color: var(--mobrix-ui-text-color);
}

#mobrix-ui-list .internal-list-element .dot {
  width: 6px;
  height: 6px;
  fill: var(--mobrix-ui-text-color);
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0.3rem;
}
