@import url("constants/computed.css");

[data-mobrix-ui-id][data-mobrix-ui-dark="false"] {
  /** Card **/
  --mobrix-ui-computed-card-background: var(
    --mobrix-ui-computed-card-background-light
  );

  --mobrix-ui-computed-card-text-color: var(
    --mobrix-ui-computed-card-text-color-light
  );

  /** Carousel **/
  --mobrix-ui-computed-carousel-background: var(
    --mobrix-ui-computed-carousel-background-light
  );

  --mobrix-ui-computed-carousel-arrow-color: var(
    --mobrix-ui-computed-carousel-arrow-color-light
  );

  --mobrix-ui-computed-carousel-arrow-color-hover: var(
    --mobrix-ui-computed-carousel-arrow-color-hover-light
  );

  --mobrix-ui-computed-carousel-dot-full-background: var(
    --mobrix-ui-computed-carousel-dot-full-background-light
  );

  --mobrix-ui-computed-carousel-dot-empty-background: var(
    --mobrix-ui-computed-carousel-dot-empty-background-light
  );

  /** Container **/
  --mobrix-ui-computed-container-background: var(
    --mobrix-ui-computed-container-background-light
  );
  --mobrix-ui-computed-container-text-color: var(
    --mobrix-ui-computed-container-text-color-light
  );

  /** DismissableCard **/
  --mobrix-ui-computed-dismissablecard-background: var(
    --mobrix-ui-computed-dismissablecard-background-light
  );

  --mobrix-ui-computed-dismissablecard-text-color: var(
    --mobrix-ui-computed-dismissablecard-text-color-light
  );

  --mobrix-ui-computed-dismissablecard-x-color: var(
    --mobrix-ui-computed-dismissablecard-x-color-light
  );
  --mobrix-ui-computed-dismissablecard-x-color-hover: var(
    --mobrix-ui-computed-dismissablecard-x-color-hover-light
  );

  /** Dropdown **/
  --mobrix-ui-computed-dropdown-arrow-color: var(
    --mobrix-ui-computed-dropdown-arrow-color-light
  );

  --mobrix-ui-computed-dropdown-arrow-color-hover: var(
    --mobrix-ui-computed-dropdown-arrow-color-hover-light
  );
  --mobrix-ui-computed-dropdown-background: var(
    --mobrix-ui-computed-dropdown-background-light
  );
  --mobrix-ui-computed-dropdown-background-hover: var(
    --mobrix-ui-computed-dropdown-background-hover-light
  );
  --mobrix-ui-computed-dropdown-text-color: var(
    --mobrix-ui-computed-dropdown-text-color-light
  );
  --mobrix-ui-computed-dropdown-text-color-hover: var(
    --mobrix-ui-computed-dropdown-text-color-hover-light
  );

  /** ExpandableContainer **/
  --mobrix-ui-computed-expandable-container-background: var(
    --mobrix-ui-computed-expandable-container-background-light
  );
  --mobrix-ui-computed-expandable-container-text-color: var(
    --mobrix-ui-computed-expandable-container-text-color-light
  );
  --mobrix-ui-computed-expandable-container-arrow-color: var(
    --mobrix-ui-computed-expandable-container-arrow-color-light
  );
  --mobrix-ui-computed-expandable-container-arrow-color-hover: var(
    --mobrix-ui-computed-expandable-container-arrow-color-hover-light
  );

  /** FormField **/
  --mobrix-ui-computed-formfield-background: var(
    --mobrix-ui-computed-formfield-background-light
  );
  --mobrix-ui-computed-formfield-text-color: var(
    --mobrix-ui-computed-formfield-text-color-light
  );
  --mobrix-ui-computed-formfield-background-hover: var(
    --mobrix-ui-computed-formfield-background-hover-light
  );
  --mobrix-ui-computed-formfield-text-color-hover: var(
    --mobrix-ui-computed-formfield-text-color-hover-light
  );
  --mobrix-ui-computed-formfield-error-border: var(
    --mobrix-ui-computed-formfield-error-border-light
  );
  --mobrix-ui-computed-formfield-error-text: var(
    --mobrix-ui-computed-formfield-error-text-light
  );

  /** List **/
  --mobrix-ui-computed-list-text-color: var(
    --mobrix-ui-computed-list-text-color-light
  );
  --mobrix-ui-computed-list-text-color-hover: var(
    --mobrix-ui-computed-list-text-color-hover-light
  );

  /** Modal **/
  --mobrix-ui-computed-modal-background: var(
    --mobrix-ui-computed-modal-background-light
  );
  --mobrix-ui-computed-modal-x-color: var(
    --mobrix-ui-computed-modal-x-color-light
  );
  --mobrix-ui-computed-modal-x-color-hover: var(
    --mobrix-ui-computed-modal-x-color-hover-light
  );

  /** Popup **/
  --mobrix-ui-computed-popup-background: var(
    --mobrix-ui-computed-popup-background-light
  );
  --mobrix-ui-computed-popup-text-color: var(
    --mobrix-ui-computed-popup-text-color-light
  );

  /** RadioButtonGroup **/
  --mobrix-ui-computed-radiogroup-background: var(
    --mobrix-ui-computed-radiogroup-background-light
  );
  --mobrix-ui-computed-radiogroup-text-color: var(
    --mobrix-ui-computed-radiogroup-text-color-light
  );

  /** Review **/
  --mobrix-ui-computed-review-background: var(
    --mobrix-ui-computed-review-background-light
  );
  --mobrix-ui-computed-review-text-color: var(
    --mobrix-ui-computed-review-text-color-light
  );
  --mobrix-ui-computed-review-link-color: var(
    --mobrix-ui-computed-review-link-color-light
  );
  --mobrix-ui-computed-review-github-color: var(
    --mobrix-ui-computed-review-github-color-light
  );

  /** Table **/
  --mobrix-ui-computed-table-background: var(
    --mobrix-ui-computed-table-background-light
  );
  --mobrix-ui-computed-table-text-color: var(
    --mobrix-ui-computed-table-text-color-light
  );
  --mobrix-ui-computed-table-header-background: var(
    --mobrix-ui-computed-table-header-background-light
  );
  --mobrix-ui-computed-table-header-text-color: var(
    --mobrix-ui-computed-table-header-text-color-light
  );
  --mobrix-ui-computed-table-border-color: var(
    --mobrix-ui-computed-table-border-color-light
  );

  /** TabViewer **/
  --mobrix-ui-computed-tab-viewer-background: var(
    --mobrix-ui-computed-tab-viewer-background-light
  );
  --mobrix-ui-computed-tab-viewer-text-color: var(
    --mobrix-ui-computed-tab-viewer-text-color-light
  );
  --mobrix-ui-computed-tab-viewer-background-inactive: var(
    --mobrix-ui-computed-tab-viewer-background-inactive-light
  );
  --mobrix-ui-computed-tab-viewer-background-inactive-hover: var(
    --mobrix-ui-computed-tab-viewer-background-inactive-hover-light
  );
  --mobrix-ui-computed-tab-viewer-text-color-inactive: var(
    --mobrix-ui-computed-tab-viewer-text-color-inactive-light
  );
}

[data-mobrix-ui-id][data-mobrix-ui-dark="true"] {
  /** Card **/
  --mobrix-ui-computed-card-background: var(
    --mobrix-ui-computed-card-background-dark
  );

  --mobrix-ui-computed-card-text-color: var(
    --mobrix-ui-computed-card-text-color-dark
  );

  /** Carousel **/
  --mobrix-ui-computed-carousel-background: var(
    --mobrix-ui-computed-carousel-background-dark
  );
  --mobrix-ui-computed-carousel-arrow-color: var(
    --mobrix-ui-computed-carousel-arrow-color-dark
  );
  --mobrix-ui-computed-carousel-arrow-color-hover: var(
    --mobrix-ui-computed-carousel-arrow-color-hover-dark
  );
  --mobrix-ui-computed-carousel-dot-full-background: var(
    --mobrix-ui-computed-carousel-dot-full-background-dark
  );

  --mobrix-ui-computed-carousel-dot-empty-background: var(
    --mobrix-ui-computed-carousel-dot-empty-background-dark
  );

  /** Container **/
  --mobrix-ui-computed-container-background: var(
    --mobrix-ui-computed-container-background-dark
  );
  --mobrix-ui-computed-container-text-color: var(
    --mobrix-ui-computed-container-text-color-dark
  );

  /** DismissableCard **/
  --mobrix-ui-computed-dismissablecard-background: var(
    --mobrix-ui-computed-dismissablecard-background-dark
  );
  --mobrix-ui-computed-dismissablecard-text-color: var(
    --mobrix-ui-computed-dismissablecard-text-color-dark
  );
  --mobrix-ui-computed-dismissablecard-x-color: var(
    --mobrix-ui-computed-dismissablecard-x-color-dark
  );
  --mobrix-ui-computed-dismissablecard-x-color-hover: var(
    --mobrix-ui-computed-dismissablecard-x-color-hover-dark
  );

  /** Dropdown **/
  --mobrix-ui-computed-dropdown-arrow-color: var(
    --mobrix-ui-computed-dropdown-arrow-color-dark
  );

  --mobrix-ui-computed-dropdown-arrow-color-hover: var(
    --mobrix-ui-computed-dropdown-arrow-color-hover-dark
  );

  --mobrix-ui-computed-dropdown-background: var(
    --mobrix-ui-computed-dropdown-background-dark
  );
  --mobrix-ui-computed-dropdown-background-hover: var(
    --mobrix-ui-computed-dropdown-background-hover-dark
  );

  --mobrix-ui-computed-dropdown-text-color: var(
    --mobrix-ui-computed-dropdown-text-color-dark
  );
  --mobrix-ui-computed-dropdown-text-color-hover: var(
    --mobrix-ui-computed-dropdown-text-color-hover-dark
  );

  /** Container **/
  --mobrix-ui-computed-expandable-container-background: var(
    --mobrix-ui-computed-expandable-container-background-dark
  );
  --mobrix-ui-computed-expandable-container-text-color: var(
    --mobrix-ui-computed-expandable-container-text-color-dark
  );
  --mobrix-ui-computed-expandable-container-arrow-color: var(
    --mobrix-ui-computed-expandable-container-arrow-color-dark
  );
  --mobrix-ui-computed-expandable-container-arrow-color-hover: var(
    --mobrix-ui-computed-expandable-container-arrow-color-hover-dark
  );

  /** FormField **/
  --mobrix-ui-computed-formfield-background: var(
    --mobrix-ui-computed-formfield-background-dark
  );
  --mobrix-ui-computed-formfield-text-color: var(
    --mobrix-ui-computed-formfield-text-color-dark
  );
  --mobrix-ui-computed-formfield-background-hover: var(
    --mobrix-ui-computed-formfield-background-hover-dark
  );
  --mobrix-ui-computed-formfield-text-color-hover: var(
    --mobrix-ui-computed-formfield-text-color-hover-dark
  );
  --mobrix-ui-computed-formfield-error-border: var(
    --mobrix-ui-computed-formfield-error-border-dark
  );
  --mobrix-ui-computed-formfield-error-text: var(
    --mobrix-ui-computed-formfield-error-text-dark
  );

  /** List **/
  --mobrix-ui-computed-list-text-color: var(
    --mobrix-ui-computed-list-text-color-dark
  );

  --mobrix-ui-computed-list-text-color-hover: var(
    --mobrix-ui-computed-list-text-color-hover-dark
  );

  /** Modal **/
  --mobrix-ui-computed-modal-background: var(
    --mobrix-ui-computed-modal-background-dark
  );

  --mobrix-ui-computed-modal-x-color: var(
    --mobrix-ui-computed-modal-x-color-dark
  );
  --mobrix-ui-computed-modal-x-color-hover: var(
    --mobrix-ui-computed-modal-x-color-hover-dark
  );

  /** Popup **/
  --mobrix-ui-computed-popup-background: var(
    --mobrix-ui-computed-popup-background-dark
  );
  --mobrix-ui-computed-popup-text-color: var(
    --mobrix-ui-computed-popup-text-color-dark
  );

  /** RadioButtonGroup **/
  --mobrix-ui-computed-radiogroup-background: var(
    --mobrix-ui-computed-radiogroup-background-dark
  );
  --mobrix-ui-computed-radiogroup-text-color: var(
    --mobrix-ui-computed-radiogroup-text-color-dark
  );

  /** Review **/
  --mobrix-ui-computed-review-background: var(
    --mobrix-ui-computed-review-background-dark
  );
  --mobrix-ui-computed-review-text-color: var(
    --mobrix-ui-computed-review-text-color-dark
  );
  --mobrix-ui-computed-review-link-color: var(
    --mobrix-ui-computed-review-link-color-dark
  );
  --mobrix-ui-computed-review-github-color: var(
    --mobrix-ui-computed-review-github-color-dark
  );

  /** Table **/
  --mobrix-ui-computed-table-background: var(
    --mobrix-ui-computed-table-background-dark
  );
  --mobrix-ui-computed-table-text-color: var(
    --mobrix-ui-computed-table-text-color-dark
  );
  --mobrix-ui-computed-table-header-background: var(
    --mobrix-ui-computed-table-header-background-dark
  );
  --mobrix-ui-computed-table-header-text-color: var(
    --mobrix-ui-computed-table-header-text-color-dark
  );
  --mobrix-ui-computed-table-border-color: var(
    --mobrix-ui-computed-table-border-color-dark
  );

  /** TabViewer **/
  --mobrix-ui-computed-tab-viewer-background: var(
    --mobrix-ui-computed-tab-viewer-background-dark
  );
  --mobrix-ui-computed-tab-viewer-text-color: var(
    --mobrix-ui-computed-tab-viewer-text-color-dark
  );
  --mobrix-ui-computed-tab-viewer-background-inactive: var(
    --mobrix-ui-computed-tab-viewer-background-inactive-dark
  );
  --mobrix-ui-computed-tab-viewer-background-inactive-hover: var(
    --mobrix-ui-computed-tab-viewer-background-inactive-hover-dark
  );
  --mobrix-ui-computed-tab-viewer-text-color-inactive: var(
    --mobrix-ui-computed-tab-viewer-text-color-inactive-dark
  );
}

[data-mobrix-ui-id][data-mobrix-ui-background="false"],
[data-mobrix-ui-id][data-mobrix-ui-background="false"]:hover,
[data-mobrix-ui-id][data-mobrix-ui-styled="false"],
[data-mobrix-ui-id][data-mobrix-ui-styled="false"]:hover {
  --mobrix-ui-computed-card-background: transparent !important;
  --mobrix-ui-computed-carousel-background: transparent !important;
  --mobrix-ui-computed-container-background: transparent !important;
  --mobrix-ui-computed-dismissablecard-background: transparent !important;
}

/** Background styles @TODO **/

[data-mobrix-ui-id="table"][data-mobrix-ui-background="false"] {
  --mobrix-ui-computed-table-background: transparent !important;
  --mobrix-ui-computed-table-header-background: transparent !important;
}

[data-mobrix-ui-id="tab-viewer"][data-mobrix-ui-background="false"] {
  --mobrix-ui-computed-tab-viewer-background: transparent !important;
  --mobrix-ui-computed-tab-viewer-background-inactive: transparent !important;
  --mobrix-ui-computed-tab-viewer-background-inactive-hover: transparent !important;
}

[data-mobrix-ui-id="form"][data-mobrix-ui-background="false"] {
  --mobrix-ui-computed-form-background: transparent !important;
}
