[data-mbx-id="form-field"] {
  --mobrix-ui-counterbox-background: var(
    --mbx-c-field-bg
  );
  --mobrix-ui-counterbox-text-color: var(
    --mbx-c-field-txt
  );
  --mobrix-ui-counterbox-background-hover: var(
    --mbx-c-field-bg-h
  );
  --mobrix-ui-counterbox-text-color-hover: var(
    --mbx-c-field-txt-h
  );

  --mobrix-ui-checkbox-background: var(
    --mbx-c-field-bg
  );
  --mobrix-ui-checkbox-text-color: var(
    --mbx-c-field-txt
  );
  --mobrix-ui-checkbox-background-hover: var(
    --mbx-c-field-bg-h
  );
  --mobrix-ui-checkbox-text-color-hover: var(
    --mbx-c-field-txt-h
  );

  --mobrix-ui-inputbox-background: var(
    --mbx-c-field-bg
  );
  --mobrix-ui-inputbox-text-color: var(
    --mbx-c-field-txt
  );
  --mobrix-ui-inputbox-background-hover: var(
    --mbx-c-field-bg-h
  );
  --mobrix-ui-inputbox-text-color-hover: var(
    --mbx-c-field-txt-h
  );

  --mobrix-ui-radio-background: var(
    --mbx-c-field-bg-l
  );
  --mobrix-ui-radio-background-hover: var(
    --mbx-c-field-bg-h
  );

  --mobrix-ui-rater-background: var(--mbx-c-field-bg);
  --mobrix-ui-rater-background-hover: var(
    --mbx-c-field-bg-h
  );

  --mobrix-ui-slider-background: var(--mbx-c-field-bg);

  --mobrix-ui-toggle-background: var(--mbx-c-field-bg);
}

[data-mbx-id="modal"]
  > [data-mbx-class="modal-window"]
  > [data-mbx-class="header"] {
  --mobrix-ui-dismissablecard-x-color: var(--mbx-c-mod-x);
  --mobrix-ui-dismissablecard-x-color-hover: var(
    --mbx-c-mod-x-h
  );
}
