[data-mobrix-ui-id="form-field"] {
  --mobrix-ui-counterbox-background: var(
    --mobrix-ui-computed-formfield-background
  );
  --mobrix-ui-counterbox-text-color: var(
    --mobrix-ui-computed-formfield-text-color
  );
  --mobrix-ui-counterbox-background-hover: var(
    --mobrix-ui-computed-formfield-background-hover
  );
  --mobrix-ui-counterbox-text-color-hover: var(
    --mobrix-ui-computed-formfield-text-color-hover
  );

  --mobrix-ui-checkbox-background: var(
    --mobrix-ui-computed-formfield-background
  );
  --mobrix-ui-checkbox-text-color: var(
    --mobrix-ui-computed-formfield-text-color
  );
  --mobrix-ui-checkbox-background-hover: var(
    --mobrix-ui-computed-formfield-background-hover
  );
  --mobrix-ui-checkbox-text-color-hover: var(
    --mobrix-ui-computed-formfield-text-color-hover
  );

  --mobrix-ui-inputbox-background: var(
    --mobrix-ui-computed-formfield-background
  );
  --mobrix-ui-inputbox-text-color: var(
    --mobrix-ui-computed-formfield-text-color
  );
  --mobrix-ui-inputbox-background-hover: var(
    --mobrix-ui-computed-formfield-background-hover
  );
  --mobrix-ui-inputbox-text-color-hover: var(
    --mobrix-ui-computed-formfield-text-color-hover
  );

  --mobrix-ui-radio-background: var(
    --mobrix-ui-computed-formfield-background-light
  );
  --mobrix-ui-radio-background-hover: var(
    --mobrix-ui-computed-formfield-background-hover
  );

  --mobrix-ui-rater-background: var(--mobrix-ui-computed-formfield-background);
  --mobrix-ui-rater-background-hover: var(
    --mobrix-ui-computed-formfield-background-hover
  );

  --mobrix-ui-slider-background: var(--mobrix-ui-computed-formfield-background);

  --mobrix-ui-toggle-background: var(--mobrix-ui-computed-formfield-background);
}

[data-mobrix-ui-id="modal"]
  > [data-mobrix-ui-class="modal-window"]
  > [data-mobrix-ui-class="header"] {
  --mobrix-ui-dismissablecard-x-color: var(--mobrix-ui-computed-modal-x-color);
  --mobrix-ui-dismissablecard-x-color-hover: var(
    --mobrix-ui-computed-modal-x-color-hover
  );
}
