[data-mbx-id="dpick"] {
  --mbx-calendar-background-light: var(
    --mbx-datepicker-calendar-background-light,
    var(--mbx-datepicker-calendar-background)
  );
  --mbx-calendar-text-color-light: var(
    --mbx-datepicker-calendar-text-color-light,
    var(--mbx-datepicker-text-color)
  );
  --mbx-calendar-arrow-light: var(
    --mbx-datepicker-calendar-arrow-light,
    var(--mbx-datepicker-calendar-arrow, white)
  );
  --mbx-calendar-background-hover-light: var(
    --mbx-datepicker-calendar-background-hover-light,
    var(--mbx-datepicker-calendar-background-hover)
  );
  --mbx-calendar-text-color-hover-light: var(
    --mbx-datepicker-calendar-text-color-hover-light,
    var(--mbx-datepicker-calendar-text-color-hover)
  );
  --mbx-calendar-arrow-hover-light: var(
    --mbx-datepicker-calendar-arrow-hover-light,
    var(--mbx-datepicker-calendar-arrow-hover)
  );
  --mbx-calendar-selected-background-light: var(
    --mbx-datepicker-calendar-background-selected-light,
    var(--mbx-datepicker-calendar-background-selected)
  );
  --mbx-calendar-selected-text-color-light: var(
    --mbx-datepicker-calendar-text-color-selected-light,
    var(--mbx-datepicker-calendar-text-color-selected)
  );
  --mbx-modal-background-light: var(
    --mbx-datepicker-modal-background-light,
    var(--mbx-datepicker-modal-background)
  );
  --mbx-modal-x-color-light: var(
    --mbx-datepicker-modal-x-color-light,
    var(--mbx-datepicker-modal-x-color)
  );
  --mbx-modal-x-color-hover-light: var(
    --mbx-datepicker-modal-x-color-hover-light,
    var(--mbx-datepicker-modal-x-color-hover)
  );
  --mbx-calendar-today-light: var(
    --mbx-datepicker-calendar-today-light,
    var(--mbx-datepicker-calendar-today)
  );

  --mbx-calendar-background-dark: var(
    --mbx-datepicker-calendar-background-dark,
    var(--mbx-datepicker-calendar-background)
  );
  --mbx-calendar-text-color-dark: var(
    --mbx-datepicker-calendar-text-color-dark,
    var(--mbx-datepicker-text-color)
  );
  --mbx-calendar-arrow-dark: var(
    --mbx-datepicker-calendar-arrow-dark,
    var(--mbx-datepicker-calendar-arrow, white)
  );
  --mbx-calendar-arrow-hover-dark: var(
    --mbx-datepicker-calendar-arrow-hover-dark,
    var(--mbx-datepicker-calendar-arrow-hover)
  );
  --mbx-calendar-selected-background-dark: var(
    --mbx-datepicker-calendar-background-selected-dark,
    var(--mbx-datepicker-calendar-background-selected)
  );
  --mbx-calendar-selected-text-color-dark: var(
    --mbx-datepicker-calendar-text-color-selected-dark,
    var(--mbx-datepicker-calendar-text-color-selected)
  );
  --mbx-modal-background-dark: var(
    --mbx-datepicker-modal-background-dark,
    var(--mbx-modal-background)
  );
  --mbx-modal-x-color-dark: var(
    --mbx-datepicker-modal-x-color-dark,
    var(--mbx-datepicker-modal-x-color)
  );
  --mbx-modal-x-color-hover-dark: var(
    --mbx-datepicker-modal-x-color-hover-dark,
    var(--mbx-datepicker-modal-x-color-hover)
  );
  --mbx-calendar-background-hover-dark: var(
    --mbx-datepicker-calendar-background-hover-dark,
    var(--mbx-datepicker-calendar-background-hover)
  );
  --mbx-calendar-text-color-hover-dark: var(
    --mbx-datepicker-calendar-text-color-hover-dark,
    var(--mbx-datepicker-calendar-text-color-hover)
  );
  --mbx-calendar-today-dark: var(
    --mbx-datepicker-calendar-today-dark,
    var(--mbx-datepicker-calendar-today)
  );
}

[data-mbx-id="form"] > div {
  --mbx-formfield-background-light: var(
    --mbx-form-formfield-background-light,
    var(--mbx-form-formfield-background)
  );
  --mbx-formfield-background-dark: var(
    --mbx-form-formfield-background-dark,
    var(--mbx-form-formfield-background)
  );
  --mbx-formfield-text-color-light: var(
    --mbx-form-formfield-text-color-light,
    var(--mbx-form-formfield-text-color)
  );
  --mbx-formfield-text-color-dark: var(
    --mbx-form-formfield-text-color-dark,
    var(--mbx-form-formfield-text-color)
  );
  --mbx-formfield-background-hover-light: var(
    --mbx-form-formfield-background-hover-light,
    var(--mbx-form-formfield-background-hover)
  );
  --mbx-formfield-background-hover-dark: var(
    --mbx-form-formfield-background-hover-dark,
    var(--mbx-form-formfield-background-hover)
  );
  --mbx-formfield-text-color-hover-light: var(
    --mbx-form-formfield-text-color-hover-light,
    var(--mbx-form-formfield-text-color-hover)
  );
  --mbx-formfield-text-color-hover-dark: var(
    --mbx-form-formfield-text-color-hover-dark,
    var(--mbx-form-formfield-text-color-hover)
  );
}
