[data-mbx-id="date-picker"] {
  --mbx-calendar-background-light: var(--mbx-c-dtp-cal-bg-l);
  --mbx-calendar-background-dark: var(--mbx-c-dtp-cal-bg-d);
  --mbx-calendar-text-color-light: var(--mbx-c-dtp-cal-txt-l);
  --mbx-calendar-text-color-dark: var(--mbx-c-dtp-cal-txt-d);
  --mbx-calendar-arrow-light: var(--mbx-c-dtp-cal-arr-l);
  --mbx-calendar-arrow-dark: var(--mbx-c-dtp-cal-arr-d);
  --mbx-calendar-arrow-hover-light: var(--mbx-c-dtp-cal-arr-h-l);
  --mbx-calendar-selected-background-light: var(--mbx-c-dtp-cal-s-bg-l);
  --mbx-calendar-selected-background-dark: var(--mbx-c-dtp-cal-s-bg-d);
  --mbx-calendar-selected-text-color-light: var(--mbx-c-dtp-cal-s-txt-l);
  --mbx-calendar-selected-text-color-dark: var(--mbx-c-dtp-cal-s-txt-d);
  --mbx-modal-background-light: var(--mbx-c-dtp-mod-bg-l);
  --mbx-modal-background-dark: var(--mbx-c-dtp-mod-bg-d);
  --mbx-modal-x-color-light: var(--mbx-c-dtp-mod-x-l);
  --mbx-modal-x-color-dark: var(--mbx-c-dtp-mod-x-d);
  --mbx-modal-x-color-hover-light: var(--mbx-c-dtp-mod-x-h-l);
  --mbx-modal-x-color-hover-dark: var(--mbx-c-dtp-mod-x-h-d);
}

[data-mbx-id="form"] [data-mbx-scl*="f-field"] {
  --mbx-formfield-background-light: var(--mbx-c-form-field-bg-l);
  --mbx-formfield-background-dark: var(--mbx-c-form-field-bg-d);
  --mbx-formfield-text-color-light: var(--mbx-c-form-field-txt-l);
  --mbx-formfield-text-color-dark: var(--mbx-c-form-field-txt-d);
  --mbx-formfield-background-hover-light: var(--mbx-c-form-field-bg-h-l);
  --mbx-formfield-background-hover-dark: var(--mbx-c-form-field-bg-h-d);
  --mbx-formfield-text-color-hover-light: var(--mbx-c-form-field-txt-h-l);
  --mbx-formfield-text-color-hover-dark: var(--mbx-c-form-field-txt-h-d);
}
