[data-mbx-id="inp"] {
  --mbx-bg-l: var(
    --mbx-inputbox-background-light,
    var(--mbx-inputbox-background)
  );
  --mbx-txt-l: var(
    --mbx-inputbox-text-color-light,
    var(--mbx-inputbox-text-color)
  );
  --mbx-bg-d: var(
    --mbx-inputbox-background-dark,
    var(--mbx-inputbox-background)
  );
  --mbx-txt-d: var(
    --mbx-inputbox-text-color-dark,
    var(--mbx-inputbox-text-color)
  );
  --mbx-bg-h-l: var(
    --mbx-inputbox-background-hover-light,
    var(--mbx-inputbox-background-hover, var(--mbx-c-bgc-h))
  );
  --mbx-txt-h-l: var(
    --mbx-inputbox-text-color-hover-light,
    var(--mbx-inputbox-text-color-hover, var(--mbx-c-txt-h))
  );
  --mbx-bg-h-d: var(
    --mbx-inputbox-background-hover-dark,
    var(--mbx-inputbox-background-hover, var(--mbx-c-bgc-h))
  );
  --mbx-txt-h-d: var(
    --mbx-inputbox-text-color-hover-dark,
    var(--mbx-inputbox-text-color-hover, var(--mbx-c-txt-h))
  );
}
