[data-mbx-id="inp"] {
  --mbx-defbg: var(--mbx-inputbox-background);
  --mbx-deftxt: var(--mbx-inputbox-text);
  --mbx-defbgh: var(--mbx-inputbox-background-hover);
  --mbx-deftxth: var(--mbx-inputbox-text-hover);
  --mbx-bg-l: var(--mbx-inputbox-background-light);
  --mbx-txt-l: var(--mbx-inputbox-text-light);
  --mbx-bg-d: var(--mbx-inputbox-background-dark);
  --mbx-txt-d: var(--mbx-inputbox-text-dark);
  --mbx-bg-h-l: var(--mbx-inputbox-background-hover-light);
  --mbx-txt-h-l: var(--mbx-inputbox-text-hover-light);
  --mbx-bg-h-d: var(--mbx-inputbox-background-hover-dark);
  --mbx-txt-h-d: var(--mbx-inputbox-text-hover-dark);
}
