#mobrix-ui-drawer {
  position: fixed;
  z-index: 10;
  width: auto;
  padding: 0.5rem;
  background-image: var(--mobrix-ui-background);
  overflow: auto;
  color: var(--mobrix-ui-text-color);
  animation: var(--mobrix-ui-drawer-animation);
  -moz-animation: var(--mobrix-ui-drawer-animation);
  -ms-animation: var(--mobrix-ui-drawer-animation);
  -o-animation: var(--mobrix-ui-drawer-animation);
}

#mobrix-ui-drawer.left,
#mobrix-ui-drawer.right {
  top: 0;
  bottom: 0;
}

#mobrix-ui-drawer.top,
#mobrix-ui-drawer.bottom {
  left: 0;
  right: 0;
}

#mobrix-ui-drawer.top,
#mobrix-ui-drawer.top-left,
#mobrix-ui-drawer.top-right {
  --mobrix-ui-drawer-animation-in: slideTop 0.3s forwards;
  --mobrix-ui-drawer-animation-out: slideOutTop 0.3s forwards;
  bottom: auto;
  top: 0;
}

#mobrix-ui-drawer.bottom,
#mobrix-ui-drawer.bottom-left,
#mobrix-ui-drawer.bottom-right {
  --mobrix-ui-drawer-animation-in: slideBottom 0.3s forwards;
  --mobrix-ui-drawer-animation-out: slideOutBottom 0.3s forwards;
  top: auto;
  bottom: 0;
}

#mobrix-ui-drawer.top-left,
#mobrix-ui-drawer.bottom-left,
#mobrix-ui-drawer.left {
  right: auto;
  left: 0;
}

#mobrix-ui-drawer.top-right,
#mobrix-ui-drawer.bottom-right,
#mobrix-ui-drawer.right {
  left: auto;
  right: 0;
}

#mobrix-ui-drawer.left {
  --mobrix-ui-drawer-animation-in: slideLeft 0.3s forwards;
  --mobrix-ui-drawer-animation-out: slideOutLeft 0.3s forwards;
}

#mobrix-ui-drawer.right {
  --mobrix-ui-drawer-animation-in: slideRight 0.3s forwards;
  --mobrix-ui-drawer-animation-out: slideOutRight 0.3s forwards;
}

#mobrix-ui-drawer.ease-in {
  --mobrix-ui-drawer-animation: var(--mobrix-ui-drawer-animation-in);
}

#mobrix-ui-drawer.ease-out {
  --mobrix-ui-drawer-animation: var(--mobrix-ui-drawer-animation-out);
}

#mobrix-ui-drawer .elements {
  padding: 0.75rem;
}

#mobrix-ui-drawer .close-button {
  outline: 0 solid transparent;
  outline-offset: 2px;
}

#mobrix-ui-drawer.top .close-button svg,
#mobrix-ui-drawer.top-left .close-button svg,
#mobrix-ui-drawer.top-right .close-button svg {
  transform: rotate(90deg);
}

#mobrix-ui-drawer.bottom .close-button svg,
#mobrix-ui-drawer.bottom-left .close-button svg,
#mobrix-ui-drawer.bottom-right .close-button svg {
  transform: rotate(-90deg);
}

#mobrix-ui-drawer.right .close-button svg {
  transform: rotate(180deg);
}

#mobrix-ui-drawer .close-button:focus {
  outline: 0 solid transparent;
  outline-offset: 2px;
}

#mobrix-ui-drawer .buttons-panel {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: 0.75rem;
}

#mobrix-ui-drawer .element {
  margin: 0.75rem 0.5rem;
}

#mobrix-ui-drawer .element .button {
  display: flex;
  flex-direction: row;
}

#mobrix-ui-drawer .element .button .icon {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

#mobrix-ui-drawer .element .button .text {
  margin: auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

#mobrix-ui-drawer .element .button .active {
  color: rgba(217, 119, 6, 1);
  cursor: default;
}

#mobrix-ui-drawer .element .button .inactive {
  cursor: pointer;
}

#mobrix-ui-drawer .element .button .inactive:hover {
  color: rgba(96, 165, 250, 1);
}

#mobrix-ui-drawer .container-internal {
  display: flex;
  flex-direction: column;
}

#mobrix-ui-drawer .close-button svg {
  fill: var(--mobrix-ui-text-color);
}

#mobrix-ui-drawer .close-button svg:hover {
  fill: rgba(217, 119, 6, 1);
}

@media (hover: none) {
  #mobrix-ui-drawer .close-button:hover svg {
    fill: var(--mobrix-ui-text-color);
  }
}
