[data-mbx-id="econt"] {
  --mbx-econt-bg: var(
    --mbx-expandablecontainer-background-light,
    var(--mbx-expandablecontainer-background, var(--mbx-con-bg))
  );
  --mbx-econt-txt: var(
    --mbx-expandablecontainer-text-color-light,
    var(--mbx-expandablecontainer-text-color, var(--mbx-con-txt))
  );
  background: var(--mbx-econt-bg);
  color: var(--mbx-econt-txt);
}

[data-mbx-id="econt"][data-mbx-dk] {
  --mbx-econt-bg: var(
    --mbx-expandablecontainer-background-dark,
    var(--mbx-expandablecontainer-background, var(--mbx-con-bg))
  );
  --mbx-econt-txt: var(
    --mbx-expandablecontainer-text-color-dark,
    var(--mbx-expandablecontainer-text-color, var(--mbx-con-txt))
  );
}

[data-mbx-id="econt"] > [data-mbx-id="icb"] {
  display: flex;
  flex-direction: column;
  margin: auto;
  rotate: -90deg;
  --mbx-trdur: 0.1s;
}

[data-mbx-id="econt"] > [data-mbx-id="icb"] > [data-mbx-img="arr"] {
  margin-bottom: 0.3rem;
  padding-top: 0.2rem;
  --mbx-icon-light: var(
    --mbx-expandablecontainer-arrow-color-light,
    var(--mbx-expandablecontainer-arrow-color, var(--mbx-econ-txt))
  );
  --mbx-icon-hover-light: var(
    --mbx-expandablecontainer-arrow-color-hover-light,
    var(--mbx-expandablecontainer-arrow-color-hover)
  );
  --mbx-icon-dark: var(
    --mbx-expandablecontainer-arrow-color-dark,
    var(--mbx-expandablecontainer-arrow-color, var(--mbx-econ-txt))
  );
  --mbx-icon-hover-dark: var(
    --mbx-expandablecontainer-arrow-color-hover-dark,
    var(--mbx-expandablecontainer-arrow-color-hover)
  );
}
