[data-mbx-id="expandable-container"][data-mbx-compact="true"]
  [data-mbx-class="expanded-area"] {
  max-height: 0;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
}
[data-mbx-id="expandable-container"][data-mbx-compact="false"]
  [data-mbx-class="expanded-area"] {
  max-height: 100vh;
  transition: max-height 0.3s ease-in;
  overflow: hidden;
}

[data-mbx-id="expandable-container"] [data-mbx-class="container-arrow-button"] {
  display: flex;
  flex-direction: column;
  margin: auto;
}

[data-mbx-id="expandable-container"] [data-mbx-class="arrow"] {
  margin-bottom: 0.3rem;
  padding-top: 0.2rem;
  transition: all 0.2s;
  outline: none;
}

[data-mbx-id="expandable-container"][data-mbx-a11y="true"]
  [data-mbx-class="container-arrow-button"]:focus-visible {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

[data-mbx-id="expandable-container"][data-mbx-compact="false"]
  [data-mbx-class="arrow"] {
  transform: rotate(0deg);
}

[data-mbx-id="expandable-container"][data-mbx-compact="true"]
  [data-mbx-class="arrow"] {
  transform: rotate(180deg);
}
