[data-mbx-id="icon-button"] {
  align-items: center;
  width: fit-content;
  border: 0;
  background: transparent;
  -webkit-tap-highlight-color: transparent;
}

[data-mbx-id="icon-button"][data-mbx-enabled="false"] {
  cursor: unset;
}
