[data-mbx-id="icon-button"] {
  align-items: center;
  border: 0;
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

[data-mbx-id="icon-button"]:focus {
  outline: none;
}

[data-mbx-id="icon-button"][data-mbx-atts*="dsb"] {
  cursor: unset;
}
