[data-mobrix-ui-id="toggle"] {
  width: 65px;
  height: 30px;
}

[data-mobrix-ui-id="toggle"][data-mobrix-ui-styled="true"] {
  background-image: var(--mobrix-ui-background);
  border-radius: 14px;
  border-width: 0;
}

[data-mobrix-ui-id="toggle"][data-mobrix-ui-styled="true"].off {
  background-image: linear-gradient(to right, rgb(219, 217, 217), #b9b9b9);
}

[data-mobrix-ui-id="toggle"][data-mobrix-ui-styled="true"][data-mobrix-ui-dark="true"].off {
  background-image: linear-gradient(to right, #1e2531, #1d232e);
}

[data-mobrix-ui-id="toggle"] .toggle-icon {
  overflow: hidden;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
}

[data-mobrix-ui-id="toggle"] .toggle-icon.flip-back {
  transform: translate(0%);

  --svginternalcolor: white;
  --svgexternalcolor: #7a7878;
}

[data-mobrix-ui-id="toggle"] .toggle-icon.flip {
  transform: translate(35px);

  --svginternalcolor: #a5a5a5;
  --svgexternalcolor: #7a7878;
}

[data-mobrix-ui-id="toggle"][data-mobrix-ui-dark="true"] .toggle-icon.flip-back {
  --svginternalcolor: white;
  --svgexternalcolor: #a7a3a3;
}

[data-mobrix-ui-id="toggle"][data-mobrix-ui-dark="true"] .toggle-icon.flip {
  --svginternalcolor: #636363;
  --svgexternalcolor: #a7a3a3;
}

[data-mobrix-ui-id="toggle"] .toggle-icon .wrapper {
  opacity: 0.2;
}

[data-mobrix-ui-id="toggle"] .toggle-icon .external {
  background-color: var(--svgexternalcolor);
  fill: var(--svgexternalcolor);
}

[data-mobrix-ui-id="toggle"] .toggle-icon .internal {
  fill: var(--svgexternalcolor);
  stroke: var(--svginternalcolor);
  stroke-width: 4;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
