[data-mobrix-ui-id="review"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.6rem;
  background-image: var(--mobrix-ui-background);
  color: var(--mobrix-ui-text-color);
  border-radius: 3px;
}

[data-mobrix-ui-id="review"] .review-photo,
[data-mobrix-ui-id="review"] .review-photo img {
  border-radius: 9999px;
}

[data-mobrix-ui-id="review"] .review-url-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

[data-mobrix-ui-id="review"] .review-info-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.4rem;
}

[data-mobrix-ui-id="review"] .review-user-info {
  display: flex;
  flex-direction: row;
}

[data-mobrix-ui-id="review"] .review-user-info .review-username {
  margin-left: 0.5rem;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-top: auto;
  margin-bottom: auto;
}

[data-mobrix-ui-id="review"] .review-info-box .review-description {
  margin-left: 0.5rem;
  margin-top: 1rem;
  overflow-wrap: break-word;
}

[data-mobrix-ui-id="review"] .review-url-container .default-icon,
[data-mobrix-ui-id="review"] .review-url-container .github-icon {
  fill: grey;
}

[data-mobrix-ui-id="review"][data-mobrix-ui-dark="true"] .review-url-container .default-icon,
[data-mobrix-ui-id="review"][data-mobrix-ui-dark="true"] .review-url-container .github-icon {
  fill: white;
}
