[data-mbx-id="review"] {
  align-items: center;
  padding: 0.6rem;
  background: var(--mbx-c-rev-bg);
  color: var(--mbx-c-rev-txt);
  border-radius: 3px;
}

[data-mbx-id="review"] [data-mbx-scl*="rev-ph"],
[data-mbx-id="review"] [data-mbx-scl*="rev-ph"] img {
  border-radius: 9999px;
}

[data-mbx-id="review"] [data-mbx-scl*="rev-url-c"] {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

[data-mbx-id="review"] [data-mbx-scl*="rev-inf-b"] {
  margin-bottom: 0.4rem;
}

[data-mbx-id="review"]
  [data-mbx-scl*="rev-inf-b"]
  [data-mbx-scl*="rev-us-name"] {
  margin-left: 0.5rem;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-top: auto;
  margin-bottom: auto;
}

[data-mbx-id="review"] [data-mbx-scl*="rev-inf-b"] [data-mbx-scl*="rev-ds"] {
  margin-top: 1rem;
  overflow-wrap: break-word;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

[data-mbx-id="review"]
  [data-mbx-scl*="rev-url-c"]
  [data-mbx-class="default-icon"] {
  fill: var(--mbx-c-rev-link);
}

[data-mbx-id="review"]
  [data-mbx-scl*="rev-url-c"]
  [data-mbx-class="github-icon"] {
  fill: var(--mbx-c-rev-gh);
}
