[data-mbx-id="button"] {
  border: 0;
  background: var(--mbx-c-btn-bg);
  color: var(--mbx-c-btn-txt);
  font-weight: 800;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  display: inline-flex;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

[data-mbx-id="button"][data-mbx-atts*="animated"] {
  transition-duration: 0.1s;
  transition-property: transform;
}

@media (hover) {
  [data-mbx-id="button"][data-mbx-atts*="animated"][data-mbx-atts*="hover"]:hover {
    position: relative;
    transform: scaleX(1.15) scaleY(1.1);
  }
}
