[data-mbx-id="btn"] {
  width: fit-content;
  --mbx-align: center;
  border: 0;
  font-weight: 800;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  display: inline-flex;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --mbx-btn-scale: none;
  --mbx-defbg: var(--mbx-button-background);
  --mbx-defbgh: var(--mbx-button-background-hover);
  --mbx-deftxt: var(--mbx-button-text);
  --mbx-deftxth: var(--mbx-button-text-hover);
  --mbx-bg-l: var(--mbx-button-background-light);
  --mbx-txt-l: var(--mbx-button-text-light);
  --mbx-bg-d: var(--mbx-button-background-dark);
  --mbx-txt-d: var(--mbx-button-text-dark);
  --mbx-bg-h-l: var(--mbx-button-background-hover-light);
  --mbx-txt-h-l: var(--mbx-button-text-hover-light);
  --mbx-bg-h-d: var(--mbx-button-background-hover-dark);
  --mbx-txt-h-d: var(--mbx-button-text-hover-dark);
}

@media (hover) {
  [data-mbx-id="btn"][data-mbx-hv]:hover {
    transform: var(--mbx-btn-scale);
  }
}
