[data-mbx-id] {
  --mbx-c-bg-l: var(
    --mbx-background-light,
    var(--mbx-background, linear-gradient(to right, #fff, #ededee, #e6e7e7))
  );

  --mbx-c-bg-d: var(
    --mbx-background-dark,
    var(--mbx-background, linear-gradient(to right, #2d3748, #1d232e))
  );

  --mbx-c-txt-l: var(--mbx-text-light, var(--mbx-text, #1b1b1b));

  --mbx-c-txt-d: var(--mbx-text-dark, var(--mbx-text, white));
}
