@import url("animation-manager/index.css");

[data-mbx-id] {
  --mbx-op: 1;
  --mbx-sh: 0 5px 13px -1px var(--mbx-c-sh);
  opacity: var(--mbx-op);
  box-shadow: var(--mbx-sh);
  -webkit-box-shadow: var(--mbx-sh);
  -moz-box-shadow: var(--mbx-sh);
  -o-box-shadow: var(--mbx-sh);
}

[data-mbx-id],
[data-mbx-id]:hover,
[data-mbx-id]:active {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

[data-mbx-id]:focus {
  outline: none;
}

@media (hover: hover) {
  [data-mbx-id]:hover {
    opacity: var(--mbx-op-hov, var(--mbx-op));
  }
}

[data-mbx-id]:focus-visible {
  --mbx-sh-tf: 0 5px 13px -1px var(--mbx-sh-fc, var(--mbx-c-sh));
  opacity: var(--mbx-op-f, var(--mbx-op));
  box-shadow: var(--mbx-sh-def, var(--mbx-sh-tf));
  -webkit-box-shadow: var(--mbx-sh-def, var(--mbx-sh-tf));
  -moz-box-shadow: var(--mbx-sh-def, var(--mbx-sh-tf));
  -o-box-shadow: var(--mbx-sh-def, var(--mbx-sh-tf));
}

[data-mbx-id]:active {
  opacity: var(--mbx-op-act, var(--mbx-op));
}

[data-mbx-fts*="colFc"]:focus-visible {
  color: var(--mbx-c-fc);
}

[data-mbx-fts*="fillFc"]:focus-visible,
[data-mbx-fts*="fillFc"]:focus-visible svg,
[data-mbx-fts*="fillFc"]:focus-visible svg path {
  fill: var(--mbx-c-fc);
}
