@import url("constants/computed.css");
@import url("animation-manager/index.css");

[data-mbx-id],
[data-mbx-id]:hover,
[data-mbx-id]:active {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

[data-mbx-id]:focus {
  outline: none;
}

[data-mbx-id] [data-mbx-atts*="hide"],
[data-mbx-id][data-mbx-atts*="hide"] {
  display: none !important;
}

[data-mbx-id][data-mbx-atts*="disabled"] {
  opacity: 0.6;
}

[data-mbx-id][data-mbx-atts*="shadow"],
[data-mbx-id] [data-mbx-atts*="shadow"] {
  box-shadow: 0 5px 13px -1px var(--mbx-c-sh);
  -webkit-box-shadow: 0 5px 13px -1px var(--mbx-c-sh);
  -moz-box-shadow: 0 5px 13px -1px var(--mbx-c-sh);
  -o-box-shadow: 0 5px 13px -1px var(--mbx-c-sh);
}

[data-mbx-id]:not([data-mbx-atts*="background"]),
[data-mbx-id]:not([data-mbx-atts*="background"]):hover {
  --mbx-c-bg: transparent;
  --mbx-c-bgc: transparent;
}

@media (hover: hover) {
  [data-mbx-id][data-mbx-atts*="a11y"]:focus-visible {
    box-shadow: 0 5px 13px -1px var(--mbx-c-fc);
    -webkit-box-shadow: 0 5px 13px -1px var(--mbx-c-fc);
    -moz-box-shadow: 0 5px 13px -1px var(--mbx-c-fc);
    -o-box-shadow: 0 5px 13px -1px var(--mbx-c-fc);
  }

  [data-mbx-id][data-mbx-fts*="opHov"]:hover,
  [data-mbx-id] [data-mbx-fts*="opHov"]:hover {
    opacity: 0.7;
  }
}

[data-mbx-id][data-mbx-fts*="opAct"]:active,
[data-mbx-id] [data-mbx-fts*="opAct"]:active {
  opacity: 0.3;
}

[data-mbx-id][data-mbx-fts*="colFc"]:focus-visible,
[data-mbx-id] [data-mbx-fts*="colFc"]:focus-visible {
  color: var(--mbx-c-fc);
}

[data-mbx-id][data-mbx-fts*="noShFc"]:focus-visible,
[data-mbx-id] [data-mbx-fts*="noShFc"]:focus-visible {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

[data-mbx-id][data-mbx-fts*="fillFc"]:focus-visible,
[data-mbx-id][data-mbx-fts*="fillFc"]:focus-visible svg,
[data-mbx-id] [data-mbx-fts*="fillFc"]:focus-visible,
[data-mbx-id] [data-mbx-fts*="fillFc"]:focus-visible svg {
  fill: var(--mbx-c-fc);
}
