@import url("constants/computed.css");
@import url("animations.css");

[data-mbx-id],
[data-mbx-id]:hover,
[data-mbx-id]:active {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

[data-mbx-id]:focus {
  outline: none;
}

[data-mbx-id] [data-mbx-atts*="hide"],
[data-mbx-id][data-mbx-atts*="hide"] {
  display: none !important;
}

[data-mbx-id][data-mbx-atts*="animated"][data-mbx-fts*="anim-fade-in"],
[data-mbx-id][data-mbx-atts*="animated"]
  [data-mbx-atts*="animated"][data-mbx-fts*="anim-fade-in"] {
  animation: fadein 0.4s;
  -webkit-animation: fadein 0.4s;
  -moz-animation: fadein 0.4s;
  -ms-animation: fadein 0.4s;
  -o-animation: fadein 0.4s;
}

[data-mbx-id][data-mbx-atts*="animated"][data-mbx-fts*="anim-slide-in-left"],
[data-mbx-id][data-mbx-atts*="animated"]
  [data-mbx-atts*="animated"][data-mbx-fts*="anim-slide-in-left"] {
  animation: slideLeft 0.4s;
  -webkit-animation: slideLeft 0.4s;
  -moz-animation: slideLeft 0.4s;
  -ms-animation: slideLeft 0.4s;
  -o-animation: slideLeft 0.4s;
}

[data-mbx-id][data-mbx-atts*="animated"][data-mbx-fts*="anim-slide-in-right"],
[data-mbx-id][data-mbx-atts*="animated"]
  [data-mbx-atts*="animated"][data-mbx-fts*="anim-slide-in-right"] {
  animation: slideRight 0.4s;
  -webkit-animation: slideRight 0.4s;
  -moz-animation: slideRight 0.4s;
  -ms-animation: slideRight 0.4s;
  -o-animation: slideRight 0.4s;
}

[data-mbx-id][data-mbx-atts*="animated"][data-mbx-fts*="anim-slide-in-top"],
[data-mbx-id][data-mbx-atts*="animated"]
  [data-mbx-atts*="animated"][data-mbx-fts*="anim-slide-in-top"] {
  animation: slideTop 0.4s;
  -webkit-animation: slideTop 0.4s;
  -moz-animation: slideTop 0.4s;
  -ms-animation: slideTop 0.4s;
  -o-animation: slideTop 0.4s;
}

[data-mbx-id][data-mbx-atts*="animated"][data-mbx-fts*="anim-fade-out"],
[data-mbx-id][data-mbx-atts*="animated"] [data-mbx-fts*="anim-fade-out"] {
  animation: fadeOut 0.3s;
  -webkit-animation: fadeOut 0.3s;
  -moz-animation: fadeOut 0.3s;
  -ms-animation: fadeOut 0.3s;
  -o-animation: fadeOut 0.3s;
}

[data-mbx-id][data-mbx-atts*="disabled"] {
  opacity: 0.6;
}

[data-mbx-id][data-mbx-atts*="animated"][data-mbx-fts*="anim-shake"],
[data-mbx-id][data-mbx-atts*="animated"] [data-mbx-fts*="anim-shake"] {
  animation: shake 0.5s;
  -webkit-animation: shake 0.5s;
  -moz-animation: shake 0.5s;
  -ms-animation: shake 0.5s;
  -o-animation: shake 0.5s;
  animation-iteration-count: 1;
}

[data-mbx-id][data-mbx-atts*="shadow"],
[data-mbx-id] [data-mbx-atts*="shadow"] {
  box-shadow: 0 5px 13px -1px var(--mbx-c-sh);
  -webkit-box-shadow: 0 5px 13px -1px var(--mbx-c-sh);
  -moz-box-shadow: 0 5px 13px -1px var(--mbx-c-sh);
  -o-box-shadow: 0 5px 13px -1px var(--mbx-c-sh);
}

[data-mbx-id]:not([data-mbx-atts*="background"]),
[data-mbx-id]:not([data-mbx-atts*="background"]):hover {
  --mbx-c-bg: transparent;
  --mbx-c-bgc: transparent;
}

@media (hover: hover) {
  [data-mbx-id][data-mbx-atts*="a11y"]:focus-visible {
    box-shadow: 0 5px 13px -1px var(--mbx-c-fc);
    -webkit-box-shadow: 0 5px 13px -1px var(--mbx-c-fc);
    -moz-box-shadow: 0 5px 13px -1px var(--mbx-c-fc);
    -o-box-shadow: 0 5px 13px -1px var(--mbx-c-fc);
  }

  [data-mbx-id][data-mbx-fts*="opHov"]:hover,
  [data-mbx-id] [data-mbx-fts*="opHov"]:hover {
    opacity: 0.7;
  }
}

[data-mbx-id][data-mbx-fts*="opAct"]:active,
[data-mbx-id] [data-mbx-fts*="opAct"]:active {
  opacity: 0.3;
}

[data-mbx-id][data-mbx-fts*="colFc"]:focus-visible,
[data-mbx-id] [data-mbx-fts*="colFc"]:focus-visible {
  color: var(--mbx-c-fc);
}

[data-mbx-id][data-mbx-fts*="noShFc"]:focus-visible,
[data-mbx-id] [data-mbx-fts*="noShFc"]:focus-visible {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

[data-mbx-id][data-mbx-fts*="fillFc"]:focus-visible,
[data-mbx-id][data-mbx-fts*="fillFc"]:focus-visible svg,
[data-mbx-id] [data-mbx-fts*="fillFc"]:focus-visible,
[data-mbx-id] [data-mbx-fts*="fillFc"]:focus-visible svg {
  fill: var(--mbx-c-fc);
}
