[data-mbx-img] {
  --mbx-ic-c: var(--mbx-icon-light, var(--mbx-icon, var(--mbx-c-txt)));
  --mbx-ic-c-h: var(--mbx-icon-hover-light, var(--mbx-icon-hover));
  fill: var(--mbx-ic-c);
}

[data-mbx-img][data-mbx-dk] {
  --mbx-ic-c: var(--mbx-icon-dark, var(--mbx-icon, var(--mbx-c-txt)));
  --mbx-ic-c-h: var(--mbx-icon-hover-dark, var(--mbx-icon-hover));
}

[data-mbx-id="icb"]:focus-visible > [data-mbx-img],
[data-mbx-id="icb"]:focus-visible > [data-mbx-img] path {
  --mbx-ic-f: var(--mbx-c-fc);
  fill: var(--mbx-ic-f);
}

[data-mbx-id="icb"]:active > svg {
  opacity: var(--mbx-op-act);
}

@media (hover: hover) {
  [data-mbx-img][data-mbx-hv]:hover {
    fill: var(--mbx-ic-c-h, var(--mbx-ic-c));
  }
}
