[data-mbx-img] {
  --mbx-def-ic: var(--mbx-c-txt);
  --mbx-def-ich: var(--mbx-c-txt-h);
  --mbx-icc: var(--mbx-icon-light, var(--mbx-icon));
  --mbx-ic-c: var(--mbx-icc, var(--mbx-def-ic));
  --mbx-ic-ch: var(--mbx-icon-hover-light, var(--mbx-icon-hover));
  --mbx-ic-op: 1;
  opacity: var(--mbx-ic-op);
}

[data-mbx-id][data-mbx-dk] > [data-mbx-img] {
  --mbx-icc: var(--mbx-icon-dark, var(--mbx-icon));
  --mbx-ic-ch: var(--mbx-icon-hover-dark, var(--mbx-icon-hover));
}

[data-mbx-id]:focus-visible > [data-mbx-img],
[data-mbx-id]:focus-visible > [data-mbx-img] path {
  --mbx-ic-f: var(--mbx-c-fc);
  --mbx-ic-c: var(--mbx-ic-f);
}

[data-mbx-id]:active > svg {
  opacity: var(--mbx-op-act);
}

[data-mbx-id][data-mbx-hv] > [data-mbx-img] {
  --mbx-ic-h: var(--mbx-ic-ch);
}

[data-mbx-id][data-mbx-dsb] > [data-mbx-img] {
  --mbx-ic-op: 0.6;
  --mbx-op-act: 0.6;
  --mbx-ic-h: var(--mbx-icc);
}

@media (hover: hover) {
  [data-mbx-id][data-mbx-hv]:hover > [data-mbx-img] {
    --mbx-ic-c: var(--mbx-ic-h, var(--mbx-icc, var(--mbx-def-ich)));
  }
}
