[data-mbx-scl*="flxc"] {
  display: flex;
  flex-direction: column;
}

[data-mbx-scl*="flxr"] {
  display: flex;
  flex-direction: row;
}

[data-mbx-scl*="flxcr"] {
  display: flex;
  flex-direction: column-reverse;
}

[data-mbx-scl*="flxrr"] {
  display: flex;
  flex-direction: row-reverse;
}

[data-mbx-scl*="wfit"] {
  width: fit-content;
}

[data-mbx-scl*="act"] {
  align-items: center;
  text-align: center;
}

[data-mbx-scl*="mauto"] {
  margin: auto;
}

[data-mbx-scl*="nout"],
[data-mbx-scl*="nout"]:focus-visible {
  outline: none;
}

[data-mbx-scl*="myauto"] {
  margin-top: auto;
  margin-bottom: auto;
}
