[data-mbx-scl*="flxc"] {
  display: flex;
  flex-direction: column;
}

[data-mbx-scl*="flxr"] {
  display: flex;
  flex-direction: row;
}

[data-mbx-scl*="flxcr"] {
  display: flex;
  flex-direction: column-reverse;
}

[data-mbx-scl*="flxrr"] {
  display: flex;
  flex-direction: row-reverse;
}

[data-mbx-scl*="wfit"] {
  width: fit-content;
}

[data-mbx-scl*="act"] {
  align-items: center;
  text-align: center;
}

[data-mbx-scl*="mauto"] {
  margin: auto;
}

[data-mbx-scl*="nout"],
[data-mbx-scl*="nout"]:focus-visible {
  outline: none;
}

[data-mbx-scl*="myauto"] {
  margin-top: auto;
  margin-bottom: auto;
}

[data-mbx-scl*="mxauto"] {
  margin-left: auto;
  margin-right: auto;
}

[data-mbx-scl*="nosel"]:first-child {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[data-mbx-scl*="wfu"] {
  width: 100%;
}

[data-mbx-scl*="ovhid"] {
  overflow: hidden;
}

[data-mbx-scl*="bdtran"] {
  border-color: transparent;
}
