#mobrix-ui-ratebox {
  display: flex;
  align-items: center;
}

#mobrix-ui-ratebox.styled {
  background: var(--mobrix-ui-background);
  border-radius: 8px;
  padding: 0.4rem;
}

#mobrix-ui-ratebox.horizontal {
  flex-direction: row;
}

#mobrix-ui-ratebox.vertical {
  flex-direction: column;
}

#mobrix-ui-ratebox .icon {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
