@import url("default.css");

[data-mbx-id] {
  /* Card */
  --mbx-c-card-bg-l: var(
    --mbx-card-background-light,
    var(--mbx-card-background, var(--mbx-d-card-bg-l))
  );
  --mbx-c-card-bg-d: var(
    --mbx-card-background-dark,
    var(--mbx-card-background, var(--mbx-d-card-bg-d))
  );
  --mbx-c-card-txt-l: var(
    --mbx-card-text-color-light,
    var(--mbx-card-text-color, var(--mbx-c-txt-l))
  );
  --mbx-c-card-txt-d: var(
    --mbx-card-text-color-dark,
    var(--mbx-card-text-color, var(--mbx-c-txt-d))
  );

  /** Carousel **/
  --mbx-c-car-bg-l: var(
    --mbx-carousel-background-light,
    var(--mbx-carousel-background, var(--mbx-c-bg-l))
  );
  --mbx-c-car-bg-d: var(
    --mbx-carousel-background-dark,
    var(--mbx-carousel-background, var(--mbx-c-bg-d))
  );
  --mbx-c-car-arr-l: var(
    --mbx-carousel-arrow-color-light,
    var(--mbx-carousel-arrow-color, var(--mbx-c-txt-l))
  );
  --mbx-c-car-arr-d: var(
    --mbx-carousel-arrow-color-dark,
    var(--mbx-carousel-arrow-color, var(--mbx-c-txt-d))
  );
  --mbx-c-car-arr-h-l: var(
    --mbx-carousel-arrow-color-hover-light,
    var(--mbx-carousel-arrow-color-hover, var(--mbx-d-car-arr-h-l))
  );
  --mbx-c-car-arr-h-d: var(
    --mbx-carousel-arrow-color-hover-dark,
    var(--mbx-carousel-arrow-color-hover, var(--mbx-d-car-arr-h-d))
  );
  --mbx-c-car-dot-f-l: var(
    --mbx-carousel-dot-full-background-light,
    var(--mbx-carousel-dot-background, var(--mbx-d-car-dot-f-bg))
  );
  --mbx-c-car-dot-f-d: var(
    --mbx-carousel-dot-full-background-dark,
    var(--mbx-carousel-dot-background, var(--mbx-d-car-dot-f-bg))
  );
  --mbx-c-car-dot-e-l: var(
    --mbx-carousel-dot-empty-background-light,
    var(--mbx-carousel-dot-background, var(--mbx-d-car-dot-e-bg))
  );
  --mbx-c-car-dot-e-d: var(
    --mbx-carousel-dot-empty-background-dark,
    var(--mbx-carousel-dot-background, var(--mbx-d-car-dot-e-bg))
  );

  /** Container **/
  --mbx-c-con-bg-l: var(
    --mbx-container-background-light,
    var(--mbx-container-background, var(--mbx-c-bg-l))
  );
  --mbx-c-con-bg-d: var(
    --mbx-container-background-dark,
    var(--mbx-container-background, var(--mbx-c-bg-d))
  );
  --mbx-c-con-txt-l: var(
    --mbx-container-text-color-light,
    var(--mbx-container-text-color, var(--mbx-c-txt-l))
  );
  --mbx-c-con-txt-d: var(
    --mbx-container-text-color-dark,
    var(--mbx-container-text-color, var(--mbx-c-txt-d))
  );

  /* DismissableCard */
  --mbx-c-dcard-bg-l: var(
    --mbx-dismissablecard-background-light,
    var(--mbx-dismissablecard-background, var(--mbx-c-card-bg-l))
  );
  --mbx-c-dcard-bg-d: var(
    --mbx-dismissablecard-background-dark,
    var(--mbx-dismissablecard-background, var(--mbx-c-card-bg-d))
  );
  --mbx-c-dcard-txt-l: var(
    --mbx-dismissablecard-text-color-light,
    var(--mbx-dismissablecard-text-color, var(--mbx-c-card-txt-l))
  );
  --mbx-c-dcard-txt-d: var(
    --mbx-dismissablecard-text-color-dark,
    var(--mbx-dismissablecard-text-color, var(--mbx-c-card-txt-d))
  );
  --mbx-c-dcard-x-l: var(
    --mbx-dismissablecard-x-color-light,
    var(--mbx-dismissablecard-x-color, var(--mbx-c-dcard-txt-l))
  );
  --mbx-c-dcard-x-d: var(
    --mbx-dismissablecard-x-color-dark,
    var(--mbx-dismissablecard-x-color, var(--mbx-c-dcard-txt-d))
  );
  --mbx-c-dcard-x-h-l: var(
    --mbx-dismissablecard-x-color-hover-light,
    var(--mbx-dismissablecard-x-color-hover, var(--mbx-d-dcard-x-h))
  );
  --mbx-c-dcard-x-h-d: var(
    --mbx-dismissablecard-x-color-hover-dark,
    var(--mbx-dismissablecard-x-color-hover, var(--mbx-d-dcard-x-h))
  );

  /* Dropdown */
  --mbx-c-drop-bg-l: var(
    --mbx-dropdown-background-light,
    var(--mbx-dropdown-background, var(--mbx-c-bg-l))
  );
  --mbx-c-drop-bg-d: var(
    --mbx-dropdown-background-dark,
    var(--mbx-dropdown-background, var(--mbx-c-bg-d))
  );
  --mbx-c-drop-bg-h-l: var(
    --mbx-dropdown-background-hover-light,
    var(--mbx-dropdown-background-hover, var(--mbx-c-bg-h-l))
  );
  --mbx-c-drop-bg-h-d: var(
    --mbx-dropdown-background-hover-dark,
    var(--mbx-dropdown-background-hover, var(--mbx-c-bg-h-d))
  );
  --mbx-c-drop-txt-l: var(
    --mbx-dropdown-text-color-light,
    var(--mbx-dropdown-text-color, var(--mbx-c-txt-l))
  );
  --mbx-c-drop-txt-d: var(
    --mbx-dropdown-text-color-dark,
    var(--mbx-dropdown-text-color, var(--mbx-c-txt-d))
  );
  --mbx-c-drop-txt-h-l: var(
    --mbx-dropdown-text-color-hover-light,
    var(--mbx-dropdown-text-color-hover, var(--mbx-c-txt-h-l))
  );
  --mbx-c-drop-txt-h-d: var(
    --mbx-dropdown-text-color-hover-dark,
    var(--mbx-dropdown-text-color-hover, var(--mbx-c-txt-h-d))
  );
  --mbx-c-drop-arr-l: var(
    --mbx-dropdown-arrow-color-light,
    var(--mbx-dropdown-arrow-color, var(--mbx-c-drop-txt-l))
  );
  --mbx-c-drop-arr-d: var(
    --mbx-dropdown-arrow-color-dark,
    var(--mbx-dropdown-arrow-color, var(--mbx-c-drop-txt-d))
  );
  --mbx-c-drop-arr-h-l: var(
    --mbx-dropdown-arrow-color-hover-light,
    var(--mbx-dropdown-arrow-color-hover, var(--mbx-c-drop-arr-l))
  );
  --mbx-c-drop-arr-h-d: var(
    --mbx-dropdown-arrow-color-hover-dark,
    var(--mbx-dropdown-arrow-color-hover, var(--mbx-c-drop-arr-d))
  );

  /** ExpandableContainer **/
  --mbx-c-exp-bg-l: var(
    --mbx-expandablecontainer-background-light,
    var(--mbx-expandablecontainer-background, var(--mbx-c-con-bg-l))
  );
  --mbx-c-exp-bg-d: var(
    --mbx-expandablecontainer-background-dark,
    var(--mbx-expandablecontainer-background, var(--mbx-c-con-bg-d))
  );
  --mbx-c-exp-txt-l: var(
    --mbx-expandablecontainer-text-color-light,
    var(--mbx-expandablecontainer-text-color, var(--mbx-c-con-txt-l))
  );
  --mbx-c-exp-txt-d: var(
    --mbx-expandablecontainer-text-color-dark,
    var(--mbx-expandablecontainer-text-color, var(--mbx-c-con-txt-d))
  );
  --mbx-c-exp-arr-l: var(
    --mbx-expandablecontainer-arrow-color-light,
    var(--mbx-expandablecontainer-arrow-color, var(--mbx-c-exp-txt-l))
  );
  --mbx-c-exp-arr-d: var(
    --mbx-expandablecontainer-arrow-color-dark,
    var(--mbx-expandablecontainer-arrow-color, var(--mbx-c-exp-txt-d))
  );
  --mbx-c-exp-arr-h-l: var(
    --mbx-expandablecontainer-arrow-color-hover-light,
    var(--mbx-expandablecontainer-arrow-color-hover, var(--mbx-c-txt-l))
  );
  --mbx-c-exp-arr-h-d: var(
    --mbx-expandablecontainer-arrow-color-hover-dark,
    var(--mbx-expandablecontainer-arrow-color-hover, var(--mbx-c-txt-d))
  );

  /** FormField **/
  --mbx-c-field-bg-l: var(
    --mbx-formfield-background-light,
    var(--mbx-formfield-background)
  );
  --mbx-c-field-txt-l: var(
    --mbx-formfield-text-color-light,
    var(--mbx-formfield-text-color)
  );
  --mbx-c-field-bg-d: var(
    --mbx-formfield-background-dark,
    var(--mbx-formfield-background)
  );
  --mbx-c-field-txt-d: var(
    --mbx-formfield-text-color-dark,
    var(--mbx-formfield-text-color)
  );
  --mbx-c-field-bg-h-l: var(
    --mbx-formfield-background-hover-light,
    var(--mbx-formfield-background-hover)
  );
  --mbx-c-field-txt-h-l: var(
    --mbx-formfield-text-color-hover-light,
    var(--mbx-formfield-text-color-hover)
  );
  --mbx-c-field-bg-h-d: var(
    --mbx-formfield-background-hover-dark,
    var(--mbx-formfield-background-hover)
  );
  --mbx-c-field-txt-h-d: var(
    --mbx-formfield-text-color-hover-dark,
    var(--mbx-formfield-text-color-hover)
  );
  --mbx-c-field-err-b-l: var(
    --mbx-formfield-error-border-light,
    var(--mbx-formfield-error-border, var(--mbx-d-field-err))
  );
  --mbx-c-field-err-b-d: var(
    --mbx-formfield-error-border-dark,
    var(--mbx-formfield-error-border, var(--mbx-d-field-err))
  );
  --mbx-c-field-err-txt-l: var(
    --mbx-formfield-error-text-light,
    var(--mbx-formfield-error-text, var(--mbx-d-field-err))
  );
  --mbx-c-field-err-txt-d: var(
    --mbx-formfield-error-text-dark,
    var(--mbx-formfield-error-text, var(--mbx-d-field-err))
  );

  /* List */
  --mbx-c-lst-txt-l: var(
    --mbx-list-text-color-light,
    var(--mbx-list-text-color, var(--mbx-c-txt-l))
  );
  --mbx-c-lst-txt-d: var(
    --mbx-list-text-color-dark,
    var(--mbx-list-text-color, var(--mbx-c-txt-d))
  );
  --mbx-c-lst-txt-h-l: var(
    --mbx-list-text-color-hover-light,
    var(--mbx-list-text-color-hover, var(--mbx-c-txt-h-l))
  );
  --mbx-c-lst-txt-h-d: var(
    --mbx-list-text-color-hover-dark,
    var(--mbx-list-text-color-hover, var(--mbx-c-txt-h-d))
  );

  /** Modal **/
  --mbx-c-mod-bg-l: var(
    --mbx-modal-background-light,
    var(--mbx-modal-background, var(--mbx-d-mod-bg))
  );
  --mbx-c-mod-bg-d: var(
    --mbx-modal-background-dark,
    var(--mbx-modal-background, var(--mbx-d-mod-bg))
  );
  --mbx-c-mod-x-l: var(
    --mbx-modal-x-color-light,
    var(--mbx-modal-x-color, var(--mbx-d-mod-x))
  );
  --mbx-c-mod-x-d: var(
    --mbx-modal-x-color-dark,
    var(--mbx-modal-x-color, var(--mbx-d-mod-x))
  );
  --mbx-c-mod-x-h-l: var(
    --mbx-modal-x-color-hover-light,
    var(--mbx-modal-x-color-hover)
  );
  --mbx-c-mod-x-h-d: var(
    --mbx-modal-x-color-hover-dark,
    var(--mbx-modal-x-color-hover)
  );

  /** Popup **/
  --mbx-c-pop-bg-l: var(
    --mbx-popup-background-light,
    var(--mbx-popup-background, var(--mbx-c-bg-l))
  );
  --mbx-c-pop-bg-d: var(
    --mbx-popup-background-dark,
    var(--mbx-popup-background, var(--mbx-c-bg-d))
  );
  --mbx-c-pop-txt-l: var(
    --mbx-popup-text-color-light,
    var(--mbx-popup-text-color, var(--mbx-c-txt-l))
  );
  --mbx-c-pop-txt-d: var(
    --mbx-popup-text-color-dark,
    var(--mbx-popup-text-color, var(--mbx-c-txt-d))
  );

  /** RadioButtonGroup **/
  --mbx-c-radg-bg-l: var(
    --mbx-radiogroup-background-light,
    var(--mbx-radiogroup-background, var(--mbx-c-bg-l))
  );
  --mbx-c-radg-bg-d: var(
    --mbx-radiogroup-background-dark,
    var(--mbx-radiogroup-background, var(--mbx-c-bg-d))
  );
  --mbx-c-radg-txt-l: var(
    --mbx-radiogroup-text-color-light,
    var(--mbx-radiogroup-text-color, var(--mbx-c-txt-l))
  );
  --mbx-c-radg-txt-d: var(
    --mbx-radiogroup-text-color-dark,
    var(--mbx-radiogroup-text-color, var(--mbx-c-txt-d))
  );

  /** Review **/
  --mbx-c-rev-bg-l: var(
    --mbx-review-background-light,
    var(--mbx-review-background, var(--mbx-c-bg-l))
  );
  --mbx-c-rev-bg-d: var(
    --mbx-review-background-dark,
    var(--mbx-review-background, var(--mbx-c-bg-d))
  );
  --mbx-c-rev-txt-l: var(
    --mbx-review-text-color-light,
    var(--mbx-review-text-color, var(--mbx-c-txt-l))
  );
  --mbx-c-rev-txt-d: var(
    --mbx-review-text-color-dark,
    var(--mbx-review-text-color, var(--mbx-c-txt-d))
  );
  --mbx-c-rev-link-l: var(
    --mbx-review-link-color-light,
    var(--mbx-review-link-color, var(--mbx-d-rev-link-l))
  );
  --mbx-c-rev-link-d: var(
    --mbx-review-link-color-dark,
    var(--mbx-review-link-color, var(--mbx-d-rev-link-d))
  );
  --mbx-c-rev-gh-l: var(
    --mbx-review-github-color-light,
    var(--mbx-review-github-color, var(--mbx-d-rev-link-l))
  );
  --mbx-c-rev-gh-d: var(
    --mbx-review-github-color-dark,
    var(--mbx-review-github-color, var(--mbx-d-rev-link-d))
  );

  /* Table */
  --mbx-c-table-bg-l: var(
    --mbx-table-background-light,
    var(--mbx-table-background, var(--mbx-c-bg-l))
  );
  --mbx-c-table-bg-d: var(
    --mbx-table-background-dark,
    var(--mbx-table-background, var(--mbx-c-bg-d))
  );
  --mbx-c-table-txt-d: var(
    --mbx-table-text-color-dark,
    var(--mbx-table-text-color, var(--mbx-c-txt-d))
  );
  --mbx-c-table-txt-l: var(
    --mbx-table-text-color-light,
    var(--mbx-table-text-color, var(--mbx-c-txt-l))
  );
  --mbx-c-table-bord-d: var(
    --mbx-table-border-color-dark,
    var(--mbx-table-border-color, var(--mbx-d-table-bord-d))
  );
  --mbx-c-table-bord-l: var(
    --mbx-table-border-color-light,
    var(--mbx-table-border-color, var(--mbx-d-table-bord-l))
  );
  --mbx-c-table-head-bg-l: var(
    --mbx-table-header-background-light,
    var(--mbx-table-header-background, var(--mbx-d-table-head-bg-l))
  );
  --mbx-c-table-head-bg-d: var(
    --mbx-table-header-background-dark,
    var(--mbx-table-header-background, var(--mbx-d-table-head-bg-d))
  );
  --mbx-c-table-head-txt-d: var(
    --mbx-table-header-text-color-dark,
    var(--mbx-table-header-text-color, var(--mbx-d-table-head-txt-d))
  );
  --mbx-c-table-head-txt-l: var(
    --mbx-table-header-text-color-light,
    var(--mbx-table-header-text-color, var(--mbx-d-table-head-txt-l))
  );

  /* Tab viewer */
  --mbx-c-tabv-bg-l: var(
    --mbx-tabviewer-background-light,
    var(--mbx-tabviewer-background, var(--mbx-d-tabv-bg-l))
  );
  --mbx-c-tabv-bg-d: var(
    --mbx-tabviewer-background-dark,
    var(--mbx-tabviewer-background, var(--mbx-d-tabv-bg-d))
  );

  --mbx-c-tabv-txt-l: var(
    --mbx-tabviewer-text-color-light,
    var(--mbx-tabviewer-text-color, var(--mbx-c-txt-l))
  );
  --mbx-c-tabv-txt-d: var(
    --mbx-tabviewer-text-color-dark,
    var(--mbx-tabviewer-text-color, var(--mbx-c-txt-d))
  );

  --mbx-c-tabv-off-bg-d: var(
    --mbx-tabviewer-inactive-background-dark,
    var(--mbx-tabviewer-inactive-background, var(--mbx-d-tabv-off-bg-d))
  );
  --mbx-c-tabv-off-bg-l: var(
    --mbx-tabviewer-inactive-background-light,
    var(--mbx-tabviewer-inactive-background, var(--mbx-d-tabv-off-bg-l))
  );
  --mbx-c-tabv-off-bg-h-d: var(
    --mbx-tabviewer-inactive-background-hover-dark,
    var(--mbx-tabviewer-inactive-background-hover, var(--mbx-d-tabv-off-bg-h-d))
  );
  --mbx-c-tabv-off-bg-h-l: var(
    --mbx-tabviewer-inactive-background-hover-light,
    var(--mbx-tabviewer-inactive-background-hover, var(--mbx-d-tabv-off-bg-h-l))
  );

  --mbx-c-tabv-off-txt-l: var(
    --mbx-tabviewer-inactive-text-color-light,
    var(--mbx-tabviewer-inactive-text-color, var(--mbx-d-tabv-off-txt))
  );
  --mbx-c-tabv-off-txt-d: var(
    --mbx-tabviewer-inactive-text-color-dark,
    var(--mbx-tabviewer-inactive-text-color, var(--mbx-d-tabv-off-txt))
  );

  --mbx-c-tabv-off-txt-h-l: var(
    --mbx-tabviewer-inactive-text-color-hover-light,
    var(--mbx-tabviewer-inactive-text-color-hover, var(--mbx-c-txt-h-l))
  );
  --mbx-c-tabv-off-txt-h-d: var(
    --mbx-tabviewer-inactive-text-color-hover-dark,
    var(--mbx-tabviewer-inactive-text-color-hover, var(--mbx-c-txt-h-d))
  );
}
