@import url("default.css");

[data-mobrix-ui-id] {
  /* Card */
  --mobrix-ui-computed-card-background-light: var(
    --mobrix-ui-card-background-light,
    var(--mobrix-ui-card-background, var(--mobrix-ui-default-background-light))
  );
  --mobrix-ui-computed-card-background-dark: var(
    --mobrix-ui-card-background-dark,
    var(
      --mobrix-ui-card-background,
      var(--mobrix-ui-default-card-background-dark)
    )
  );

  --mobrix-ui-computed-card-text-color-light: var(
    --mobrix-ui-card-text-color-light,
    var(--mobrix-ui-card-text-color, var(--mobrix-ui-text-color-light))
  );
  --mobrix-ui-computed-card-text-color-dark: var(
    --mobrix-ui-card-text-color-dark,
    var(--mobrix-ui-card-text-color, var(--mobrix-ui-text-color-dark))
  );

  /** Carousel **/
  --mobrix-ui-computed-carousel-background-light: var(
    --mobrix-ui-carousel-background-light,
    var(--mobrix-ui-carousel-background, var(--mobrix-ui-computed-background-light))
  );
  --mobrix-ui-computed-carousel-background-dark: var(
    --mobrix-ui-carousel-background-dark,
    var(--mobrix-ui-carousel-background, var(--mobrix-ui-computed-background-dark))
  );

  --mobrix-ui-computed-carousel-arrow-color-light: var(
    --mobrix-ui-carousel-arrow-color-light,
    var(
      --mobrix-ui-carousel-arrow-color,
      var(--mobrix-ui-default-carousel-arrow-color-light)
    )
  );
  --mobrix-ui-computed-carousel-arrow-color-dark: var(
    --mobrix-ui-carousel-arrow-color-dark,
    var(
      --mobrix-ui-carousel-arrow-color,
      var(--mobrix-ui-default-carousel-arrow-color-dark)
    )
  );

  --mobrix-ui-computed-internal-carousel-arrow-color-hover: var(
    --mobrix-ui-carousel-arrow-color-hover,
    var(--mobrix-ui-carousel-arrow-color)
  );

  --mobrix-ui-computed-carousel-arrow-color-hover-light: var(
    --mobrix-ui-carousel-arrow-color-hover-light,
    var(
      --mobrix-ui-computed-internal-carousel-arrow-color,
      var(--mobrix-ui-default-carousel-arrow-color-hover-light)
    )
  );
  --mobrix-ui-computed-carousel-arrow-color-hover-dark: var(
    --mobrix-ui-carousel-arrow-color-dark,
    var(
      --mobrix-ui-computed-internal-carousel-arrow-color,
      var(--mobrix-ui-default-carousel-arrow-color-hover-dark)
    )
  );

  --mobrix-ui-computed-carousel-dot-full-background-light: var(
    --mobrix-ui-carousel-dot-full-background-light,
    var(
      --mobrix-ui-carousel-dot-background,
      var(--mobrix-ui-default-carousel-dot-full-background)
    )
  );
  --mobrix-ui-computed-carousel-dot-full-background-dark: var(
    --mobrix-ui-carousel-dot-full-background-dark,
    var(
      --mobrix-ui-carousel-dot-background,
      var(--mobrix-ui-default-carousel-dot-full-background)
    )
  );
  --mobrix-ui-computed-carousel-dot-empty-background-light: var(
    --mobrix-ui-carousel-dot-empty-background-light,
    var(
      --mobrix-ui-carousel-dot-background,
      var(--mobrix-ui-default-carousel-dot-empty-background)
    )
  );

  --mobrix-ui-computed-carousel-dot-empty-background-dark: var(
    --mobrix-ui-carousel-dot-empty-background-dark,
    var(
      --mobrix-ui-carousel-dot-background,
      var(--mobrix-ui-default-carousel-dot-empty-background)
    )
  );

  /** Container **/
  --mobrix-ui-computed-container-background-light: var(
    --mobrix-ui-container-background-light,
    var(--mobrix-ui-container-background, var(--mobrix-ui-computed-background-light))
  );
  --mobrix-ui-computed-container-background-dark: var(
    --mobrix-ui-container-background-dark,
    var(--mobrix-ui-container-background, var(--mobrix-ui-computed-background-dark))
  );
  --mobrix-ui-computed-container-text-color-light: var(
    --mobrix-ui-container-text-color-light,
    var(--mobrix-ui-container-text-color, var(--mobrix-ui-text-color-light))
  );
  --mobrix-ui-computed-container-text-color-dark: var(
    --mobrix-ui-container-text-color-dark,
    var(--mobrix-ui-container-text-color, var(--mobrix-ui-text-color-dark))
  );

  /* DismissableCard */
  --mobrix-ui-computed-dismissablecard-background-light: var(
    --mobrix-ui-dismissablecard-background-light,
    var(
      --mobrix-ui-dismissablecard-background,
      var(--mobrix-ui-computed-card-background-light)
    )
  );
  --mobrix-ui-computed-dismissablecard-background-dark: var(
    --mobrix-ui-dismissablecard-background-dark,
    var(
      --mobrix-ui-dismissablecard-background,
      var(--mobrix-ui-computed-card-background-dark)
    )
  );
  --mobrix-ui-computed-dismissablecard-text-color-light: var(
    --mobrix-ui-dismissablecard-text-color-light,
    var(
      --mobrix-ui-dismissablecard-text-color,
      var(--mobrix-ui-computed-card-text-color-light)
    )
  );
  --mobrix-ui-computed-dismissablecard-text-color-dark: var(
    --mobrix-ui-dismissablecard-text-color-dark,
    var(
      --mobrix-ui-dismissablecard-text-color,
      var(--mobrix-ui-computed-card-text-color-dark)
    )
  );

  --mobrix-ui-computed-dismissablecard-x-color-light: var(
    --mobrix-ui-dismissablecard-x-color-light,
    var(
      --mobrix-ui-dismissablecard-x-color,
      var(--mobrix-ui-computed-dismissablecard-text-color-light)
    )
  );
  --mobrix-ui-computed-dismissablecard-x-color-dark: var(
    --mobrix-ui-dismissablecard-x-color-dark,
    var(
      --mobrix-ui-dismissablecard-x-color,
      var(--mobrix-ui-computed-dismissablecard-text-color-dark)
    )
  );
  --mobrix-ui-computed-dismissablecard-x-color-hover-light: var(
    --mobrix-ui-dismissablecard-x-color-hover-light,
    var(
      --mobrix-ui-dismissablecard-x-color-hover,
      var(--mobrix-ui-default-dismissablecard-x-color-hover)
    )
  );
  --mobrix-ui-computed-dismissablecard-x-color-hover-dark: var(
    --mobrix-ui-dismissablecard-x-color-hover-dark,
    var(
      --mobrix-ui-dismissablecard-x-color-hover,
      var(--mobrix-ui-default-dismissablecard-x-color-hover)
    )
  );

  /* Dropdown */
  --mobrix-ui-computed-dropdown-arrow-color-light: var(
    --mobrix-ui-dropdown-arrow-color-light,
    var(
      --mobrix-ui-dropdown-arrow-color,
      var(--mobrix-ui-default-dropdown-arrow-color-light)
    )
  );

  --mobrix-ui-computed-dropdown-arrow-color-dark: var(
    --mobrix-ui-dropdown-arrow-color-dark,
    var(
      --mobrix-ui-dropdown-arrow-color,
      var(--mobrix-ui-default-dropdown-arrow-color-dark)
    )
  );

  --mobrix-ui-computed-dropdown-arrow-color-hover-light: var(
    --mobrix-ui-dropdown-arrow-color-hover-light,
    var(
      --mobrix-ui-dropdown-arrow-color-hover,
      var(--mobrix-ui-default-dropdown-arrow-color-hover-light)
    )
  );

  --mobrix-ui-computed-dropdown-arrow-color-hover-dark: var(
    --mobrix-ui-dropdown-arrow-color-hover-dark,
    var(
      --mobrix-ui-dropdown-arrow-color-hover,
      var(--mobrix-ui-default-dropdown-arrow-color-hover-dark)
    )
  );

  --mobrix-ui-computed-internal-dropdown-background-hover: var(
    --mobrix-ui-dropdown-background-hover,
    var(--mobrix-ui-dropdown-background)
  );
  --mobrix-ui-computed-internal-dropdown-text-color-hover: var(
    --mobrix-ui-dropdown-text-color-hover,
    var(--mobrix-ui-dropdown-text-color)
  );

  --mobrix-ui-computed-dropdown-background-light: var(
    --mobrix-ui-dropdown-background-light,
    var(--mobrix-ui-dropdown-background, var(--mobrix-ui-computed-background-light))
  );

  --mobrix-ui-computed-dropdown-background-dark: var(
    --mobrix-ui-dropdown-background-dark,
    var(--mobrix-ui-dropdown-background, var(--mobrix-ui-computed-background-dark))
  );
  --mobrix-ui-computed-dropdown-background-hover-light: var(
    --mobrix-ui-dropdown-background-hover-light,
    var(
      --mobrix-ui-computed-internal-dropdown-background-hover,
      var(--mobrix-ui-background-hover-light)
    )
  );

  --mobrix-ui-computed-dropdown-background-hover-dark: var(
    --mobrix-ui-dropdown-background-hover-dark,
    var(
      --mobrix-ui-computed-internal-dropdown-background-hover,
      var(--mobrix-ui-background-hover-dark)
    )
  );

  --mobrix-ui-computed-dropdown-text-color-light: var(
    --mobrix-ui-dropdown-text-color-light,
    var(--mobrix-ui-dropdown-text-color, var(--mobrix-ui-text-color-light))
  );

  --mobrix-ui-computed-dropdown-text-color-dark: var(
    --mobrix-ui-dropdown-text-color-dark,
    var(--mobrix-ui-dropdown-text-color, var(--mobrix-ui-text-color-dark))
  );

  --mobrix-ui-computed-dropdown-text-color-hover-light: var(
    --mobrix-ui-dropdown-text-color-hover-light,
    var(
      --mobrix-ui-computed-internal-dropdown-text-color-hover,
      var(--mobrix-ui-text-color-hover-light)
    )
  );

  --mobrix-ui-computed-dropdown-text-color-hover-dark: var(
    --mobrix-ui-dropdown-text-color-hover-dark,
    var(
      --mobrix-ui-computed-internal-dropdown-text-color-hover,
      var(--mobrix-ui-default-dropdown-text-color-hover-dark)
    )
  );

  /** ExpandableContainer **/
  --mobrix-ui-computed-expandable-container-background-light: var(
    --mobrix-ui-expandable-container-background-light,
    var(
      --mobrix-ui-expandable-container-background,
      var(--mobrix-ui-computed-container-background-light)
    )
  );
  --mobrix-ui-computed-expandable-container-background-dark: var(
    --mobrix-ui-expandable-container-background-dark,
    var(
      --mobrix-ui-expandable-container-background,
      var(--mobrix-ui-computed-container-background-dark)
    )
  );
  --mobrix-ui-computed-expandable-container-text-color-light: var(
    --mobrix-ui-expandable-container-text-color-light,
    var(
      --mobrix-ui-expandable-container-text-color,
      var(--mobrix-ui-computed-container-text-color-light)
    )
  );
  --mobrix-ui-computed-expandable-container-text-color-dark: var(
    --mobrix-ui-expandable-container-text-color-dark,
    var(
      --mobrix-ui-expandable-container-text-color,
      var(--mobrix-ui-computed-container-text-color-dark)
    )
  );

  --mobrix-ui-computed-expandable-container-arrow-color-light: var(
    --mobrix-ui-expandable-container-arrow-color-light,
    var(
      --mobrix-ui-expandable-container-arrow-color,
      var(--mobrix-ui-computed-expandable-container-text-color-light)
    )
  );
  --mobrix-ui-computed-expandable-container-arrow-color-dark: var(
    --mobrix-ui-expandable-container-arrow-color-dark,
    var(
      --mobrix-ui-expandable-container-arrow-color,
      var(--mobrix-ui-computed-expandable-container-text-color-dark)
    )
  );

  --mobrix-ui-computed-expandable-container-arrow-color-hover-light: var(
    --mobrix-ui-expandable-container-arrow-color-hover-light,
    var(
      --mobrix-ui-expandable-container-arrow-color-hover,
      var(--mobrix-ui-text-color-hover-light)
    )
  );
  --mobrix-ui-computed-expandable-container-arrow-color-hover-dark: var(
    --mobrix-ui-expandable-container-arrow-color-hover-dark,
    var(
      --mobrix-ui-expandable-container-arrow-color-hover,
      var(--mobrix-ui-text-color-hover-dark)
    )
  );

  /** FormField **/
  --mobrix-ui-computed-formfield-background-light: var(
    --mobrix-ui-formfield-background-light,
    var(--mobrix-ui-formfield-background)
  );
  --mobrix-ui-computed-formfield-text-color-light: var(
    --mobrix-ui-formfield-text-color-light,
    var(--mobrix-ui-formfield-text-color)
  );
  --mobrix-ui-computed-formfield-background-dark: var(
    --mobrix-ui-formfield-background-dark,
    var(--mobrix-ui-formfield-background)
  );
  --mobrix-ui-computed-formfield-text-color-dark: var(
    --mobrix-ui-formfield-text-color-dark,
    var(--mobrix-ui-formfield-text-color)
  );
  --mobrix-ui-computed-formfield-background-hover-light: var(
    --mobrix-ui-formfield-background-hover-light,
    var(--mobrix-ui-formfield-background-hover)
  );
  --mobrix-ui-computed-formfield-text-color-hover-light: var(
    --mobrix-ui-formfield-text-color-hover-light,
    var(--mobrix-ui-formfield-text-color-hover)
  );
  --mobrix-ui-computed-formfield-background-hover-dark: var(
    --mobrix-ui-formfield-background-hover-dark,
    var(--mobrix-ui-formfield-background-hover)
  );
  --mobrix-ui-computed-formfield-text-color-hover-dark: var(
    --mobrix-ui-formfield-text-color-hover-dark,
    var(--mobrix-ui-formfield-text-color-hover)
  );

  --mobrix-ui-computed-formfield-error-border-light: var(
    --mobrix-ui-formfield-error-border-light,
    var(
      --mobrix-ui-formfield-error-border,
      var(--mobrix-ui-default-formfield-error)
    )
  );
  --mobrix-ui-computed-formfield-error-border-dark: var(
    --mobrix-ui-formfield-error-border-dark,
    var(
      --mobrix-ui-formfield-error-border,
      var(--mobrix-ui-default-formfield-error)
    )
  );
  --mobrix-ui-computed-formfield-error-text-light: var(
    --mobrix-ui-formfield-error-text-light,
    var(
      --mobrix-ui-formfield-error-text,
      var(--mobrix-ui-default-formfield-error)
    )
  );
  --mobrix-ui-computed-formfield-error-text-dark: var(
    --mobrix-ui-formfield-error-text-dark,
    var(
      --mobrix-ui-formfield-error-text,
      var(--mobrix-ui-default-formfield-error)
    )
  );

  /* List */
  --mobrix-ui-computed-list-text-color-light: var(
    --mobrix-ui-list-text-color-light,
    var(--mobrix-ui-list-text-color, var(--mobrix-ui-text-color-light))
  );
  --mobrix-ui-computed-list-text-color-dark: var(
    --mobrix-ui-list-text-color-dark,
    var(--mobrix-ui-list-text-color, var(--mobrix-ui-text-color-dark))
  );
  --mobrix-ui-computed-internal-list-text-color-hover: var(
    --mobrix-ui-list-text-color-hover,
    var(--mobrix-ui-list-text-color)
  );
  --mobrix-ui-computed-list-text-color-hover-light: var(
    --mobrix-ui-list-text-color-hover-light,
    var(
      --mobrix-ui-list-text-color-hover,
      var(--mobrix-ui-text-color-hover-light)
    )
  );
  --mobrix-ui-computed-list-text-color-hover-dark: var(
    --mobrix-ui-list-text-color-hover-dark,
    var(
      --mobrix-ui-list-text-color-hover,
      var(--mobrix-ui-text-color-hover-dark)
    )
  );

  /** Modal **/
  --mobrix-ui-computed-modal-background-light: var(
    --mobrix-ui-modal-background-light,
    var(--mobrix-ui-modal-background, var(--mobrix-ui-default-modal-background))
  );
  --mobrix-ui-computed-modal-background-dark: var(
    --mobrix-ui-modal-background-dark,
    var(--mobrix-ui-modal-background, var(--mobrix-ui-default-modal-background))
  );

  --mobrix-ui-computed-modal-x-color-light: var(
    --mobrix-ui-modal-x-color-light,
    var(--mobrix-ui-modal-x-color, var(--mobrix-ui-default-modal-x-color))
  );
  --mobrix-ui-computed-modal-x-color-dark: var(
    --mobrix-ui-modal-x-color-dark,
    var(--mobrix-ui-modal-x-color, var(--mobrix-ui-default-modal-x-color))
  );
  --mobrix-ui-computed-modal-x-color-hover-light: var(
    --mobrix-ui-modal-x-color-hover-light,
    var(
      --mobrix-ui-modal-x-color-hover,
      var(--mobrix-ui-default-modal-x-color-hover)
    )
  );
  --mobrix-ui-computed-modal-x-color-hover-dark: var(
    --mobrix-ui-modal-x-color-hover-dark,
    var(
      --mobrix-ui-modal-x-color-hover,
      var(--mobrix-ui-default-modal-x-color-hover)
    )
  );

  /** Popup **/
  --mobrix-ui-computed-popup-background-light: var(
    --mobrix-ui-popup-background-light,
    var(--mobrix-ui-popup-background, var(--mobrix-ui-computed-background-light))
  );
  --mobrix-ui-computed-popup-background-dark: var(
    --mobrix-ui-popup-background-dark,
    var(--mobrix-ui-popup-background, var(--mobrix-ui-computed-background-dark))
  );
  --mobrix-ui-computed-list-text-color-light: var(
    --mobrix-ui-popup-text-color-light,
    var(--mobrix-ui-popup-text-color, var(--mobrix-ui-text-color-light))
  );
  --mobrix-ui-computed-popup-text-color-dark: var(
    --mobrix-ui-popup-text-color-dark,
    var(--mobrix-ui-popup-text-color, var(--mobrix-ui-text-color-dark))
  );

  /** RadioButtonGroup **/
  --mobrix-ui-computed-radiogroup-background-light: var(
    --mobrix-ui-radiogroup-background-light,
    var(--mobrix-ui-radiogroup-background, var(--mobrix-ui-computed-background-light))
  );
  --mobrix-ui-computed-radiogroup-background-dark: var(
    --mobrix-ui-radiogroup-background-dark,
    var(--mobrix-ui-radiogroup-background, var(--mobrix-ui-computed-background-dark))
  );
  --mobrix-ui-computed-radiogroup-text-color-light: var(
    --mobrix-ui-radiogroup-text-color-light,
    var(--mobrix-ui-radiogroup-text-color, var(--mobrix-ui-text-color-light))
  );

  --mobrix-ui-computed-radiogroup-text-color-dark: var(
    --mobrix-ui-radiogroup-text-color-dark,
    var(--mobrix-ui-radiogroup-text-color, var(--mobrix-ui-text-color-dark))
  );

  /** Review **/
  --mobrix-ui-computed-review-background-light: var(
    --mobrix-ui-review-background-light,
    var(--mobrix-ui-review-background, var(--mobrix-ui-computed-background-light))
  );
  --mobrix-ui-computed-review-background-dark: var(
    --mobrix-ui-review-background-dark,
    var(--mobrix-ui-review-background, var(--mobrix-ui-computed-background-dark))
  );
  --mobrix-ui-computed-review-text-color-light: var(
    --mobrix-ui-review-text-color-light,
    var(--mobrix-ui-review-text-color, var(--mobrix-ui-text-color-light))
  );
  --mobrix-ui-computed-review-text-color-dark: var(
    --mobrix-ui-review-text-color-dark,
    var(--mobrix-ui-review-text-color, var(--mobrix-ui-text-color-dark))
  );
  --mobrix-ui-computed-review-link-color-light: var(
    --mobrix-ui-review-link-color-light,
    var(
      --mobrix-ui-review-link-color,
      var(--mobrix-ui-default-review-link-color-light)
    )
  );
  --mobrix-ui-computed-review-link-color-dark: var(
    --mobrix-ui-review-link-icon-color-dark,
    var(
      --mobrix-ui-review-link-color,
      var(--mobrix-ui-default-review-link-color-dark)
    )
  );
  --mobrix-ui-computed-review-github-color-light: var(
    --mobrix-ui-review-github-color-light,
    var(
      --mobrix-ui-review-github-color,
      var(--mobrix-ui-default-review-link-color-light)
    )
  );
  --mobrix-ui-computed-review-github-color-dark: var(
    --mobrix-ui-review-github-icon-color-dark,
    var(
      --mobrix-ui-review-github-color,
      var(--mobrix-ui-default-review-link-color-dark)
    )
  );

  /* Table */
  --mobrix-ui-computed-table-background-light: var(
    --mobrix-ui-table-background-light,
    var(--mobrix-ui-table-background, var(--mobrix-ui-computed-background-light))
  );
  --mobrix-ui-computed-table-background-dark: var(
    --mobrix-ui-table-background-dark,
    var(--mobrix-ui-table-background, var(--mobrix-ui-computed-background-dark))
  );

  --mobrix-ui-computed-table-text-color-dark: var(
    --mobrix-ui-table-text-color-dark,
    var(--mobrix-ui-table-text-color, var(--mobrix-ui-text-color-dark))
  );
  --mobrix-ui-computed-table-text-color-light: var(
    --mobrix-ui-table-text-color-light,
    var(--mobrix-ui-table-text-color, var(--mobrix-ui-text-color-light))
  );

  --mobrix-ui-computed-table-border-color-dark: var(
    --mobrix-ui-table-border-color-dark,
    var(
      --mobrix-ui-table-border-color,
      var(--mobrix-ui-default-table-border-color-dark)
    )
  );
  --mobrix-ui-computed-table-border-color-light: var(
    --mobrix-ui-table-border-color-light,
    var(
      --mobrix-ui-table-border-color,
      var(--mobrix-ui-default-table-border-color-light)
    )
  );

  --mobrix-ui-computed-table-header-background-light: var(
    --mobrix-ui-table-header-background-light,
    var(
      --mobrix-ui-table-header-background,
      var(--mobrix-ui-default-table-header-background-light)
    )
  );
  --mobrix-ui-computed-table-header-background-dark: var(
    --mobrix-ui-table-header-background-dark,
    var(
      --mobrix-ui-table-header-background,
      var(--mobrix-ui-default-table-header-background-dark)
    )
  );

  --mobrix-ui-computed-table-header-text-color-dark: var(
    --mobrix-ui-table-header-text-color-dark,
    var(
      --mobrix-ui-table-header-text-color,
      var(--mobrix-ui-default-table-header-text-color-dark)
    )
  );
  --mobrix-ui-computed-table-header-text-color-light: var(
    --mobrix-ui-table-header-text-color-light,
    var(
      --mobrix-ui-table-header-text-color,
      var(--mobrix-ui-default-table-header-text-color-light)
    )
  );

  /* Tab viewer */
  --mobrix-ui-computed-tab-viewer-background-dark: var(
    --mobrix-ui-tab-viewer-background-dark,
    var(
      --mobrix-ui-tab-viewer-background,
      var(--mobrix-ui-default-tab-viewer-background-dark)
    )
  );

  --mobrix-ui-computed-tab-viewer-background-light: var(
    --mobrix-ui-tab-viewer-background-light,
    var(
      --mobrix-ui-tab-viewer-background,
      var(--mobrix-ui-default-tab-viewer-background-light)
    )
  );

  --mobrix-ui-computed-tab-viewer-background-inactive-dark: var(
    --mobrix-ui-tab-viewer-background-inactive-dark,
    var(
      --mobrix-ui-tab-viewer-background-inactive,
      var(--mobrix-ui-default-tab-viewer-background-inactive-dark)
    )
  );

  --mobrix-ui-computed-tab-viewer-background-inactive-light: var(
    --mobrix-ui-tab-viewer-background-inactive-light,
    var(
      --mobrix-ui-tab-viewer-background-inactive,
      var(--mobrix-ui-default-tab-viewer-background-inactive-light)
    )
  );

  --mobrix-ui-computed-tab-viewer-background-inactive-hover-dark: var(
    --mobrix-ui-tab-viewer-background-inactive-hover-dark,
    var(
      --mobrix-ui-tab-viewer-background-inactive-hover,
      var(--mobrix-ui-default-tab-viewer-background-inactive-hover-dark)
    )
  );

  --mobrix-ui-computed-tab-viewer-background-inactive-hover-light: var(
    --mobrix-ui-tab-viewer-background-inactive-hover-light,
    var(
      --mobrix-ui-tab-viewer-background-inactive-hover,
      var(--mobrix-ui-default-tab-viewer-background-inactive-hover-light)
    )
  );

  --mobrix-ui-computed-tab-viewer-text-color-dark: var(
    --mobrix-ui-tab-viewer-text-color-dark,
    var(--mobrix-ui-tab-viewer-text-color, var(--mobrix-ui--text-color-dark))
  );

  --mobrix-ui-computed-tab-viewer-text-color-light: var(
    --mobrix-ui-tab-viewer-text-color-light,
    var(--mobrix-ui-tab-viewer-text-color, var(--mobrix-ui-text-color-light))
  );

  --mobrix-ui-computed-tab-viewer-text-color-inactive-dark: var(
    --mobrix-ui-tab-viewer-text-color-inactive-dark,
    var(
      --mobrix-ui-tab-viewer-text-color-inactive,
      var(--mobrix-ui-default-tab-viewer-text-color-inactive)
    )
  );
  --mobrix-ui-computed-tab-viewer-text-color-inactive-light: var(
    --mobrix-ui-tab-viewer-text-color-inactive-light,
    var(
      --mobrix-ui-tab-viewer-text-color-inactive,
      var(--mobrix-ui-default-tab-viewer-text-color-inactive)
    )
  );
}
