[data-mobrix-ui-id="dismissable-card"]
  [data-mobrix-ui-class="header-container"] {
  display: flex;
  flex-direction: column;
}

[data-mobrix-ui-id="dismissable-card"][data-mobrix-ui-styled="true"] {
  background: var(--mobrix-ui-computed-dismissablecard-background);
  color: var(--mobrix-ui-computed-dismissablecard-text-color);
}

[data-mobrix-ui-id="dismissable-card"] [data-mobrix-ui-class="header-element"] {
  margin: auto;
}

[data-mobrix-ui-id="dismissable-card"]
  [data-mobrix-ui-class="dismissable-card-dismiss-container"] {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

[data-mobrix-ui-id="dismissable-card"]
  [data-mobrix-ui-class="card-dismiss-button"] {
  display: flex;
  flex-direction: row-reverse;
  padding: 0;
  margin: 0;
  width: fit-content;
}

[data-mobrix-ui-id*="dismissable-card"][data-mobrix-ui-styled="true"]
  [data-mobrix-ui-class="header"] {
  margin-top: 0;
}

@media (hover) {
  [data-mobrix-ui-id="dismissable-card"][data-mobrix-ui-styled="true"][data-mobrix-ui-hover="true"]
    [data-mobrix-ui-class="card-dismiss-button"]
    svg:hover
    path {
    --mobrix-ui-computed-dismissablecard-x-color: var(
      --mobrix-ui-computed-dismissablecard-x-color-hover
    );
  }
}
