[data-mbx-id="dis-card"] {
  padding-top: 0;
  --mbx-ovcrdbg: var(--mbx-dismissablecard-background);
  --mbx-ovcrdtxt: var(--mbx-dismissablecard-text);
  --mbx-ovcrdbgl: var(--mbx-dismissablecard-background-light);
  --mbx-ovcrdtxtl: var(--mbx-dismissablecard-text-light);
  --mbx-ovcrdbgd: var(--mbx-dismissablecard-background-dark);
  --mbx-ovcrdtxtd: var(--mbx-dismissablecard-text-dark);
}

[data-mbx-id="dis-card"] > [data-mbx-dchead] {
  padding: 0;
}

[data-mbx-id="dis-card"] > [data-mbx-dchead] > div {
  padding: 0.5rem 0.3rem;
}

[data-mbx-id="dis-card"] > [data-mbx-dchead] > [data-mbx-id="icb"] {
  margin-left: auto;
  display: flex;
  width: fit-content;
  --mbx-defic: var(--mbx-dismissablecard-x, var(--mbx-dcrd-txt));
  --mbx-defich: var(--mbx-dismissablecard-x-hover, red);
  --mbx-icn-l: var(--mbx-dismissablecard-x-light);
  --mbx-icn-hv-l: var(--mbx-dismissablecard-x-hover-light);
  --mbx-icn-d: var(--mbx-dismissablecard-x-dark);
  --mbx-icn-hv-d: var(--mbx-dismissablecard-x-hover-dark);
}
