[data-mbx-id="dis-card"] {
  padding-top: 0;
  --mbx-card-background-light: var(
    --mbx-dismissablecard-background-light,
    var(--mbx-dismissablecard-background)
  );
  --mbx-card-background-dark: var(
    --mbx-dismissablecard-background-dark,
    var(--mbx-dismissablecard-background)
  );
  --mbx-crd-txt: var(
    --mbx-dismissablecard-text-color-light,
    var(--mbx-dismissablecard-text-color)
  );
  --mbx-card-text-color: var(--mbx-crd-txt);
  background: var(--mbx-bg);
  color: var(--mbx-txt);
}

[data-mbx-id="dis-card"][data-mbx-dk] {
  --mbx-crd-txt: var(
    --mbx-dismissablecard-text-color-dark,
    var(--mbx-dismissablecard-text-color)
  );
}

[data-mbx-id="dis-card"] > [data-mbx-dchead] {
  padding: 0;
}

[data-mbx-id="dis-card"] > [data-mbx-dchead] > div {
  padding: 0.5rem 0.3rem;
}

[data-mbx-id="dis-card"] > [data-mbx-dchead] > [data-mbx-id="icb"] {
  padding: 0;
  margin-left: auto;
  display: flex;
  flex-direction: row-reverse;
  width: fit-content;
  --mbx-icon-light: var(
    --mbx-dismissablecard-x-color-light,
    var(--mbx-dismissablecard-x-color, var(--mbx-crd-txt))
  );
  --mbx-icon-hover-light: var(
    --mbx-dismissablecard-x-color-hover-light,
    var(--mbx-dismissablecard-x-color-hover, red)
  );
  --mbx-icon-dark: var(
    --mbx-dismissablecard-x-color-dark,
    var(--mbx-dismissablecard-x-color, var(--mbx-crd-txt))
  );
  --mbx-icon-hover-dark: var(
    --mbx-dismissablecard-x-color-hover-dark,
    var(--mbx-dismissablecard-x-color-hover, red)
  );
}
