[data-mbx-id="dvd"] {
  --mbx-dvd-bg: var(--mbx-divider-color-light);
  background-color: var(
    --mbx-dvd-bg,
    var(--mbx-divider-color, var(--mbx-c-txt))
  );
  width: 100%;
}

[data-mbx-id="dvd"][data-mbx-dk] {
  --mbx-dvd-bg: var(--mbx-divider-color-dark);
}
