[data-mbx-id="link"] {
  font-size: 1rem;
  line-height: 1.5rem;
  --mbx-lnk-txt: var(
    --mbx-link-color-light,
    var(--mbx-link-color, var(--mbx-c-txt))
  );
  --mbx-lnk-txt-h: var(
    --mbx-link-color-hover-light,
    var(--mbx-link-color-hover, var(--mbx-lnk-txt))
  );
  color: var(--mbx-lnk-txt);
}

[data-mbx-id="link"][data-mbx-dk] {
  --mbx-lnk-txt: var(
    --mbx-link-color-dark,
    var(--mbx-link-color, var(--mbx-c-txt))
  );
  --mbx-lnk-txt-h: var(
    --mbx-link-color-hover-dark,
    var(--mbx-link-color-hover)
  );
}

@media (hover) {
  [data-mbx-id="link"][data-mbx-hv]:hover {
    color: var(--mbx-lnk-txt-h, var(--mbx-lnk-txt));
  }
}
