[data-mbx-id="link"][data-mbx-styled="true"] {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--mbx-c-link-txt);
}

[data-mbx-id="link"][data-mbx-styled="true"][data-mbx-a11y="true"][data-mbx-enabled="true"]:focus-visible {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  color: var(--mbx-c-fc);
}

[data-mbx-id="link"][data-mbx-enabled="true"]:active {
  font-weight: 700;
}

[data-mbx-id="link"][data-mbx-styled="true"][data-mbx-enabled="false"] {
  text-decoration: underline;
}
