[data-mbx-id="field"] {
  display: flex;
  flex-direction: column;
  width: fit-content;
  --mbx-fld-bg: var(
    --mbx-formfield-background-light,
    var(--mbx-formfield-background)
  );
  --mbx-fld-txt: var(
    --mbx-formfield-text-color-light,
    var(--mbx-formfield-text-color)
  );
  --mbx-fld-bg-h: var(
    --mbx-formfield-background-hover-light,
    var(--mbx-formfield-background-hover)
  );
  --mbx-fld-txt-h: var(
    --mbx-formfield-text-color-hover-light,
    var(--mbx-formfield-text-color-hover)
  );
  --mbx-fld-err-b: var(
    --mbx-formfield-error-border-light,
    var(--mbx-formfield-error-border, red)
  );
  --mbx-fld-err-txt: var(
    --mbx-formfield-error-text-light,
    var(--mbx-formfield-error-text, red)
  );
  --mbx-counterbox-background: var(--mbx-fld-bg);
  --mbx-counterbox-text-color: var(--mbx-fld-txt);
  --mbx-counterbox-background-hover: var(--mbx-fld-bg-h);
  --mbx-counterbox-text-color-hover: var(--mbx-fld-txt-h);

  --mbx-checkbox-background: var(--mbx-fld-bg);
  --mbx-checkbox-text-color: var(--mbx-fld-txt);
  --mbx-checkbox-background-hover: var(--mbx-fld-bg-h);
  --mbx-checkbox-text-color-hover: var(--mbx-fld-txt-h);

  --mbx-inputbox-background: var(--mbx-fld-bg);
  --mbx-inputbox-text-color: var(--mbx-fld-txt);
  --mbx-inputbox-background-hover: var(--mbx-fld-bg-h);
  --mbx-inputbox-text-color-hover: var(--mbx-fld-txt-h);

  --mbx-radio-background: var(--mbx-fld-bg);
  --mbx-radio-background-hover: var(--mbx-fld-bg-h);

  --mbx-rater-background: var(--mbx-fld-bg);
  --mbx-rater-background-hover: var(--mbx-fld-bg-h);

  --mbx-slider-background: var(--mbx-fld-bg);

  --mbx-toggle-background: var(--mbx-fld-bg);
}

[data-mbx-id="field"][data-mbx-dk] {
  --mbx-fld-bg: var(
    --mbx-formfield-background-dark,
    var(--mbx-formfield-background)
  );
  --mbx-fld-txt: var(
    --mbx-formfield-text-color-dark,
    var(--mbx-formfield-text-color)
  );
  --mbx-fld-bg-h: var(
    --mbx-formfield-background-hover-dark,
    var(--mbx-formfield-background-hover)
  );
  --mbx-fld-txt-h: var(
    --mbx-formfield-text-color-hover-dark,
    var(--mbx-formfield-text-color-hover)
  );
  --mbx-fld-err-b: var(
    --mbx-formfield-error-border-dark,
    var(--mbx-formfield-error-border, red)
  );
  --mbx-fld-err-txt: var(
    --mbx-formfield-error-text-dark,
    var(--mbx-formfield-error-text, red)
  );
}

[data-mbx-id="field"] > [data-mbx-id="label"] {
  font-weight: 600;
  margin-bottom: 0.2rem;
  margin-top: 0;
  width: 100%;
  --mbx-label-text-color: var(--mbx-fld-txt);
}

[data-mbx-id="field"] > [data-mbx-id="cont"] {
  color: var(--mbx-fld-err-txt);
  transition: all 0.3s ease-out;
  padding-top: 0.2rem;
}

[data-mbx-id="field"] [data-mbx-fld-e] {
  border-width: 2px;
  border-style: ridge;
  border-color: transparent;
}

[data-mbx-id="field"] [data-mbx-fld-e="true"] {
  border-color: var(--mbx-fld-err-b);
}

[data-mbx-id="field"][data-mbx-ftype="checkbox"],
[data-mbx-id="field"][data-mbx-ftype="boolean"],
[data-mbx-id="field"][data-mbx-ftype="radio"],
[data-mbx-id="field"][data-mbx-ftype="rater"],
[data-mbx-id="field"][data-mbx-ftype="slider"],
[data-mbx-id="field"][data-mbx-ftype="toggle"] {
  align-items: center;
  text-align: center;
}
