[data-mbx-id="popup"] {
  position: relative;
}

[data-mbx-id="popup"] [data-mbx-scl*="pop-c"] {
  position: absolute;
  scroll-behavior: smooth;
  animation-duration: 0.2s;
  z-index: 2;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  background: var(--mbx-c-pop-bg);
  color: var(--mbx-c-pop-txt);
  -webkit-animation: fadein 0.3s;
  -moz-animation: fadein 0.3s;
  -ms-animation: fadein 0.3s;
  -o-animation: fadein 0.3s;
  animation: fadein 0.3s;
}
