body.light .arrow {
  fill: rgb(77, 77, 77);
}

body.dark .arrow {
  fill: white;
}

body .left-arrow:hover {
  fill: #ff9f51;
}

body .left-arrow:active {
  fill: #fb7a10;
}

body .demo-row {
  align-items: center;
}

body .demo-row .box-container .box {
  max-width: 8rem;
}

body #preview {
  margin: 0.6rem;
}

.test-class {
  width: 2rem;
}

body {
  overflow: hidden;
  --mbx-button-background-dark: green;
  --mbx-button-background-light: red;
  --mbx-button-text-dark: yellow;
  --mbx-button-text-light: orange;
  --mbx-button-background-hover-dark: green;
  --mbx-button-background-hover-light: red;
  --mbx-button-text-hover-dark: yellow;
  --mbx-button-text-hover-light: orange;

  --mbx-popup-background-dark: green;
  --mbx-popup-background-light: red;
  --mbx-popup-text-dark: yellow;
  --mbx-popup-text-light: orange;
  --mbx-radio-background-light: blue;
}

@media (max-width: 400px) {
  body .previewer-container {
    margin: 0.3rem;
  }
}
