[data-mbx-id="table"] {
  border-width: 3px;
  border-style: solid;
  border-collapse: collapse;
  table-layout: fixed;
  color: var(--mbx-c-table-txt);
  border-color: var(--mbx-c-table-bord);
  background: var(--mbx-c-table-bg);
}

[data-mbx-id="table"] tr {
  border-collapse: collapse;
}

[data-mbx-id="table"] [data-mbx-tcell="true"] {
  border-width: 2px;
  border-style: solid;
  border-collapse: collapse;
  padding: 0.4rem;
  border-color: var(--mbx-c-table-bord);
  color: var(--mbx-c-table-txt);
}

[data-mbx-id="table"] th[data-mbx-tcell="true"] {
  font-size: large;
  background: var(--mbx-c-table-head-bg);
  color: var(--mbx-c-table-head-txt);
}
