[data-mbx-id="code"] {
  padding: 0.1rem;
  justify-content: center;
  background: var(--mbx-c-cdb-bg);
  color: var(--mbx-c-cdb-txt);
}

[data-mbx-id="code"] [data-mbx-cls="cd-cp"] {
  align-items: flex-end;
}

[data-mbx-id="code"] [data-mbx-cls="cd-cd"] {
  padding: 1rem;
  line-height: 1.5rem;
  overflow: auto;
}

[data-mbx-id="code"] [data-mbx-cls="cd-cb"] {
  margin-top: 0;
  margin-bottom: 0;
}
