[data-mbx-id="codebox"] {
  overflow: hidden;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--mbx-c-cdb-bg);
}

[data-mbx-id="codebox"][data-mbx-styled="true"] {
  color: var(--mbx-c-cdb-txt);
}

[data-mbx-id="codebox"] [data-mbx-class="codebox-copy-icon"] {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

[data-mbx-id="codebox"] [data-mbx-class="codebox-code"] {
  margin-top: 0.7rem;
  padding: 1rem;
  line-height: 1.5rem;
  overflow: auto;
}

[data-mbx-id="codebox"][data-mbx-enabled="true"]
  [data-mbx-class="codebox-copy-icon"]
  > [data-mbx-id="button"]:active {
  opacity: 0.3;
}

@media (hover) {
  [data-mbx-id="codebox"][data-mbx-hover="true"][data-mbx-enabled="true"]
    [data-mbx-class="codebox-copy-icon"]:hover {
    opacity: 0.8;
  }
}
