#mobrix-ui-container.styled {
  background-image: var(--mobrix-ui-background);
  color: var(--mobrix-ui-text-color);
}

#mobrix-ui-container.animated {
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
}
