[data-mbx-id="cn"] {
  background: var(--mbx-con-bg);
  color: var(--mbx-con-txt);
}

[data-mbx-id*="cn"] {
  --mbx-con-bg: var(
    --mbx-container-background-light,
    var(--mbx-container-background, var(--mbx-c-bg))
  );
  --mbx-con-txt: var(
    --mbx-container-text-light,
    var(--mbx-container-text, var(--mbx-c-txt))
  );
}

[data-mbx-id*="cn"][data-mbx-dk] {
  --mbx-con-bg: var(
    --mbx-container-background-dark,
    var(--mbx-container-background, var(--mbx-c-bg))
  );
  --mbx-con-txt: var(
    --mbx-container-text-dark,
    var(--mbx-container-text, var(--mbx-c-txt))
  );
}

[data-mbx-id*="cn"][data-mbx-trn] {
  --mbx-con-bg: transparent;
}
