[data-mbx-id="date-picker"] {
  --mobrix-ui-calendar-background-light: var(--mbx-c-dtp-cal-bg-l);
  --mobrix-ui-calendar-background-dark: var(--mbx-c-dtp-cal-bg-d);
  --mobrix-ui-calendar-text-color-light: var(--mbx-c-dtp-cal-txt-l);
  --mobrix-ui-calendar-text-color-dark: var(--mbx-c-dtp-cal-txt-d);
  --mobrix-ui-calendar-arrow-light: var(--mbx-c-dtp-cal-arr-l);
  --mobrix-ui-calendar-arrow-dark: var(--mbx-c-dtp-cal-arr-d);
  --mobrix-ui-calendar-arrow-hover-light: var(--mbx-c-dtp-cal-arr-h-l);
  --mobrix-ui-calendar-background-selected-light: var(--mbx-c-dtp-cal-s-bg-l);
  --mobrix-ui-calendar-background-selected-dark: var(--mbx-c-dtp-cal-s-bg-d);
  --mobrix-ui-calendar-text-color-selected-light: var(--mbx-c-dtp-cal-s-txt-l);
  --mobrix-ui-calendar-text-color-selected-dark: var(--mbx-c-dtp-cal-s-txt-d);
}
