@media (hover) {
  [data-mobrix-ui-id][data-mobrix-ui-styled="true"][data-mobrix-ui-hover="true"][data-mobrix-ui-background="true"][data-mobrix-ui-enabled="true"]:hover {
    /** Button **/
    --mobrix-ui-computed-button-background: var(
      --mobrix-ui-computed-button-background-hover
    );

    /** Checkbox **/
    --mobrix-ui-computed-checkbox-background: var(
      --mobrix-ui-computed-checkbox-background-hover
    );

    /** RadioButton **/
    --mobrix-ui-computed-radio-background: var(
      --mobrix-ui-computed-radio-background-hover
    );
  }

  [data-mobrix-ui-id][data-mobrix-ui-styled="true"][data-mobrix-ui-hover="true"][data-mobrix-ui-enabled="true"]:hover {
    /** Button **/
    --mobrix-ui-computed-button-text-color: var(
      --mobrix-ui-computed-button-text-color-hover
    );

    /** Link **/
    --mobrix-ui-computed-link-color: var(--mobrix-ui-computed-link-color-hover);
  }

  [data-mobrix-ui-id][data-mobrix-ui-styled="true"][data-mobrix-ui-hover="true"][data-mobrix-ui-background="true"][data-mobrix-ui-enabled="true"]:hover:not(
      :focus-visible
    ) {
    /** Counter **/
    --mobrix-ui-computed-counterbox-background: var(
      --mobrix-ui-computed-counterbox-background-hover
    );
    --mobrix-ui-computed-counterbox-text-color: var(
      --mobrix-ui-computed-counterbox-text-color-hover
    );

    /** Inputbox **/
    --mobrix-ui-computed-inputbox-background: var(
      --mobrix-ui-computed-inputbox-background-hover
    );

    --mobrix-ui-computed-inputbox-text-color: var(
      --mobrix-ui-computed-inputbox-text-color-hover
    );
  }
}
