@media (hover) {
  [data-mbx-id][data-mbx-styled="true"][data-mbx-hover="true"][data-mbx-background="true"][data-mbx-enabled="true"]:hover {
    /** Button **/
    --mbx-c-btn-bg: var(
      --mbx-c-btn-bg-h
    );

    /** Checkbox **/
    --mbx-c-chk-bg: var(
      --mbx-c-chk-bg-h
    );

    /** RadioButton **/
    --mbx-c-rad-bg: var(
      --mbx-c-rad-bg-h
    );
  }

  [data-mbx-id][data-mbx-styled="true"][data-mbx-hover="true"][data-mbx-enabled="true"]:hover {
    /** Button **/
    --mbx-c-btn-txt: var(
      --mbx-c-btn-txt-h
    );

    /** Link **/
    --mbx-c-link-txt: var(--mbx-c-link-txt-h);
  }

  [data-mbx-id][data-mbx-styled="true"][data-mbx-hover="true"][data-mbx-background="true"][data-mbx-enabled="true"]:hover:not(
      :focus-visible
    ) {
    /** Counter **/
    --mbx-c-cnt-bg: var(
      --mbx-c-cnt-bg-h
    );
    --mbx-c-cnt-txt: var(
      --mbx-c-cnt-txt-h
    );

    /** Inputbox **/
    --mbx-c-inb-bgc: var(
      --mbx-c-inb-bgc-h
    );

    --mbx-c-inb-txt: var(
      --mbx-c-inb-txt-h
    );
  }
}
