[data-mbx-id="drw"][data-mbx-drw-lc^="top"] > [data-mbx-id="icb"],
[data-mbx-id="drw"][data-mbx-drw-lc^="bottom"] > [data-mbx-id="icb"] {
  margin-left: auto;
  margin-right: auto;
}

[data-mbx-id="drw"][data-mbx-drw-lc="right"] > [data-mbx-id="icb"],
[data-mbx-id="drw"][data-mbx-drw-lc="left"] > [data-mbx-id="icb"] {
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}

[data-mbx-id="drw"][data-mbx-drw-lc^="top"] > [data-mbx-id="icb"] svg {
  transform: rotate(90deg);
}

[data-mbx-id="drw"][data-mbx-drw-lc^="bottom"] > [data-mbx-id="icb"] svg {
  transform: rotate(-90deg);
}

[data-mbx-id="drw"][data-mbx-drw-lc="right"] > [data-mbx-id="icb"] svg {
  transform: rotate(180deg);
}
