[data-mbx-id="drw"][data-mbx-drw-lc^="bottom"] {
  top: auto;
  bottom: 0;
  display: flex;
  flex-direction: column;
  --mbx-drw-an-in: slide-in-bottom 0.3s forwards;
  --mbx-drw-an-out: slide-out-bottom 0.3s forwards;
}

[data-mbx-id="drw"][data-mbx-drw-lc^="top"] {
  bottom: auto;
  top: 0;
  display: flex;
  flex-direction: column-reverse;
  --mbx-drw-an-in: slide-in-top 0.3s forwards;
  --mbx-drw-an-out: slide-out-top 0.3s forwards;
}

[data-mbx-id="drw"][data-mbx-drw-lc^="top"],
[data-mbx-id="drw"][data-mbx-drw-lc^="bottom"] {
  max-height: 95%;
}

[data-mbx-id="drw"][data-mbx-drw-lc="top"],
[data-mbx-id="drw"][data-mbx-drw-lc="bottom"] {
  left: 0;
  right: 0;
  width: 100%;
}

[data-mbx-id="drw"][data-mbx-drw-lc="left"],
[data-mbx-id="drw"][data-mbx-drw-lc="right"] {
  top: 0;
  bottom: 0;
  height: 100%;
}

[data-mbx-id="drw"][data-mbx-drw-lc="left"] {
  --mbx-drw-an-in: slide-in-left 0.3s forwards;
  --mbx-drw-an-out: slide-out-left 0.3s forwards;
  display: flex;
  flex-direction: row-reverse;
}

[data-mbx-id="drw"][data-mbx-drw-lc="right"] {
  --mbx-drw-an-in: slide-in-right 0.3s forwards;
  --mbx-drw-an-out: slide-out-right 0.3s forwards;
  display: flex;
  flex-direction: row;
}

[data-mbx-id="drw"][data-mbx-drw-lc*="left"] {
  right: auto;
  left: 0;
}

[data-mbx-id="drw"][data-mbx-drw-lc*="right"] {
  left: auto;
  right: 0;
}
