@import url("positions.css");
@import url("close-button.css");

[data-mbx-id="drawer"] {
  position: fixed;
  z-index: 10;
  padding: 0;
  display: flex;
  background: var(--mbx-c-draw-bg);
  color: var(--mbx-c-draw-txt);
}

[data-mbx-id="drawer"]:not([data-mbx-atts*="disabled"]) {
  animation: var(--mbx-drawer-animation);
  -moz-animation: var(--mbx-drawer-animation);
  -ms-animation: var(--mbx-drawer-animation);
  -o-animation: var(--mbx-drawer-animation);
}

[data-mbx-id="drawer"] > [data-mbx-scl*="drw-cont"]::-webkit-scrollbar {
  display: none !important;
}

[data-mbx-id="drawer"] > [data-mbx-scl*="drw-cont"] {
  overflow-y: auto;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

[data-mbx-id="drawer"][data-mbx-drw-an="ease-in"] {
  --mbx-drawer-animation: var(--mbx-drawer-animation-in);
}

[data-mbx-id="drawer"][data-mbx-drw-an="ease-out"] {
  --mbx-drawer-animation: var(--mbx-drawer-animation-out);
}
