@import url("positions.css");

[data-mbx-id="drawer"] {
  position: fixed;
  z-index: 10;
  padding: 0;
  display: flex;
  animation: var(--mbx-drawer-animation);
  -moz-animation: var(--mbx-drawer-animation);
  -ms-animation: var(--mbx-drawer-animation);
  -o-animation: var(--mbx-drawer-animation);
  background: var(--mbx-c-draw-bg);
  color: var(--mbx-c-draw-txt);
  display: flex;
}

[data-mbx-id="drawer"] > [data-mbx-class="drawer-content"]::-webkit-scrollbar {
  display: none !important;
}

[data-mbx-id="drawer"] > [data-mbx-class="drawer-content"] {
  overflow-y: auto;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

[data-mbx-id="drawer"] > [data-mbx-class="drawer-close-button"] {
  border: 0;
  background: transparent;
  margin: auto;
}

[data-mbx-id="drawer"][data-mbx-drawer-location^="bottom"]
  > [data-mbx-class="drawer-close-button"] {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.1rem;
}

[data-mbx-id="drawer"][data-mbx-drawer-location^="top"]
  > [data-mbx-class="drawer-close-button"] {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.1rem;
}

[data-mbx-id="drawer"][data-mbx-drawer-location="right"]
  > [data-mbx-class="drawer-close-button"],
[data-mbx-id="drawer"][data-mbx-drawer-location="left"]
  > [data-mbx-class="drawer-close-button"] {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: fit-content;
}

[data-mbx-id="drawer"][data-mbx-drawer-location="right"]
  > [data-mbx-class="drawer-close-button"] {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  padding-left: 0.1rem;
}

[data-mbx-id="drawer"][data-mbx-drawer-location="left"]
  > [data-mbx-class="drawer-close-button"] {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding-right: 0.1rem;
}

[data-mbx-id="drawer"] > [data-mbx-class="drawer-close-button"]:focus-visible {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
}

[data-mbx-id="drawer"] > [data-mbx-class="drawer-close-button"] svg {
  fill: var(--mbx-c-draw-arr);
  margin: auto;
}

[data-mbx-id="drawer"][data-mbx-drawer-location^="top"]
  > [data-mbx-class="drawer-close-button"]
  svg {
  transform: rotate(90deg);
}

[data-mbx-id="drawer"][data-mbx-drawer-location^="bottom"]
  > [data-mbx-class="drawer-close-button"]
  svg {
  transform: rotate(-90deg);
}

[data-mbx-id="drawer"][data-mbx-drawer-location="right"]
  > [data-mbx-class="drawer-close-button"]
  svg {
  transform: rotate(180deg);
}

[data-mbx-id="drawer"]
  > [data-mbx-class="drawer-close-button"]:focus-visible
  svg {
  fill: var(--mbx-c-draw-arr-h);
}

[data-mbx-id="drawer"][data-mbx-drawer-animation="ease-in"] {
  --mbx-drawer-animation: var(--mbx-drawer-animation-in);
}

[data-mbx-id="drawer"][data-mbx-drawer-animation="ease-out"] {
  --mbx-drawer-animation: var(--mbx-drawer-animation-out);
}

@media (hover) {
  [data-mbx-id="drawer"][data-mbx-enabled="true"]
    [data-mbx-class="drawer-close-button"]
    svg:hover {
    fill: var(--mbx-c-draw-arr-h);
  }
}
