@import url("positions.css");
@import url("close-button.css");

[data-mbx-id="drw"] {
  position: fixed;
  z-index: 10;
  padding: 0;
  background: var(--mbx-c-draw-bg);
  color: var(--mbx-c-draw-txt);
  animation: var(--mbx-drw-an);
  -moz-animation: var(--mbx-drw-an);
  -ms-animation: var(--mbx-drw-an);
  -o-animation: var(--mbx-drw-an);
}

[data-mbx-id="drw"] > div::-webkit-scrollbar {
  display: none !important;
}

[data-mbx-id="drw"] > div {
  overflow-y: auto;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

[data-mbx-id="drw"] > [data-mbx-id="icb"] {
  --mbx-ic-arr: var(--mbx-c-draw-arr);
  --mbx-ic-arr-h: var(--mbx-c-draw-arr-h);
}
