[data-mbx-id="rater"] {
  align-items: center;
  text-align: center;
  background: var(--mbx-c-rat-bg);
  border-radius: 8px;
  padding: 0.4rem;
  width: fit-content;
}

[data-mbx-id="rater"] [data-mbx-scl*="rt-ic"] {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
