[data-mbx-id="rat"] {
  background: var(--mbx-c-rat-bg);
  border-radius: 8px;
  padding: 0.4rem;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
  align-items: center;
  text-align: center;
}

[data-mbx-id="rat"] svg {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
