[data-mobrix-ui-id="rater"] {
  display: flex;
  align-items: center;
  text-align: center;
  background: var(--mobrix-ui-computed-rater-background);
}

[data-mobrix-ui-id="rater"][data-mobrix-ui-styled="true"] {
  border-radius: 8px;
  padding: 0.4rem;
}

[data-mobrix-ui-id="rater"][data-mobrix-ui-vertical="false"] {
  flex-direction: row;
}

[data-mobrix-ui-id="rater"][data-mobrix-ui-vertical="true"] {
  flex-direction: column;
  width: fit-content;
}

[data-mobrix-ui-id="rater"] [data-mobrix-ui-class="rater-icon"] {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
