:root {
  --base-font-size: 14px;
  --theme-color: #646464;
  --cover-background-image: linear-gradient(
    317deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(22, 17, 51) 71%,
    rgba(27, 17, 55, 1) 100%
  );
}
