@import url("computed.css");

[data-mbx-id]:not([data-mbx-attributes*="dark"]) {
  /** Carousel */
  --mbx-c-car-arr-h: var(--mbx-c-car-arr-h-l);

  /** DismissableCard **/
  --mbx-c-dcard-bg: var(--mbx-c-dcard-bg-l);
  --mbx-c-dcard-txt: var(--mbx-c-dcard-txt-l);

  /** ExpandableContainer **/
  --mbx-c-exp-bg: var(--mbx-c-exp-bg-l);
  --mbx-c-exp-text: var(--mbx-c-exp-txt-l);
  --mbx-c-exp-arr: var(--mbx-c-exp-arr-l);
  --mbx-c-exp-arr-h: var(--mbx-c-exp-arr-h-l);

  /** List */

  --mbx-c-lst-txt-h: var(--mbx-c-lst-txt-h-l);

  /** RadioButton Group */
  --mbx-c-radg-rad-bg: var(--mbx-c-radg-rad-bg-l);
  --mbx-c-radg-rad-bg-h: var(--mbx-c-radg-rad-bg-h-l);
  --mbx-c-radg-rad-ic-bg: var(--mbx-c-radg-rad-ic-bg-l);
}

[data-mbx-id][data-mbx-attributes*="dark"] {
  /** Carousel */
  --mbx-c-car-arr-h: var(--mbx-c-car-arr-h-d);

  /** DismissableCard **/
  --mbx-c-dcard-bg: var(--mbx-c-dcard-bg-d);
  --mbx-c-dcard-txt: var(--mbx-c-dcard-txt-d);

  /** ExpandableContainer **/
  --mbx-c-exp-bg: var(--mbx-c-exp-bg-d);
  --mbx-c-exp-text: var(--mbx-c-exp-txt-d);
  --mbx-c-exp-arr: var(--mbx-c-exp-arr-d);
  --mbx-c-exp-arr-h: var(--mbx-c-exp-arr-h-d);

  /** List */

  --mbx-c-lst-txt-h: var(--mbx-c-lst-txt-h-d);

  /** RadioButton Group */
  --mbx-c-radg-rad-bg: var(--mbx-c-radg-rad-bg-d);
  --mbx-c-radg-rad-bg-h: var(--mbx-c-radg-rad-bg-h-d);
  --mbx-c-radg-rad-ic-bg: var(--mbx-c-radg-rad-ic-bg-d);
}
