[data-mbx-id="dismissable-card"] {
  background: var(--mbx-c-dcard-bg);
  color: var(--mbx-c-dcard-txt);
}

[data-mbx-id="expandable-container"] {
  background: var(--mbx-c-exp-bg);
  color: var(--mbx-c-exp-text);
}

[data-mbx-id="expandable-container"] [data-mbx-class="arrow"] {
  fill: var(--mbx-c-exp-arr);
}

[data-mbx-id="expandable-container"][data-mbx-attributes*="a11y"]
  [data-mbx-class="container-arrow-button"]:focus-visible
  svg {
  fill: var(--mbx-c-exp-arr-h);
}

[data-mbx-id="radio-button-group"] [data-mbx-id="radio-button"] {
  --mbx-radio-background: var(--mbx-c-radg-rad-bg);
  --mbx-radio-background-hover: var(--mbx-c-radg-rad-bg-h);
  --mbx-radio-icon-background: var(--mbx-c-radg-rad-ic-bg);
}

[data-mbx-id="form-field"] {
  --mbx-counterbox-background: var(--mbx-c-field-bg);
  --mbx-counterbox-text-color: var(--mbx-c-field-txt);
  --mbx-counterbox-background-hover: var(--mbx-c-field-bg-h);
  --mbx-counterbox-text-color-hover: var(--mbx-c-field-txt-h);

  --mbx-checkbox-background: var(--mbx-c-field-bg);
  --mbx-checkbox-text-color: var(--mbx-c-field-txt);
  --mbx-checkbox-background-hover: var(--mbx-c-field-bg-h);
  --mbx-checkbox-text-color-hover: var(--mbx-c-field-txt-h);

  --mbx-inputbox-background: var(--mbx-c-field-bg);
  --mbx-inputbox-text-color: var(--mbx-c-field-txt);
  --mbx-inputbox-background-hover: var(--mbx-c-field-bg-h);
  --mbx-inputbox-text-color-hover: var(--mbx-c-field-txt-h);

  --mbx-radio-background: var(--mbx-c-field-bg-l);
  --mbx-radio-background-hover: var(--mbx-c-field-bg-h);

  --mbx-rater-background: var(--mbx-c-field-bg);
  --mbx-rater-background-hover: var(--mbx-c-field-bg-h);

  --mbx-slider-background: var(--mbx-c-field-bg);

  --mbx-toggle-background: var(--mbx-c-field-bg);
}

[data-mbx-id="modal"]
  > [data-mbx-class="modal-window"]
  > [data-mbx-class="header"] {
  --mbx-dismissablecard-x-color: var(--mbx-c-mod-x);
  --mbx-dismissablecard-x-color-hover: var(--mbx-c-mod-x-h);
}
