[data-mbx-id="dis-card"] {
  background: var(--mbx-c-dcard-bg);
  color: var(--mbx-c-dcard-txt);
}

[data-mbx-id="exp-cont"] {
  background: var(--mbx-c-exp-bg);
  color: var(--mbx-c-exp-text);
}

[data-mbx-id="exp-cont"] [data-mbx-scl*="con-arr-bt"] svg {
  fill: var(--mbx-c-exp-arr);
}

[data-mbx-id="exp-cont"][data-mbx-atts*="a11y"]
  [data-mbx-scl*="con-arr-bt"]:focus-visible
  svg {
  fill: var(--mbx-c-exp-arr-h);
}

[data-mbx-id="radio-group"] [data-mbx-id="radio"] {
  --mbx-radio-background: var(--mbx-c-radg-rad-bg);
  --mbx-radio-background-hover: var(--mbx-c-radg-rad-bg-h);
  --mbx-radio-icon-background: var(--mbx-c-radg-rad-ic-bg);
}

[data-mbx-id="field"] {
  --mbx-counterbox-background: var(--mbx-c-field-bg);
  --mbx-counterbox-text-color: var(--mbx-c-field-txt);
  --mbx-counterbox-background-hover: var(--mbx-c-field-bg-h);
  --mbx-counterbox-text-color-hover: var(--mbx-c-field-txt-h);

  --mbx-checkbox-background: var(--mbx-c-field-bg);
  --mbx-checkbox-text-color: var(--mbx-c-field-txt);
  --mbx-checkbox-background-hover: var(--mbx-c-field-bg-h);
  --mbx-checkbox-text-color-hover: var(--mbx-c-field-txt-h);

  --mbx-inputbox-background: var(--mbx-c-field-bg);
  --mbx-inputbox-text-color: var(--mbx-c-field-txt);
  --mbx-inputbox-background-hover: var(--mbx-c-field-bg-h);
  --mbx-inputbox-text-color-hover: var(--mbx-c-field-txt-h);

  --mbx-radio-background: var(--mbx-c-field-bg-l);
  --mbx-radio-background-hover: var(--mbx-c-field-bg-h);

  --mbx-rater-background: var(--mbx-c-field-bg);
  --mbx-rater-background-hover: var(--mbx-c-field-bg-h);

  --mbx-slider-background: var(--mbx-c-field-bg);

  --mbx-toggle-background: var(--mbx-c-field-bg);
}

[data-mbx-id="modal"] > [data-mbx-id="dis-card"] > [data-mbx-scl*="head"] {
  --mbx-dismissablecard-x-color: var(--mbx-c-mod-x);
  --mbx-dismissablecard-x-color-hover: var(--mbx-c-mod-x-h);
}
