[data-mbx-id="crsel"]
  > [data-mbx-cls="car-els"]
  > [data-mbx-id="icb"]
  > [data-mbx-img="arr"] {
  --mbx-icon-light: var(
    --mbx-carousel-arrow-color-light,
    var(--mbx-carousel-arrow-color, var(--mbx-c-txt))
  );
  --mbx-icon-dark: var(
    --mbx-carousel-arrow-color-dark,
    var(--mbx-carousel-arrow-color, var(--mbx-c-txt))
  );
  --mbx-icon-hover-light: var(
    --mbx-carousel-arrow-color-hover-light,
    var(--mbx-carousel-arrow-color-hover, #287dfd)
  );
  --mbx-icon-hover-dark: var(
    --mbx-carousel-arrow-color-hover-dark,
    var(--mbx-carousel-arrow-color-hover, #ff8007)
  );
}

[data-mbx-id="dis-card"] {
  --mbx-card-background-light: var(
    --mbx-dismissablecard-background-light,
    var(--mbx-dismissablecard-background)
  );
  --mbx-card-background-text-color-light: var(
    --mbx-dismissablecard-text-color-light,
    var(--mbx-dismissablecard-text-color)
  );
  --mbx-card-background-dark: var(
    --mbx-dismissablecard-background-dark,
    var(--mbx-dismissablecard-background)
  );
  --mbx-card-background-text-color-dark: var(
    --mbx-dismissablecard-text-color-dark,
    var(--mbx-dismissablecard-text-color)
  );
}

[data-mbx-id="rgroup"] [data-mbx-id="radio"] {
  --mbx-radio-background-light: var(
    --mbx-radiogroup-radio-background-light,
    var(--mbx-radiogroup-radio-background)
  );
  --mbx-radio-background-hover-light: var(
    --mbx-radiogroup-radio-background-hover-light,
    var(--mbx-radiogroup-radio-background-hover)
  );
  --mbx-radio-icon-background-light: var(
    --mbx-radiogroup-radio-icon-background-light,
    var(--mbx-radiogroup-radio-icon-background)
  );
  --mbx-radio-background-dark: var(
    --mbx-radiogroup-radio-background-dark,
    var(--mbx-radiogroup-radio-background)
  );
  --mbx-radio-background-hover-dark: var(
    --mbx-radiogroup-radio-background-hover-dark,
    var(--mbx-radiogroup-radio-background-hover)
  );
  --mbx-radio-icon-background-dark: var(
    --mbx-radiogroup-radio-icon-background-dark,
    var(--mbx-radiogroup-radio-icon-background)
  );
}

[data-mbx-id="field"] {
  --mbx-counterbox-background: var(--mbx-c-field-bg);
  --mbx-counterbox-text-color: var(--mbx-c-field-txt);
  --mbx-counterbox-background-hover: var(--mbx-c-field-bg-h);
  --mbx-counterbox-text-color-hover: var(--mbx-c-field-txt-h);

  --mbx-checkbox-background: var(--mbx-c-field-bg);
  --mbx-checkbox-text-color: var(--mbx-c-field-txt);
  --mbx-checkbox-background-hover: var(--mbx-c-field-bg-h);
  --mbx-checkbox-text-color-hover: var(--mbx-c-field-txt-h);

  --mbx-inputbox-background: var(--mbx-c-field-bg);
  --mbx-inputbox-text-color: var(--mbx-c-field-txt);
  --mbx-inputbox-background-hover: var(--mbx-c-field-bg-h);
  --mbx-inputbox-text-color-hover: var(--mbx-c-field-txt-h);

  --mbx-radio-background: var(--mbx-c-field-bg);
  --mbx-radio-background-hover: var(--mbx-c-field-bg-h);

  --mbx-rater-background: var(--mbx-c-field-bg);
  --mbx-rater-background-hover: var(--mbx-c-field-bg-h);

  --mbx-slider-background: var(--mbx-c-field-bg);

  --mbx-toggle-background: var(--mbx-c-field-bg);
}

[data-mbx-id="mod"] > [data-mbx-id="dis-card"] > [data-mbx-cls="dchead"] {
  --mbx-dismissablecard-x-color-light: var(
    --mbx-modal-x-color-light,
    var(--mbx-modal-x-color, white)
  );
  --mbx-dismissablecard-x-color-hover-light: var(
    --mbx-modal-x-color-hover-light,
    var(--mbx-modal-x-color-hover)
  );
  --mbx-dismissablecard-x-color-dark: var(
    --mbx-modal-x-color-dark,
    var(--mbx-modal-x-color, white)
  );
  --mbx-dismissablecard-x-color-hover-dark: var(
    --mbx-modal-x-color-hover-dark,
    var(--mbx-modal-x-color-hover)
  );
}

[data-mbx-id="dd"] {
  --mbx-dd-bg-l: var(
    --mbx-dropdown-background-light,
    var(--mbx-dropdown-background)
  );
  --mbx-dd-bg-d: var(
    --mbx-dropdown-background-dark,
    var(--mbx-dropdown-background)
  );
  --mbx-dd-txt-l: var(
    --mbx-dropdown-text-color-light,
    var(--mbx-dropdown-text-color)
  );
  --mbx-dd-txt-d: var(
    --mbx-dropdown-text-color-dark,
    var(--mbx-dropdown-text-color)
  );
}

[data-mbx-id="dd"] > [data-mbx-id="btn"] {
  --mbx-button-background-light: var(--mbx-dd-bg-l);
  --mbx-button-background-dark: var(--mbx-dd-bg-d);
  --mbx-icon-light: var(
    --mbx-dropdown-arrow-color-light,
    var(--mbx-dropdown-arrow-color, var(--mbx-dd-txt-l))
  );
  --mbx-icon-hover-light: var(
    --mbx-dropdown-arrow-color-hover-light,
    var(--mbx-dropdown-arrow-color-hover)
  );
  --mbx-icon-dark: var(
    --mbx-dropdown-arrow-color-dark,
    var(--mbx-dropdown-arrow-color, var(--mbx-dd-txt-d))
  );
  --mbx-icon-hover-dark: var(
    --mbx-dropdown-arrow-color-hover-dark,
    var(--mbx-dropdown-arrow-color-hover)
  );
}

[data-mbx-id="dd"] > [data-mbx-id="btn"],
[data-mbx-id="dd"]
  > [data-mbx-id="popup"]
  > [data-mbx-id="cont"]
  > [data-mbx-id="btn"] {
  --mbx-button-background-hover-light: var(
    --mbx-dropdown-background-hover-light,
    var(--mbx-dropdown-background-hover, var(--mbx-c-bg-h))
  );
  --mbx-button-text-color-light: var(--mbx-dd-txt-l);
  --mbx-button-text-color-hover-light: var(
    --mbx-dropdown-text-color-hover-light,
    var(--mbx-dropdown-text-color-hover, var(--mbx-c-txt-h))
  );
  --mbx-button-background-hover-dark: var(
    --mbx-dropdown-background-hover-dark,
    var(--mbx-dropdown-background-hover, var(--mbx-c-bg-h))
  );
  --mbx-button-text-color-dark: var(--mbx-dd-txt-d);
  --mbx-button-text-color-hover-dark: var(
    --mbx-dropdown-text-color-hover-dark,
    var(--mbx-dropdown-text-color-hover, var(--mbx-c-txt-h))
  );
}

[data-mbx-id="dd"] > [data-mbx-id="popup"] {
  --mbx-popup-text-color-light: var(--mbx-dd-txt-l);
  --mbx-popup-background-light: var(--mbx-dd-bg-l);
  --mbx-popup-text-color-dark: var(--mbx-dd-txt-d);
  --mbx-popup-background-dark: var(--mbx-dd-bg-d);
}

[data-mbx-id="dd"]
  > [data-mbx-id="popup"]
  > [data-mbx-id="cont"]
  > [data-mbx-id="btn"] {
  background-color: transparent;
  --mbx-button-background: transparent;
}

[data-mbx-id="dis-card"] > [data-mbx-cls="dchead"] > [data-mbx-id="icb"] {
  padding: 0;
  margin-left: auto;
  display: flex;
  flex-direction: row-reverse;
  width: fit-content;
  --mbx-icon-light: var(
    --mbx-dismissablecard-x-color-light,
    var(--mbx-dismissablecard-x-color, var(--mbx-c-dcard-txt))
  );
  --mbx-icon-hover-light: var(
    --mbx-dismissablecard-x-color-hover-light,
    var(--mbx-dismissablecard-x-color-hover, red)
  );
  --mbx-icon-dark: var(
    --mbx-dismissablecard-x-color-dark,
    var(--mbx-dismissablecard-x-color, var(--mbx-c-dcard-txt))
  );
  --mbx-icon-hover-dark: var(
    --mbx-dismissablecard-x-color-hover-dark,
    var(--mbx-dismissablecard-x-color-hover, red)
  );
}

[data-mbx-id="econt"] > [data-mbx-id="icb"] > [data-mbx-img="arr"] {
  --mbx-icon-light: var(
    --mbx-expandablecontainer-arrow-color-light,
    var(--mbx-expandablecontainer-arrow-color, var(--mbx-c-exp-txt))
  );
  --mbx-icon-hover-light: var(
    --mbx-expandablecontainer-arrow-color-hover-light,
    var(--mbx-expandablecontainer-arrow-color-hover)
  );
  --mbx-icon-dark: var(
    --mbx-expandablecontainer-arrow-color-dark,
    var(--mbx-expandablecontainer-arrow-color, var(--mbx-c-exp-txt))
  );
  --mbx-icon-hover-dark: var(
    --mbx-expandablecontainer-arrow-color-hover-dark,
    var(--mbx-expandablecontainer-arrow-color-hover)
  );
}
