@media (hover) {
  [data-mbx-id="crsel"] [data-mbx-img="arr"]:hover {
    fill: var(--mbx-c-car-arr-h);
  }

  [data-mbx-id="econ"]:not([data-mbx-atts*="dsb"])
    [data-mbx-cls="econ-b"]
    svg:hover {
    --mbx-c-exp-arr: var(--mbx-c-exp-arr-h);
  }

  [data-mbx-id="list"][data-mbx-atts*="hv"] [data-mbx-scl*="click"]:hover {
    color: var(--mbx-c-lst-txt-h);
  }
}
