@media (hover) {
  [data-mbx-id="carousel"]
    [data-mbx-arrow]:not([data-mbx-atts*="dsb"]):hover
    svg {
    fill: var(--mbx-c-car-arr-h) !important;
  }

  [data-mbx-id="econ"]:not([data-mbx-atts*="dsb"])
    [data-mbx-scl*="econ-b"]
    svg:hover {
    fill: var(--mbx-c-exp-arr-h);
  }

  [data-mbx-id="list"][data-mbx-atts*="hv"] [data-mbx-scl*="click"]:hover {
    color: var(--mbx-c-lst-txt-h);
  }
}
