[data-mbx-id="calendar"] {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  --mobrix-ui-table-background: var(--mbx-c-cal-bg);
  --mobrix-ui-table-text-color: var(--mbx-c-cal-txt);
}

[data-mbx-id="calendar"] [data-mbx-class="actual-date"] {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}

[data-mbx-id="calendar"][data-mbx-styled="true"]
  [data-mbx-calendar-table="true"] {
  width: 100%;
  margin: auto;
}

[data-mbx-id="calendar"][data-mbx-styled="true"]
  [data-mbx-calendar-table="true"]
  tr[data-mbx-table-row="true"]
  [data-mbx-table-cell="true"] {
  font-size: medium;
  font-weight: 700;
}

[data-mbx-id="calendar"][data-mbx-styled="true"]
  [data-mbx-calendar-table="true"]
  tr[data-mbx-table-row="true"]
  td[data-mbx-table-cell="true"] {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: larger;
  transition: 0.3s;
}

[data-mbx-id="calendar"][data-mbx-styled="true"]
  [data-mbx-calendar-table="true"]
  tr[data-mbx-table-row="true"]
  th[data-mbx-table-cell="true"] {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: x-large;
}

[data-mbx-id="calendar"][data-mbx-styled="true"]
  [data-mbx-calendar-table="true"]
  tr[data-mbx-table-row="true"]
  [data-mbx-table-cell="true"][data-mbx-selected="true"] {
  cursor: default;
  background: var(--mbx-c-cal-s-bg);
  color: var(--mbx-c-cal-s-txt);
}

[data-mbx-id="calendar"] [data-mbx-class="top-selector"] {
  display: flex;
  flex-direction: row;
}

[data-mbx-id="calendar"][data-mbx-styled="true"]
  [data-mbx-class="top-selector"] {
  margin: auto;
  margin-bottom: 1.2rem;
  width: 100%;
  color: var(--mbx-c-cal-txt);
}

[data-mbx-id="calendar"] [data-mbx-calendar-arrow="right"] {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

[data-mbx-id="calendar"][data-mbx-styled="true"]
  [data-mbx-calendar-arrow]
  svg {
  fill: var(--mbx-c-cal-arr);
  width: 3rem;
  height: 3rem;
  transition: 0.3s;
}

[data-mbx-id="calendar"][data-mbx-styled="true"]
  [data-mbx-calendar-table="true"]
  tr[data-mbx-table-row="true"]
  [data-mbx-table-cell="true"][data-mbx-calendar-today="true"],
[data-mbx-calendar-table="true"]
  tr[data-mbx-table-row="true"]
  [data-mbx-table-cell="true"][data-mbx-calendar-today="true"] {
  color: var(--mbx-c-cal-t);
  font-weight: 800;
}

[data-mbx-id="calendar"][data-mbx-styled="true"]
  [data-mbx-calendar-arrow]:active
  svg {
  fill: var(--mbx-c-cal-arr-h);
}

@media (hover) {
  [data-mbx-id="calendar"][data-mbx-styled="true"][data-mbx-enabled="true"]
    [data-mbx-calendar-table="true"]
    tr[data-mbx-table-row="true"]
    td[data-mbx-table-cell="true"]:not(
      [data-mbx-selected="true"]
    ):not([data-mbx-disabled="true"]):hover {
    background: var(--mbx-c-cal-bg-h);
    color: var(--mbx-c-cal-txt-h);
  }

  [data-mbx-id="calendar"][data-mbx-styled="true"][data-mbx-enabled="true"]
    [data-mbx-calendar-arrow]:hover
    svg {
    fill: var(--mbx-c-cal-arr-h);
  }
}

@media (max-width: 500px) {
  [data-mbx-id="calendar"][data-mbx-styled="true"]
    [data-mbx-calendar-table="true"]
    tr[data-mbx-table-row="true"]
    th[data-mbx-table-cell="true"] {
    margin: 0;
    font-size: larger;
    padding: 0.3rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }

  [data-mbx-id="calendar"][data-mbx-styled="true"]
    [data-mbx-calendar-table="true"]
    tr[data-mbx-table-row="true"]
    td[data-mbx-table-cell="true"] {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  [data-mbx-id="calendar"][data-mbx-styled="true"]
    [data-mbx-calendar-table="true"] {
    width: 100%;
  }

  [data-mbx-id="calendar"] [data-mbx-class="actual-date"] {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  [data-mbx-id="calendar"][data-mbx-styled="true"]
    [data-mbx-calendar-table="true"]
    tr[data-mbx-table-row="true"]
    th[data-mbx-table-cell="true"] {
    margin: 0;
    font-size: large;
    padding: 0.2rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }

  [data-mbx-id="calendar"] [data-mbx-class="actual-date"] {
    font-size: 1.4rem;
  }
}

@media (max-width: 340px) {
  [data-mbx-id="calendar"][data-mbx-styled="true"]
    [data-mbx-calendar-table="true"]
    tr[data-mbx-table-row="true"]
    th[data-mbx-table-cell="true"] {
    padding: 0.1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin: 0;
    font-size: medium;
  }

  [data-mbx-id="calendar"] [data-mbx-class="actual-date"] {
    font-size: 1.3rem;
  }
}

@media (max-width: 310px) {
  [data-mbx-id="calendar"][data-mbx-styled="true"]
    [data-mbx-calendar-table="true"]
    tr[data-mbx-table-row="true"]
    th[data-mbx-table-cell="true"] {
    display: none;
  }

  [data-mbx-id="calendar"][data-mbx-styled="true"]
    [data-mbx-calendar-table="true"]
    tr[data-mbx-table-row="true"]
    td[data-mbx-table-cell="true"] {
    padding: 0;
    margin: 0;
  }
}
