[data-mbx-id="cal"] {
  --mbx-table-background: var(--mbx-c-cal-bg);
  --mbx-table-text-color: var(--mbx-c-cal-txt);
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  text-align: center;
}

[data-mbx-id="cal"] > div {
  margin-bottom: 1.2rem;
  color: var(--mbx-c-cal-txt);
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 100%;
}

[data-mbx-id="cal"] > div > [data-mbx-id="label"] {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  margin: auto;
}

[data-mbx-id="cal"] > div > [data-mbx-id="icb"] {
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  transition: 0.3s;
}

[data-mbx-id="cal"] > [data-mbx-id="table"] {
  margin: auto;
  width: 100%;
  margin-top: 1rem;
}

[data-mbx-id="cal"] [data-mbx-tcell="true"] {
  font-size: medium;
  font-weight: 700;
}

[data-mbx-id="cal"] td[data-mbx-tcell="true"] {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: larger;
  transition: 0.3s;
}

[data-mbx-id="cal"] th[data-mbx-tcell="true"] {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: x-large;
}

[data-mbx-id="cal"] [data-mbx-scal="true"] {
  cursor: default;
  background: var(--mbx-c-cal-bg-s);
  color: var(--mbx-c-cal-txt-s);
}

[data-mbx-id="cal"] [data-mbx-ctoday="true"] {
  color: var(--mbx-c-cal-t);
  font-weight: 800;
}

[data-mbx-id="cal"] [data-mbx-cls="dsb"] {
  opacity: 0.4;
}

[data-mbx-id="cal"] td:focus-visible {
  background: var(--mbx-c-cal-bg-h);
  color: var(--mbx-c-cal-txt-h);
}

[data-mbx-id="cal"] td[data-mbx-cls="dsb"]:focus-visible {
  background: var(--mbx-c-cal-bg);
  color: var(--mbx-c-cal-txt);
}

@media (hover) {
  [data-mbx-id="cal"] td:hover {
    background: var(--mbx-c-cal-bg-h);
    color: var(--mbx-c-cal-txt-h);
  }

  [data-mbx-id="cal"] td[data-mbx-cls="dsb"]:hover {
    background: var(--mbx-c-cal-bg);
    color: var(--mbx-c-cal-txt);
  }
}

@media (max-width: 500px) {
  [data-mbx-id="cal"] th[data-mbx-tcell="true"] {
    margin: 0;
    font-size: larger;
    padding: 0.3rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }

  [data-mbx-id="cal"] td[data-mbx-tcell="true"] {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  [data-mbx-id="cal"] table {
    width: 100%;
  }

  [data-mbx-id="cal"] > div > [data-mbx-id="label"] {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  [data-mbx-id="cal"] th[data-mbx-tcell="true"] {
    margin: 0;
    font-size: large;
    padding: 0.2rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }

  [data-mbx-id="cal"] > div > [data-mbx-id="label"] {
    font-size: 1.4rem;
  }
}

@media (max-width: 340px) {
  [data-mbx-id="cal"] th[data-mbx-tcell="true"] {
    padding: 0.1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin: 0;
    font-size: medium;
  }

  [data-mbx-id="cal"] > div > [data-mbx-id="label"] {
    font-size: 1.3rem;
  }
}

@media (max-width: 320px) {
  [data-mbx-id="cal"] th[data-mbx-tcell="true"] {
    display: none;
  }

  [data-mbx-id="cal"] td[data-mbx-tcell="true"] {
    padding: 0;
    margin: 0;
  }
}
