#mobrix-ui-calendar,
#mobrix-ui-calendar .label-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mobrix-ui-calendar .selector-element,
#mobrix-ui-calendar .arrow svg {
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
  display: inline-block;
}

#mobrix-ui-calendar .date-element {
  color: var(--mobrix-ui-text-color);
  width: 100%;
}

#mobrix-ui-calendar .date-element .today {
  color: red;
  font-weight: 600;
}

#mobrix-ui-calendar #mobrix-ui-table .element {
  padding: 0;
}

#mobrix-ui-calendar .date-element {
  padding: 0.35rem;
}

#mobrix-ui-calendar .date-element.selected {
  background: var(--mobrix-ui-background-dark);
}

#mobrix-ui-calendar .date-element.selected .date-label {
  color: white;
  font-size: 1.2rem;
}

#mobrix-ui-calendar .dates-box {
  display: flex;
  flex-direction: row;
}

#mobrix-ui-calendar .dates-selector {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

#mobrix-ui-calendar .right {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#mobrix-ui-calendar .arrow svg {
  fill: var(--mobrix-ui-text-color);
}

#mobrix-ui-calendar .day-label {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

#mobrix-ui-calendar .date-label {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

#mobrix-ui-calendar .selector-label {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

#mobrix-ui-calendar .selector-button {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  font-weight: 500;
}
