[data-mbx-id="tab-viewer"] {
  display: flex;
  flex-direction: column;
}

[data-mbx-id="tab-viewer"] [data-mbx-class="tabs-list"] {
  display: flex;
  flex-direction: row;
}

[data-mbx-id="tab-viewer"][data-mbx-styled="true"]
  [data-mbx-class="tabs-list"]
  [data-mbx-class="tab"] {
  padding: 0.7rem 1rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: var(--mbx-c-tabv-txt);
}

[data-mbx-id="tab-viewer"][data-mbx-styled="true"]
  [data-mbx-class="tabs-list"]
  [data-mbx-class="tab"][data-mbx-tab-viewer-selected="true"] {
  background: var(--mbx-c-tabv-bg);
  color: var(--mbx-c-tabv-txt);
}

[data-mbx-id="tab-viewer"]
  [data-mbx-class="tabs-list"]
  [data-mbx-class="tab"]:not(
    [data-mbx-tab-viewer-selected="true"]
  ) {
  background: var(--mbx-c-tabv-off-bg);
  color: var(--mbx-c-tabv-off-txt);
}

[data-mbx-id="tab-viewer"] [data-mbx-class="tab-view"] {
  padding: 0.7rem 1rem;
  background: var(--mbx-c-tabv-bg);
}

@media (hover) {
  [data-mbx-id="tab-viewer"][data-mbx-enabled="true"]
    [data-mbx-class="tabs-list"]
    [data-mbx-class="tab"]:not(
      [data-mbx-tab-viewer-selected="true"]
    ):hover {
    background: var(--mbx-c-tabv-off-bg-h);
    color: var(--mbx-c-tabv-off-txt-h);
  }
}
