[data-mbx-id="checkbox"] {
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: baseline;
  background-color: var(--mbx-c-chk-bg);
  text-align: center;
  padding: 0.2rem;
  margin: auto;
}

[data-mbx-id="checkbox"] > *:first-child {
  fill: var(--mbx-c-chk-tk);
}
