[data-mbx-id="dis-card"]:not([data-mbx-atts*="background"]),
[data-mbx-id="dis-card"]:not([data-mbx-atts*="background"]):hover {
  --mbx-c-dcard-bg: transparent !important;
}

[data-mbx-id="dropdown"]:not([data-mbx-atts*="background"]),
[data-mbx-id="dropdown"]:not([data-mbx-atts*="background"]):hover {
  --mbx-c-drop-bg: transparent !important;
  --mbx-c-drop-bg-h: transparent !important;
}

[data-mbx-id="card"]:not([data-mbx-atts*="background"]),
[data-mbx-id="card"]:not([data-mbx-atts*="background"]):hover {
  --mbx-c-card-bg: transparent !important;
}

[data-mbx-id="carousel"]:not([data-mbx-atts*="background"]),
[data-mbx-id="carousel"]:not([data-mbx-atts*="background"]):hover {
  --mbx-c-car-bg: transparent !important;
}

[data-mbx-id="table"]:not([data-mbx-atts*="background"]),
[data-mbx-id="table"]:not([data-mbx-atts*="background"]):hover {
  --mbx-c-table-bg: transparent !important;
  --mbx-c-table-head-bg: transparent !important;
}

[data-mbx-id="tab-viewer"]:not([data-mbx-atts*="background"]),
[data-mbx-id="tab-viewer"]:not([data-mbx-atts*="background"]):hover {
  --mbx-c-tabv-bg: transparent !important;
  --mbx-c-tabv-off-bg: transparent !important;
  --mbx-c-tabv-off-bg-h: transparent !important;
}

[data-mbx-id="cont"]:not([data-mbx-atts*="background"]),
[data-mbx-id="cont"]:not([data-mbx-atts*="background"]):hover {
  --mbx-c-con-bg: transparent !important;
}

[data-mbx-id="review"]:not([data-mbx-atts*="background"]),
[data-mbx-id="review"]:not([data-mbx-atts*="background"]):hover {
  --mbx-c-rev-bg: transparent !important;
}

[data-mbx-id="exp-cont"]:not([data-mbx-atts*="background"]),
[data-mbx-id="exp-cont"]:not([data-mbx-atts*="background"]):hover {
  --mbx-c-exp-bg: transparent !important;
}

[data-mbx-id="popup"]:not([data-mbx-atts*="background"]),
[data-mbx-id="popup"]:not([data-mbx-atts*="background"]):hover {
  --mbx-c-pop-bg: transparent !important;
}

[data-mbx-id="radio-group"]:not([data-mbx-atts*="background"]),
[data-mbx-id="radio-group"]:not([data-mbx-atts*="background"]):hover {
  --mbx-c-radg-bg: transparent !important;
}

[data-mbx-id="field"]:not([data-mbx-atts*="background"]),
[data-mbx-id="field"]:not([data-mbx-atts*="background"]):hover {
  --mbx-c-field-bg: transparent !important;
}
