@import url("constants/computed.css");

[data-mbx-id]:not([data-mbx-atts*="dk"]) {
  /** Card **/
  --mbx-c-card-bg: var(--mbx-c-card-bg-l);
  --mbx-c-card-txt: var(--mbx-c-card-txt-l);

  /** Carousel **/
  --mbx-c-car-bg: var(--mbx-c-car-bg-l);
  --mbx-c-car-arr: var(--mbx-c-car-arr-l);
  --mbx-c-car-dot-f: var(--mbx-c-car-dot-f-l);
  --mbx-c-car-dot-e: var(--mbx-c-car-dot-e-l);

  /** Container **/
  --mbx-c-con-bg: var(--mbx-c-con-bg-l);
  --mbx-c-con-txt: var(--mbx-c-con-txt-l);

  /** DismissableCard **/
  --mbx-c-dcard-x: var(--mbx-c-dcard-x-l);
  --mbx-c-dcard-x-h: var(--mbx-c-dcard-x-h-l);

  /** Dropdown **/
  --mbx-c-drop-arr: var(--mbx-c-drop-arr-l);
  --mbx-c-drop-arr-h: var(--mbx-c-drop-arr-h-l);
  --mbx-c-drop-bg: var(--mbx-c-drop-bg-l);
  --mbx-c-drop-bg-h: var(--mbx-c-drop-bg-h-l);
  --mbx-c-drop-txt: var(--mbx-c-drop-txt-l);
  --mbx-c-drop-txt-h: var(--mbx-c-drop-txt-h-l);

  /** FormField **/
  --mbx-c-field-bg: var(--mbx-c-field-bg-l);
  --mbx-c-field-txt: var(--mbx-c-field-txt-l);
  --mbx-c-field-bg-h: var(--mbx-c-field-bg-h-l);
  --mbx-c-field-txt-h: var(--mbx-c-field-txt-h-l);
  --mbx-c-field-err-b: var(--mbx-c-field-err-b-l);
  --mbx-c-field-err-txt: var(--mbx-c-field-err-txt-l);

  /** List **/
  --mbx-c-lst-txt: var(--mbx-c-lst-txt-l);

  /** Modal **/
  --mbx-c-mod-bg: var(--mbx-c-mod-bg-l);
  --mbx-c-mod-x: var(--mbx-c-mod-x-l);
  --mbx-c-mod-x-h: var(--mbx-c-mod-x-h-l);

  /** Popup **/
  --mbx-c-pop-bg: var(--mbx-c-pop-bg-l);
  --mbx-c-pop-txt: var(--mbx-c-pop-txt-l);

  /** RadioButtonGroup **/
  --mbx-c-radg-bg: var(--mbx-c-radg-bg-l);
  --mbx-c-radg-txt: var(--mbx-c-radg-txt-l);

  /** Review **/
  --mbx-c-rev-bg: var(--mbx-c-rev-bg-l);
  --mbx-c-rev-txt: var(--mbx-c-rev-txt-l);
  --mbx-c-rev-link: var(--mbx-c-rev-link-l);
  --mbx-c-rev-gh: var(--mbx-c-rev-gh-l);

  /** Table **/
  --mbx-c-table-bg: var(--mbx-c-table-bg-l);
  --mbx-c-table-txt: var(--mbx-c-table-txt-l);
  --mbx-c-table-head-bg: var(--mbx-c-table-head-bg-l);
  --mbx-c-table-head-txt: var(--mbx-c-table-head-txt-l);
  --mbx-c-table-bord: var(--mbx-c-table-bord-l);

  /** TabViewer **/
  --mbx-c-tabv-bg: var(--mbx-c-tabv-bg-l);
  --mbx-c-tabv-txt: var(--mbx-c-tabv-txt-l);
  --mbx-c-tabv-off-bg: var(--mbx-c-tabv-off-bg-l);
  --mbx-c-tabv-off-bg-h: var(--mbx-c-tabv-off-bg-h-l);
  --mbx-c-tabv-off-txt: var(--mbx-c-tabv-off-txt-l);
  --mbx-c-tabv-off-txt-h: var(--mbx-c-tabv-off-txt-h-l);
}

[data-mbx-id][data-mbx-atts*="dk"] {
  /** Card **/
  --mbx-c-card-bg: var(--mbx-c-card-bg-d);

  --mbx-c-card-txt: var(--mbx-c-card-txt-d);

  /** Carousel **/
  --mbx-c-car-bg: var(--mbx-c-car-bg-d);
  --mbx-c-car-arr: var(--mbx-c-car-arr-d);
  --mbx-c-car-dot-f: var(--mbx-c-car-dot-f-d);

  --mbx-c-car-dot-e: var(--mbx-c-car-dot-e-d);

  /** Container **/
  --mbx-c-con-bg: var(--mbx-c-con-bg-d);
  --mbx-c-con-txt: var(--mbx-c-con-txt-d);

  /** DismissableCard **/
  --mbx-c-dcard-x: var(--mbx-c-dcard-x-d);
  --mbx-c-dcard-x-h: var(--mbx-c-dcard-x-h-d);

  /** Dropdown **/
  --mbx-c-drop-arr: var(--mbx-c-drop-arr-d);

  --mbx-c-drop-arr-h: var(--mbx-c-drop-arr-h-d);

  --mbx-c-drop-bg: var(--mbx-c-drop-bg-d);
  --mbx-c-drop-bg-h: var(--mbx-c-drop-bg-h-d);

  --mbx-c-drop-txt: var(--mbx-c-drop-txt-d);
  --mbx-c-drop-txt-h: var(--mbx-c-drop-txt-h-d);

  /** FormField **/
  --mbx-c-field-bg: var(--mbx-c-field-bg-d);
  --mbx-c-field-txt: var(--mbx-c-field-txt-d);
  --mbx-c-field-bg-h: var(--mbx-c-field-bg-h-d);
  --mbx-c-field-txt-h: var(--mbx-c-field-txt-h-d);
  --mbx-c-field-err-b: var(--mbx-c-field-err-b-d);
  --mbx-c-field-err-txt: var(--mbx-c-field-err-txt-d);

  /** List **/
  --mbx-c-lst-txt: var(--mbx-c-lst-txt-d);

  /** Modal **/
  --mbx-c-mod-bg: var(--mbx-c-mod-bg-d);

  --mbx-c-mod-x: var(--mbx-c-mod-x-d);
  --mbx-c-mod-x-h: var(--mbx-c-mod-x-h-d);

  /** Popup **/
  --mbx-c-pop-bg: var(--mbx-c-pop-bg-d);
  --mbx-c-pop-txt: var(--mbx-c-pop-txt-d);

  /** RadioButtonGroup **/
  --mbx-c-radg-bg: var(--mbx-c-radg-bg-d);
  --mbx-c-radg-txt: var(--mbx-c-radg-txt-d);

  /** Review **/
  --mbx-c-rev-bg: var(--mbx-c-rev-bg-d);
  --mbx-c-rev-txt: var(--mbx-c-rev-txt-d);
  --mbx-c-rev-link: var(--mbx-c-rev-link-d);
  --mbx-c-rev-gh: var(--mbx-c-rev-gh-d);

  /** Table **/
  --mbx-c-table-bg: var(--mbx-c-table-bg-d);
  --mbx-c-table-txt: var(--mbx-c-table-txt-d);
  --mbx-c-table-head-bg: var(--mbx-c-table-head-bg-d);
  --mbx-c-table-head-txt: var(--mbx-c-table-head-txt-d);
  --mbx-c-table-bord: var(--mbx-c-table-bord-d);

  /** TabViewer **/
  --mbx-c-tabv-bg: var(--mbx-c-tabv-bg-d);
  --mbx-c-tabv-txt: var(--mbx-c-tabv-txt-d);
  --mbx-c-tabv-off-bg: var(--mbx-c-tabv-off-bg-d);
  --mbx-c-tabv-off-bg-h: var(--mbx-c-tabv-off-bg-h-d);
  --mbx-c-tabv-off-txt: var(--mobrix--mbx-c-tabv-off-txt-d);
  --mbx-c-tabv-off-txt-h: var(--mbx-c-tabv-off-txt-h-d);
}
