[data-mbx-id]:not([data-mbx-atts*="dk"]) {
  /** Card **/
  --mbx-c-card-bg: var(
    --mbx-card-background-light,
    var(
      --mbx-card-background,
      linear-gradient(to right, #fff, #ededee, #e6e7e7)
    )
  );
  --mbx-c-card-txt: var(
    --mbx-card-text-color-light,
    var(--mbx-card-text-color, var(--mbx-c-txt))
  );

  /** Carousel **/
  --mbx-c-car-bg: var(
    --mbx-carousel-background-light,
    var(--mbx-carousel-background, var(--mbx-c-bg))
  );
  --mbx-c-car-arr: var(
    --mbx-carousel-arrow-color-light,
    var(--mbx-carousel-arrow-color, var(--mbx-c-txt))
  );
  --mbx-c-car-dot-f: var(
    --mbx-carousel-dot-full-background-light,
    var(
      --mbx-carousel-dot-background,
      linear-gradient(
        to top,
        #ff8007,
        #fd8616,
        #fd9b3f,
        #fd9c40,
        #fcbb7f,
        #fad6b4
      )
    )
  );
  --mbx-c-car-dot-e: var(
    --mbx-carousel-dot-empty-background-light,
    var(
      --mbx-carousel-dot-background,
      radial-gradient(
        #000000,
        #181818,
        #282828,
        #3a3a3a,
        #4c4c4c,
        #6b6a6a,
        #858383
      )
    )
  );

  /** Container **/
  --mbx-c-con-bg: var(
    --mbx-container-background-light,
    var(--mbx-container-background, var(--mbx-c-bg-l))
  );
  --mbx-c-con-txt: var(
    --mbx-container-text-color-light,
    var(--mbx-container-text-color, var(--mbx-c-txt-l))
  );

  /** DismissableCard **/
  --mbx-c-dcard-x: var(
    --mbx-dismissablecard-x-color-light,
    var(--mbx-dismissablecard-x-color, var(--mbx-c-dcard-txt))
  );
  --mbx-c-dcard-x-h: var(
    --mbx-dismissablecard-x-color-hover-light,
    var(--mbx-dismissablecard-x-color-hover, red)
  );

  /** Dropdown **/
  --mbx-c-drop-bg: var(
    --mbx-dropdown-background-light,
    var(--mbx-dropdown-background, var(--mbx-c-bg-l))
  );
  --mbx-c-drop-bg-h: var(
    --mbx-dropdown-background-hover-light,
    var(--mbx-dropdown-background-hover, var(--mbx-c-bg-h-l))
  );
  --mbx-c-drop-txt: var(
    --mbx-dropdown-text-color-light,
    var(--mbx-dropdown-text-color, var(--mbx-c-txt-l))
  );
  --mbx-c-drop-txt-h: var(
    --mbx-dropdown-text-color-hover-light,
    var(--mbx-dropdown-text-color-hover, var(--mbx-c-txt-h-l))
  );
  --mbx-c-drop-arr: var(
    --mbx-dropdown-arrow-color-light,
    var(--mbx-dropdown-arrow-color, var(--mbx-c-drop-txt))
  );
  --mbx-c-drop-arr-h: var(
    --mbx-dropdown-arrow-color-hover-light,
    var(--mbx-dropdown-arrow-color-hover, var(--mbx-c-drop-arr))
  );

  /** FormField **/
  --mbx-c-field-bg: var(
    --mbx-formfield-background-light,
    var(--mbx-formfield-background)
  );
  --mbx-c-field-txt: var(
    --mbx-formfield-text-color-light,
    var(--mbx-formfield-text-color)
  );
  --mbx-c-field-bg-h: var(
    --mbx-formfield-background-hover-light,
    var(--mbx-formfield-background-hover)
  );
  --mbx-c-field-txt-h: var(
    --mbx-formfield-text-color-hover-light,
    var(--mbx-formfield-text-color-hover)
  );
  --mbx-c-field-err-b: var(
    --mbx-formfield-error-border-light,
    var(--mbx-formfield-error-border, red)
  );
  --mbx-c-field-err-txt: var(
    --mbx-formfield-error-text-light,
    var(--mbx-formfield-error-text, red)
  );

  /** List **/
  --mbx-c-lst-txt: var(
    --mbx-list-text-color-light,
    var(--mbx-list-text-color, var(--mbx-c-txt-l))
  );

  /** Modal **/
  --mbx-c-mod-bg: var(
    --mbx-modal-background-light,
    var(--mbx-modal-background, rgba(0, 0, 0, 0.8))
  );
  --mbx-c-mod-x: var(
    --mbx-modal-x-color-light,
    var(--mbx-modal-x-color, white)
  );
  --mbx-c-mod-x-h: var(
    --mbx-modal-x-color-hover-light,
    var(--mbx-modal-x-color-hover)
  );

  /** Popup **/
  --mbx-c-pop-bg: var(
    --mbx-popup-background-light,
    var(--mbx-popup-background, var(--mbx-c-bg-l))
  );
  --mbx-c-pop-txt: var(
    --mbx-popup-text-color-light,
    var(--mbx-popup-text-color, var(--mbx-c-txt-l))
  );
  /** RadioButtonGroup **/
  --mbx-c-radg-bg: var(
    --mbx-radiogroup-background-light,
    var(--mbx-radiogroup-background, var(--mbx-c-bg-l))
  );
  --mbx-c-radg-txt: var(
    --mbx-radiogroup-text-color-light,
    var(--mbx-radiogroup-text-color, var(--mbx-c-txt-l))
  );
  /** Review **/
  --mbx-c-rev-bg: var(
    --mbx-review-background-light,
    var(--mbx-review-background, var(--mbx-c-bg-l))
  );
  --mbx-c-rev-txt: var(
    --mbx-review-text-color-light,
    var(--mbx-review-text-color, var(--mbx-c-txt-l))
  );
  --mbx-c-rev-link: var(
    --mbx-review-link-color-light,
    var(--mbx-review-link-color, #615f5f)
  );
  --mbx-c-rev-gh: var(
    --mbx-review-github-color-light,
    var(--mbx-review-github-color, #615f5f)
  );

  /** Table **/
  --mbx-c-table-bg: var(
    --mbx-table-background-light,
    var(--mbx-table-background, var(--mbx-c-bg-l))
  );
  --mbx-c-table-txt: var(
    --mbx-table-text-color-light,
    var(--mbx-table-text-color, var(--mbx-c-txt-l))
  );
  --mbx-c-table-bord: var(
    --mbx-table-border-color-light,
    var(--mbx-table-border-color, darkslategrey)
  );
  --mbx-c-table-head-bg: var(
    --mbx-table-header-background-light,
    var(
      --mbx-table-header-background,
      linear-gradient(to right, #354155, #2b3546)
    )
  );
  --mbx-c-table-head-txt: var(
    --mbx-table-header-text-color-light,
    var(--mbx-table-header-text-color, whitesmoke)
  );

  /** TabViewer **/
  --mbx-c-tabv-bg: var(
    --mbx-tabviewer-background-light,
    var(--mbx-tabviewer-background, linear-gradient(to right, #cccccc, #c7c7c7))
  );
  --mbx-c-tabv-txt: var(
    --mbx-tabviewer-text-color-light,
    var(--mbx-tabviewer-text-color, var(--mbx-c-txt-l))
  );
  --mbx-c-tabv-off-bg: var(
    --mbx-tabviewer-inactive-background-light,
    var(
      --mbx-tabviewer-inactive-background,
      linear-gradient(to right, #a1a0a0, #797979)
    )
  );
  --mbx-c-tabv-off-bg-h: var(
    --mbx-tabviewer-inactive-background-hover-light,
    var(
      --mbx-tabviewer-inactive-background-hover,
      linear-gradient(to right, #b6b4b4, #999797)
    )
  );
  --mbx-c-tabv-off-txt: var(
    --mbx-tabviewer-inactive-text-color-light,
    var(--mbx-tabviewer-inactive-text-color, #c2c2c2)
  );
  --mbx-c-tabv-off-txt-h: var(
    --mbx-tabviewer-inactive-text-color-hover-light,
    var(--mbx-tabviewer-inactive-text-color-hover, var(--mbx-c-txt-h-l))
  );
}

[data-mbx-id][data-mbx-atts*="dk"] {
  /** Card **/
  --mbx-c-card-bg: var(
    --mbx-card-background-dark,
    var(--mbx-card-background, linear-gradient(to right, #2d3748, #1d232e))
  );
  --mbx-c-card-txt: var(
    --mbx-card-text-color-dark,
    var(--mbx-card-text-color, var(--mbx-c-txt))
  );

  /** Carousel **/
  --mbx-c-car-bg: var(
    --mbx-carousel-background-dark,
    var(--mbx-carousel-background, var(--mbx-c-bg))
  );
  --mbx-c-car-arr: var(
    --mbx-carousel-arrow-color-dark,
    var(--mbx-carousel-arrow-color, var(--mbx-c-txt))
  );
  --mbx-c-car-dot-f: var(
    --mbx-carousel-dot-full-background-dark,
    var(
      --mbx-carousel-dot-background,
      linear-gradient(
        to top,
        #ff8007,
        #fd8616,
        #fd9b3f,
        #fd9c40,
        #fcbb7f,
        #fad6b4
      )
    )
  );
  --mbx-c-car-dot-e: var(
    --mbx-carousel-dot-empty-background-dark,
    var(
      --mbx-carousel-dot-background,
      radial-gradient(
        #000000,
        #181818,
        #282828,
        #3a3a3a,
        #4c4c4c,
        #6b6a6a,
        #858383
      )
    )
  );

  /** Container **/
  --mbx-c-con-bg: var(
    --mbx-container-background-dark,
    var(--mbx-container-background, var(--mbx-c-bg-d))
  );
  --mbx-c-con-txt: var(
    --mbx-container-text-color-dark,
    var(--mbx-container-text-color, var(--mbx-c-txt-d))
  );

  /** DismissableCard **/
  --mbx-c-dcard-x: var(
    --mbx-dismissablecard-x-color-dark,
    var(--mbx-dismissablecard-x-color, var(--mbx-c-dcard-txt))
  );
  --mbx-c-dcard-x-h: var(
    --mbx-dismissablecard-x-color-hover-dark,
    var(--mbx-dismissablecard-x-color-hover, red)
  );

  /** Dropdown **/
  --mbx-c-drop-bg: var(
    --mbx-dropdown-background-dark,
    var(--mbx-dropdown-background, var(--mbx-c-bg-d))
  );
  --mbx-c-drop-bg-h: var(
    --mbx-dropdown-background-hover-dark,
    var(--mbx-dropdown-background-hover, var(--mbx-c-bg-h-d))
  );
  --mbx-c-drop-txt: var(
    --mbx-dropdown-text-color-dark,
    var(--mbx-dropdown-text-color, var(--mbx-c-txt-d))
  );
  --mbx-c-drop-txt-h: var(
    --mbx-dropdown-text-color-hover-dark,
    var(--mbx-dropdown-text-color-hover, var(--mbx-c-txt-h-l))
  );
  --mbx-c-drop-arr: var(
    --mbx-dropdown-arrow-color-dark,
    var(--mbx-dropdown-arrow-color, var(--mbx-c-drop-txt))
  );
  --mbx-c-drop-arr-h: var(
    --mbx-dropdown-arrow-color-hover-dark,
    var(--mbx-dropdown-arrow-color-hover, var(--mbx-c-drop-arr))
  );

  /** FormField **/
  --mbx-c-field-bg: var(
    --mbx-formfield-background-dark,
    var(--mbx-formfield-background)
  );
  --mbx-c-field-txt: var(
    --mbx-formfield-text-color-dark,
    var(--mbx-formfield-text-color)
  );
  --mbx-c-field-bg-h: var(
    --mbx-formfield-background-hover-dark,
    var(--mbx-formfield-background-hover)
  );
  --mbx-c-field-txt-h: var(
    --mbx-formfield-text-color-hover-dark,
    var(--mbx-formfield-text-color-hover)
  );
  --mbx-c-field-err-b: var(
    --mbx-formfield-error-border-dark,
    var(--mbx-formfield-error-border, red)
  );
  --mbx-c-field-err-txt: var(
    --mbx-formfield-error-text-dark,
    var(--mbx-formfield-error-text, red)
  );

  /** List **/
  --mbx-c-lst-txt: var(
    --mbx-list-text-color-dark,
    var(--mbx-list-text-color, var(--mbx-c-txt-d))
  );

  /** Modal **/
  --mbx-c-mod-bg: var(
    --mbx-modal-background-dark,
    var(--mbx-modal-background, rgba(0, 0, 0, 0.8))
  );
  --mbx-c-mod-x: var(--mbx-modal-x-color-dark, var(--mbx-modal-x-color, white));
  --mbx-c-mod-x-h: var(
    --mbx-modal-x-color-hover-dark,
    var(--mbx-modal-x-color-hover)
  );

  /** Popup **/
  --mbx-c-pop-bg: var(
    --mbx-popup-background-dark,
    var(--mbx-popup-background, var(--mbx-c-bg-d))
  );
  --mbx-c-pop-txt: var(
    --mbx-popup-text-color-dark,
    var(--mbx-popup-text-color, var(--mbx-c-txt-d))
  );

  /** RadioButtonGroup **/
  --mbx-c-radg-bg: var(
    --mbx-radiogroup-background-dark,
    var(--mbx-radiogroup-background, var(--mbx-c-bg-d))
  );
  --mbx-c-radg-txt: var(
    --mbx-radiogroup-text-color-dark,
    var(--mbx-radiogroup-text-color, var(--mbx-c-txt-d))
  );

  /** Review **/
  --mbx-c-rev-bg: var(
    --mbx-review-background-dark,
    var(--mbx-review-background, var(--mbx-c-bg-d))
  );
  --mbx-c-rev-txt: var(
    --mbx-review-text-color-dark,
    var(--mbx-review-text-color, var(--mbx-c-txt-d))
  );
  --mbx-c-rev-link: var(
    --mbx-review-link-color-dark,
    var(--mbx-review-link-color, white)
  );
  --mbx-c-rev-gh: var(
    --mbx-review-github-color-dark,
    var(--mbx-review-github-color, white)
  );

  /** Table **/
  --mbx-c-table-bg: var(
    --mbx-table-background-dark,
    var(--mbx-table-background, var(--mbx-c-bg-d))
  );
  --mbx-c-table-txt: var(
    --mbx-table-text-color-dark,
    var(--mbx-table-text-color, var(--mbx-c-txt-d))
  );
  --mbx-c-table-head-bg: var(
    --mbx-table-header-background-dark,
    var(
      --mbx-table-header-background,
      linear-gradient(to right, #4b5b77, #3e4c64)
    )
  );
  --mbx-c-table-head-txt: var(
    --mbx-table-header-text-color-dark,
    var(--mbx-table-header-text-color, rgb(255, 255, 255))
  );
  --mbx-c-table-bord: var(
    --mbx-table-border-color-dark,
    var(--mbx-table-border-color, rgb(219, 219, 219))
  );

  /** TabViewer **/
  --mbx-c-tabv-bg: var(
    --mbx-tabviewer-background-dark,
    var(--mbx-tabviewer-background, linear-gradient(to right, #2d3748, #1d232e))
  );
  --mbx-c-tabv-off-bg: var(
    --mbx-tabviewer-inactive-background-dark,
    var(
      --mbx-tabviewer-inactive-background,
      linear-gradient(to right, #3e4b63, #3f4858)
    )
  );
  --mbx-c-tabv-txt: var(
    --mbx-tabviewer-text-color-dark,
    var(--mbx-tabviewer-text-color, var(--mbx-c-txt-d))
  );
  --mbx-c-tabv-off-bg-h: var(
    --mbx-tabviewer-inactive-background-hover-dark,
    var(
      --mbx-tabviewer-inactive-background-hover,
      linear-gradient(to right, #566888, #3c465a)
    )
  );
  --mbx-c-tabv-off-txt: var(
    --mbx-tabviewer-inactive-text-color-dark,
    var(--mbx-tabviewer-inactive-text-color, #c2c2c2)
  );
  --mbx-c-tabv-off-txt-h: var(
    --mbx-tabviewer-inactive-text-color-hover-dark,
    var(--mbx-tabviewer-inactive-text-color-hover, var(--mbx-c-txt-h-d))
  );
}
