[data-mbx-id*="card"] {
  padding: 0 0.1rem;
  background-color: transparent;
  background: var(--mbx-c-card-bg);
  color: var(--mbx-c-card-txt);
  --mbx-container-text-color: var(--mbx-c-card-txt);
}

[data-mbx-id="tview"] [data-mbx-tbvsel="true"] {
  --mbx-button-background-light: var(
    --mbx-tabviewer-background-light,
    var(--mbx-tabviewer-background, linear-gradient(to right, #cccccc, #c7c7c7))
  );
  --mbx-button-text-color-light: var(
    --mbx-tabviewer-text-color-light,
    var(--mbx-tabviewer-text-color)
  );
  --mbx-button-background-dark: var(
    --mbx-tabviewer-background-dark,
    var(--mbx-tabviewer-background, linear-gradient(to right, #2d3748, #1d232e))
  );
  --mbx-button-text-color-dark: var(
    --mbx-tabviewer-text-color-dark,
    var(--mbx-tabviewer-text-color)
  );
}

[data-mbx-id="tview"] [data-mbx-tbvsel="false"] {
  --mbx-button-background-light: var(
    --mbx-tabviewer-inactive-background-light,
    var(
      --mbx-tabviewer-inactive-background,
      linear-gradient(to right, #a1a0a0, #797979)
    )
  );
  --mbx-button-background-hover-light: var(
    --mbx-tabviewer-inactive-background-hover-light,
    var(
      --mbx-tabviewer-inactive-background-hover,
      linear-gradient(to right, #b6b4b4, #999797)
    )
  );
  --mbx-button-text-color-light: var(
    --mbx-tabviewer-inactive-text-color-light,
    var(--mbx-tabviewer-inactive-text-color, #c2c2c2)
  );
  --mbx-button-text-color-hover-light: var(
    --mbx-tabviewer-inactive-text-color-hover-light,
    var(--mbx-tabviewer-inactive-text-color-hover, var(--mbx-c-txt-h))
  );
  --mbx-button-background-dark: var(
    --mbx-tabviewer-inactive-background-dark,
    var(
      --mbx-tabviewer-inactive-background,
      linear-gradient(to right, #3e4b63, #3f4858)
    )
  );
  --mbx-button-background-hover-dark: var(
    --mbx-tabviewer-inactive-background-hover-dark,
    var(
      --mbx-tabviewer-inactive-background-hover,
      linear-gradient(to right, #566888, #3c465a)
    )
  );
  --mbx-button-text-color-dark: var(
    --mbx-tabviewer-inactive-text-color-dark,
    var(--mbx-tabviewer-inactive-text-color, #c2c2c2)
  );
  --mbx-button-text-color-hover-dark: var(
    --mbx-tabviewer-inactive-text-color-hover-dark,
    var(--mbx-tabviewer-inactive-text-color-hover, var(--mbx-c-txt-h))
  );
}

[data-mbx-id*="cont"] {
  background: var(--mbx-c-con-bg);
  color: var(--mbx-c-con-txt);
}

[data-mbx-id="popup"] > [data-mbx-id="cont"] {
  --mbx-container-background-light: var(
    --mbx-popup-background-light,
    var(--mbx-popup-background)
  );
  --mbx-container-text-color-light: var(
    --mbx-popup-text-color-light,
    var(--mbx-popup-text-color)
  );
  --mbx-container-background-dark: var(
    --mbx-popup-background-dark,
    var(--mbx-popup-background)
  );
  --mbx-container-text-color-dark: var(
    --mbx-popup-text-color-dark,
    var(--mbx-popup-text-color)
  );
}

[data-mbx-id="econt"] {
  --mbx-container-background-light: var(
    --mbx-expandablecontainer-background-light,
    var(--mbx-expandablecontainer-background)
  );
  --mbx-container-text-color-light: var(
    --mbx-expandablecontainer-text-color-light,
    var(--mbx-expandablecontainer-text-color)
  );
  --mbx-container-background-dark: var(
    --mbx-expandablecontainer-background-dark,
    var(--mbx-expandablecontainer-background)
  );
  --mbx-container-text-color-dark: var(
    --mbx-expandablecontainer-text-color-dark,
    var(--mbx-expandablecontainer-text-color)
  );
}
