#mobrix-ui-radio-button-group {
  display: flex;
  flex-direction: column;
}

#mobrix-ui-radio-button-group .radio-group-element {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 2rem;
}

#mobrix-ui-radio-button-group .radio-group-element.right {
  flex-direction: row-reverse;
}

#mobrix-ui-radio-button-group .radio-group-element.left {
  flex-direction: row;
}

#mobrix-ui-radio-button-group .radio-group-element.top {
  flex-direction: column;
}

#mobrix-ui-radio-button-group .radio-group-element.bottom {
  flex-direction: column-reverse;
}

#mobrix-ui-radio-button-group .radio-group-element.left .radio-text {
  margin-right: 0.7rem;
}

#mobrix-ui-radio-button-group .radio-group-element.right .radio-text {
  margin-left: 0.7rem;
}

#mobrix-ui-radio-button-group .radio-group-element.top .radio-text {
  margin-bottom: 0.7rem;
}

#mobrix-ui-radio-button-group .radio-group-element.bottom .radio-text {
  margin-top: 0.7rem;
}
