[data-mbx-id="rgr"] {
  padding: 0.3rem;
  width: fit-content;
  display: flex;
  --mbx-rgr-bg: var(
    --mbx-radiogroup-background-light,
    var(--mbx-radiogroup-background, var(--mbx-c-bg))
  );
  --mbx-rgr-txt: var(
    --mbx-radiogroup-text-color-light,
    var(--mbx-radiogroup-text-color, var(--mbx-c-txt))
  );
  background: var(--mbx-rgr-bg);
  color: var(--mbx-rgr-txt);
}

[data-mbx-id="rgr"][data-mbx-dk] {
  --mbx-rgr-bg: var(
    --mbx-radiogroup-background-dark,
    var(--mbx-radiogroup-background, var(--mbx-c-bg))
  );
  --mbx-rgr-txt: var(
    --mbx-radiogroup-text-color-dark,
    var(--mbx-radiogroup-text-color, var(--mbx-c-txt))
  );
}

[data-mbx-id="rgr"] > div {
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1rem 0.3rem;
}

[data-mbx-id="rgr"][data-mbx-rdgh] > div {
  margin: 0.3rem 1rem;
}

[data-mbx-id="rgr"] [data-mbx-id="radio"] {
  --mbx-radio-background-light: var(
    --mbx-radiogroup-radio-background-light,
    var(--mbx-radiogroup-radio-background)
  );
  --mbx-radio-background-hover-light: var(
    --mbx-radiogroup-radio-background-hover-light,
    var(--mbx-radiogroup-radio-background-hover)
  );
  --mbx-radio-icon-background-light: var(
    --mbx-radiogroup-radio-icon-background-light,
    var(--mbx-radiogroup-radio-icon-background)
  );
  --mbx-radio-background-dark: var(
    --mbx-radiogroup-radio-background-dark,
    var(--mbx-radiogroup-radio-background)
  );
  --mbx-radio-background-hover-dark: var(
    --mbx-radiogroup-radio-background-hover-dark,
    var(--mbx-radiogroup-radio-background-hover)
  );
  --mbx-radio-icon-background-dark: var(
    --mbx-radiogroup-radio-icon-background-dark,
    var(--mbx-radiogroup-radio-icon-background)
  );
}

@media (max-width: 600px) {
  [data-mbx-id="rgr"] {
    flex-direction: column !important;
  }

  [data-mbx-id="rgr"] > div {
    margin: 1rem 0.3rem !important;
  }
}
